<div>
    <div class="bread-crumbs">
        <ul class="bread-crumbs-list">
            
            <li class="bread-crumbs-item" v-for="(crumb, ci) in crumbs":key="ci">
               <div class="" :class="{ disabled: isLast(ci) }">

                <a @click="selected(crumb.url)" v-if="crumb.imageurl">
                    <img src="../../../../assets/bread-crumbs/home.svg" alt=""> Nearpeer.org
                </a>
                
                <router-link :to="crumb.url" v-if="crumb.imageurl===undefined">
                    {{ crumb.name }}    
                   </router-link>

                   <div class="bread-crumbs-arrow">
                       <img src="../../../../assets/bread-crumbs/arrow.svg" alt="">
                   </div>
                
              </div>
            </li>
        </ul>
    </div>
</div>
<!-- /course/course-landing -->