<div
  v-if="isPageLoading"
  style="min-height: 50px;"
  class="align-item-center flex-direction-row flex-view justify-content-c"
>
  <div class="blue-loader"></div>
</div>
<div v-else class="comments-main-class pp">
  <div class="animation" v-if="!preview">
    <div class="flex-view justify-content-b align-items-center not-previewed">
      <p class="subtitle-2">Comments : {{commentsCountShow}}</p>
      <img
        src="./../../../../assets/Icon-Close-black.svg"
        @click="viewPreview"
      />
    </div>
    <div
      style=" 
overflow: auto;
padding: 0 15px;
"
      id="commentHeight"
    >
      <!-- v-bind:class=" !preview ?'height50vh':''" -->
      <div class="comment-container">
        <div
          class="comment-field"
          style="    height: 60px !important;
        "
        >
          <div
            style="position: relative;"
            class="flex-view flex-end flex-direction-row justify-content-b"
          >
            <img
              v-if="!((currentUser.image || []).length > 0)"
              class="user-image"
              src="../../../../assets/Mask Group 29.svg"
            />
            <img
              v-if="((currentUser.image || []).length > 0)"
              class="user-image"
              :src="currentUser.image"
            />
            <!-- v-model="commentText"
            v-if="!toComment" -->
            <textarea
              id="1-t"
              class="flex-direction-row justify-content-b question flex-view user-comment-field-holder"
              cdkFocusInitial
              @click="handleComment()"
              placeholder="Ask your teacher or peers a question"
            >
            </textarea>
            <label class="custom-file-upload" @click="handleComment()">
              <!-- @change="onImageSelected($event)"    accept="image/*" -->
              <!-- <input type="file" style="display: none;" /> -->
              <img
                class="cursor"
                src="../../../../assets/Icon - Add Photo.svg"
              />
            </label>
          </div>
          <!-- COMMENTED CODE -->
          <div
            style="display: none;"
            v-if="!isEdit && toPost"
            class="comment-buttons flex-view flex-direction-row"
          >
            <!-- <div class="progress">
          <div class="progress-bar bg-suc" role="progressbar" :style="{'width': uploadPercentage+'%'}"
            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div> -->
            <div
              class="flex-view flex-direction-row comment-buttons-ani align-items-center"
            >
              <!-- <p v-if="!isImgUploaded">uploaded {{uploadPercentage}}%</p> -->
              <input type="checkbox" v-model="toNotify" />
              <label style="margin: 0 0 0 10px; font-size: 10px;" for="checkbox"
                >Notify Teacher</label
              >
              <button
                style="margin: 0 0 0 10px;"
                class="btn-np btn-contained-light"
                @click="cancelToRestore()"
              >
                <span>Cancel</span>
              </button>
              <button
                style="margin: 0 0 0 10px;"
                v-if="!isEdit && toPost"
                class="btn-np btn-contained"
                @click="postComment()"
              >
                Post
              </button>
              <!-- <button :disabled="!isImgUploaded" style="margin: 0 0 0 10px;" v-if="isEdit" class="btn-np btn-contained"
            @click="updateComment()">
            Update
          </button> -->
            </div>
          </div>
        </div>
      </div>
      <!-- IMAGE -->
      <!-- <div
        v-if="imgLocalUrl.length > 0 && !(toReply || isEditReply || isEdit)"
        class="view-img"
      >
        <div v-if="!isImgUploaded && uploadPercentage != 100" class="progress">
          <div
            class="progress-bar bg-suc"
            role="progressbar"
            :style="{'width': +uploadPercentage+'%'}"
            aria-valuenow="75"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <button @click="removeImg()">X</button>
        <img :src="imgLocalUrl" id="output-img" class="comment-image" />
      </div> -->

      <div v-if="(commentArr || []).length > 0" class="comment-box">
        <div
          class="dropdown flex-view flex-directin-row align-items-center mb-4 mr-1"
        >
          <img src="./../../../../assets/Icon-Sort-by.svg" />
          <label class="m-1 mr-2 subtitle-2">
            Sort by:
          </label>
          <ul class="p-0 m-0">
            <li>
              <button
                class="filter-btn"
                v-bind:class="currentOrder == 0 ?'filter-btn-active':''"
                @click="sortComment(0)"
              >
                Recent
              </button>
            </li>
            <li>
              <button
                v-bind:class="currentOrder == 1 ?'filter-btn-active':''"
                class="filter-btn"
                @click="sortComment(1)"
              >
                Popular
              </button>
            </li>
          </ul>
        </div>

        <div
          v-if="(commentArr || []).length > 0 && $route.params.videoId == selectedVideo.id "
        >
          <!-- v-if="((!showComments && index == 0) || (showComments))"
                v-if="!showComments" -->
          <div
            style="margin: 10px 0;position: relative;"
            v-for="(comment,index) in commentArr"
            :id="index + '-view-reply'"
          >
            <!-- v-if="((comment || {}).replies || []).length != 0 && currentCommentId != comment.comment_id" -->
            <div
              :id="index"
              class="comment-thread"
              v-if="((comment || {}).replies || []).length != 0 "
            ></div>
            <div class="comment flex-view flex-direction-row ">
              <div class="commenter-image mt-1">
                <img
                  style="width: 100%; height: 100%;"
                  v-bind:src="comment.image"
                />
              </div>
              <div class="comment-body flex-view flex-direction-col">
                <div
                  class="new-comment-body flex-view flex-direction-col"
                  :id="comment.comment_id"
                >
                  <label class="body-2 font-family-bold"
                    >{{comment.user_name}}
                    <span class="comment-date subtitle-2"
                      >{{format(String(comment.time)).format('MM/DD/YYYY
                      hh:mm')}}</span
                    ></label
                  >
                  <img
                    class="comment-image"
                    v-if="comment.image_url"
                    v-bind:src="comment.image_url"
                  />
                  <div v-if="!(((comment || {}).link || []).length > 0)">
                    <p class="body-2" style="margin-bottom: 5px;">
                      {{comment.text}}
                    </p>
                    <a
                      :href="comment.link"
                      target="_blank"
                      class="body-2"
                      style=" margin-bottom: 5px;"
                      >{{comment.link}}</a
                    >
                  </div>
                </div>

                <div
                  v-if="currentComment.comment_id == comment.comment_id && isEdit"
                  class="update-comment"
                >
                  <div
                    style="position: relative;"
                    class="flex-view align-items-center flex-direction-row justify-content-b"
                  >
                    <!-- <img class="user-image" src="../../../../assets/Mask Group 29.svg" />               v-model="editText"-->
                    <textarea
                      autofocus
                      id="5-t"
                      class="flex-direction-row justify-content-b question flex-view user-comment-field-holder"
                    ></textarea>
                    <label class="custom-file-upload">
                      <input
                        type="file"
                        style="display: none;"
                        @change="onImageSelected($event)"
                        accept="image/*"
                      />
                      <img src="../../../../assets/Icon - Add Photo.svg" />
                    </label>
                  </div>
                  <!-- COMMENTED CODE  -->
                  <div
                    style="margin: 10px 0; justify-content: flex-end; display: none;"
                    class="flex-view flex-direction-row"
                  >
                    <div
                      class="flex-view flex-direction-row align-items-center"
                    >
                      <input type="checkbox" v-model="toNotify" />
                      <label
                        style="margin: 0 0 0 10px; font-size: 14px;"
                        for="checkbox"
                        >Notify Teacher</label
                      >
                      <button
                        style="margin: 0 0 0 10px;"
                        class="btn-np  text-filled"
                        @click="cancelToRestore()"
                      >
                        Cancel
                      </button>
                      <button
                        style="margin: 0 0 0 10px;"
                        v-if="isEdit"
                        class="btn-np btn-contained"
                        @click="updateComment()"
                      >
                        Update Comment
                      </button>
                    </div>
                  </div>
                </div>

                <div
                  class="flex-view flex-direction-row"
                  style="    padding: 5px 15px;"
                >
                  <div class=" flex-view flex-direction-row align-items-center">
                    <p
                      v-if="comment.is_teacher_notified"
                      style="font-size: 12px; margin:0 10px 0 0;"
                    >
                      Teacher Notified
                    </p>
                  </div>
                  <div class="heart">
                    <div
                      v-if="comment.selfLiked || (((comment || {}).reaction || {}).count || 0) > 0"
                      class="heart"
                      v-bind:class="disableReact ?'disable-div':''"
                      @click="comment.selfLiked ? revertReactComment(comment): reactComment(comment)"
                    >
                      <img
                        v-if="comment.selfLiked"
                        class="like-heart"
                        src="../../../../assets/Like-Selected-State.svg"
                      />
                      <img
                        v-if="!comment.selfLiked"
                        class="like-heart_"
                        src="../../../../assets/Like-Normal-State.svg"
                      />

                      <label
                        v-if="(((comment || {}).reaction || {}).count || 0) == 1"
                        >{{(((comment || {}).reaction || {}).count || 0) == 1 ?
                        (((comment || {}).reaction || {}).count || 0): ""}}
                        Like</label
                      >
                      <label
                        v-if="(((comment || {}).reaction || {}).count || 0) > 1"
                        >{{(((comment || {}).reaction || {}).count || 0) > 1 ?
                        (((comment || {}).reaction || {}).count || 0): ""}}
                        Likes</label
                      >
                    </div>

                    <div
                      v-if="!comment.selfLiked && (((comment || {}).reaction || {}).users || []).length == 0 && ((((comment || {}).reaction || {}).count || 0) == 0 || (((comment || {}).reaction || {}).count || 0) < 0)"
                      class="heart"
                      @click="reactComment(comment)"
                      v-bind:class="disableReact ?'disable-div':''"
                    >
                      <img
                        class="like-heart_"
                        src="../../../../assets/Like-Normal-State.svg"
                      />
                      <label>Like</label>
                    </div>
                  </div>

                  <div class="share_">
                    <label @click="replyComment(comment,index)">Reply</label>
                  </div>
                  <div class="moreOptions">
                    <img
                      @click.stop="moreOptions = !moreOptions; currentMoreOptionId = comment.comment_id; showMore(index, -1, 'comment')"
                      style="width: 18px;"
                      src="../../../../assets/Icon - View More.svg"
                    />
                    <div
                      v-click-outside="hideOptionsBox"
                      class="opt"
                      v-if="moreOptions && currentMoreOptionId == comment.comment_id"
                    >
                      <ul style="width: 140px;">
                        <li
                          v-if="comment.user_id == currentUser.id"
                          class="drop-hover"
                        >
                          <a
                            href="javascript:void(0)"
                            @click.stop="editComment(comment)"
                          >
                            Edit
                          </a>
                        </li>
                        <li
                          v-if="comment.user_id == currentUser.id"
                          class="drop-hover"
                        >
                          <a
                            href="javascript:void(0)"
                            @click.stop="deleteCommentConfirm(comment)"
                          >
                            Delete
                          </a>
                        </li>
                        <li style="border-bottom: none;" class="drop-hover">
                          <a
                            href="javascript:void(0)"
                            @click.stop="reportComment(comment)"
                          >
                            Report Comment
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div
                    class="delete-bg flex-view flex-direction-col justify-content-c"
                    v-if="deleteCommentDiv"
                  >
                    <div class="dialog-holder">
                      <h5 class="font-family-bold">Delete Comment</h5>
                      <p class="body-2">Are you sure you want to delete?</p>
                      <div
                        class="flex-view flex-directin-row justify-content-b"
                      >
                        <div class="mt-3 align-self-center">
                          <button
                            class="btn-np  text-filled"
                            @click="deleteCommentDiv = false"
                          >
                            Cancel
                          </button>
                        </div>
                        <div class="mt-3">
                          <button
                            class="btn-np btn-contained"
                            @click="deleteComment()"
                          >
                            Delete
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="delete-bg flex-view flex-direction-col justify-content-c"
                    v-if="deleteReplyDiv"
                  >
                    <div class="wt-holder">
                      <h5 class="font-family-bold">Delete Reply</h5>
                      <p class="body-2">
                        Are you sure you want to delete this reply?
                      </p>
                      <div
                        class="flex-view flex-directin-row justify-content-b"
                      >
                        <div class="mt-3 align-self-center">
                          <button
                            class="btn-np  text-filled"
                            @click="deleteReplyDiv = false"
                          >
                            Cancel
                          </button>
                        </div>
                        <div class="mt-3">
                          <button
                            class="btn-np btn-contained"
                            @click="deleteReply()"
                          >
                            Delete
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  v-if="((comment || {}).replies || []).length != 0 && currentCommentId != comment.comment_id"
                >
                  <div class="view-reply-thread"></div>
                  <div>
                    <a
                      style="color: black; display: flex;margin: 10px 0px;"
                      href="javascript:void(0)"
                      @click="responseBoxHandler(comment,index)"
                    >
                      <img
                        src="./../../../../assets/rep_arrow.svg"
                        style="margin-right: 8px;"
                      />
                      <p v-if="comment.replies.length == 1" class="subtitle-1">
                        {{comment.replies.length}} Reply
                      </p>
                      <p v-if="comment.replies.length > 1" class="subtitle-1">
                        {{comment.replies.length}} Replies
                      </p>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!--Reply-->
            <!-- <div
              v-if="imgLocalUrl.length > 0 && (((comment || {}).replies || []).length == 0 && currentCommentId == comment.comment_id && !isEdit && toReply && !toReportComment && !toReportReply)"
              class="view-img"
            >
              <div
                v-if="!isImgUploaded && uploadPercentage != 100"
                class="progress"
              >
                <div
                  class="progress-bar bg-suc"
                  role="progressbar"
                  :style="{'width': +uploadPercentage+'%'}"
                  aria-valuenow="75"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <button @click="removeImg()">X</button>
              <img :src="imgLocalUrl" id="output-img" class="comment-image" />
            </div> -->
            <div
              style="display: none;"
              v-if="((comment || {}).replies || []).length == 0 && currentCommentId == comment.comment_id && !isEdit && toReply && !toReportComment && !toReportReply"
            >
              <div class="comment-field" style="padding: 0 0 0 40px;">
                <!-- COMMENTED CODE -->
                <div
                  style="position: relative;"
                  class="flex-view align-items-center flex-direction-row justify-content-b"
                >
                  <img
                    v-if="!((currentUser.image || []).length > 0)"
                    class="user-image"
                    src="../../../../assets/Mask Group 29.svg"
                  />
                  <img
                    v-if="((currentUser.image || []).length > 0)"
                    class="user-image"
                    :src="currentUser.image"
                  />
                  <!-- v-model="replyText" -->
                  <textarea
                    autofocus
                    id="2-t"
                    class="flex-direction-row justify-content-b question flex-view user-comment-field-holder"
                  ></textarea>
                  <label class="custom-file-upload">
                    <input
                      type="file"
                      style="display: none;"
                      @change="onImageSelected($event)"
                      accept="image/*"
                    />
                    <img src="../../../../assets/Icon - Add Photo.svg" />
                  </label>
                </div>
                <div
                  v-if="toReply"
                  style="display: none;"
                  class="comment-buttons flex-view flex-direction-row"
                >
                  <div class="flex-view flex-direction-row align-items-center">
                    <p v-if="!isImgUploaded">uploaded {{uploadPercentage}}%</p>
                    <input type="checkbox" v-model="toNotify" />
                    <label
                      style="margin: 0 0 0 10px; font-size: 14px;"
                      for="checkbox"
                      >Notify Teacher</label
                    >
                    <button
                      style="margin: 0 0 0 10px;"
                      class="btn-np  text-filled"
                      @click="cancelToRestore()"
                    >
                      Cancel
                    </button>
                    <button
                      style="margin: 0 0 0 10px;"
                      v-if="!isEdit"
                      class="btn-np btn-contained"
                      @click="postReply()"
                    >
                      Reply
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- COMMMENNAKDSDFAJF -->
            <!-- <div
              v-if="imgLocalUrl.length > 0 && (((comment || {}).replies || []).length != 0 && currentCommentId == comment.comment_id)"
              class="view-img"
            >
              <div
                v-if="!isImgUploaded && uploadPercentage != 100"
                class="progress"
              >
                <div
                  class="progress-bar bg-suc"
                  role="progressbar"
                  :style="{'width': +uploadPercentage+'%'}"
                  aria-valuenow="75"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <button @click="removeImg()">X</button>
              <img :src="imgLocalUrl" id="output-img" class="comment-image" />
            </div> -->
            <div
              v-if="((comment || {}).replies || []).length != 0 && currentCommentId == comment.comment_id"
              v-for="(reply,replyIndex) in comment.replies"
              class="response-box"
              style="position: relative;"
              :id="comment.replies.length - replyIndex + '-reply'"
            >
              <div class="reply-thread"></div>
              <!-- :class="{'last-reply': comment.replies.length == index + 1}" -->
              <!-- COMMENTED CODE -->
              <div
                v-if="currentReplyId == reply.id && !isEdit && !toReportComment && !toReportReply & toReply"
                class="comment-field"
                style="padding: 0px;display: none;"
              >
                <div
                  style="position: relative;"
                  class="flex-view align-items-center flex-direction-row justify-content-b"
                >
                  <img
                    v-if="!((currentUser.image || []).length > 0)"
                    class="user-image"
                    src="../../../../assets/Mask Group 29.svg"
                  />
                  <img
                    v-if="((currentUser.image || []).length > 0)"
                    class="user-image"
                    :src="currentUser.image"
                  />
                  <textarea
                    autofocus
                    id="3-t"
                    class="flex-direction-row justify-content-b question flex-view user-comment-field-holder"
                    v-model="replyText"
                  ></textarea>
                  <label class="custom-file-upload">
                    <input
                      type="file"
                      style="display: none;"
                      @change="onImageSelected($event)"
                      accept="image/*"
                    />
                    <img src="../../../../assets/Icon - Add Photo.svg" />
                  </label>
                </div>
                <div
                  v-if="toReply"
                  class="comment-buttons flex-view flex-direction-row"
                >
                  <div
                    class="flex-view flex-direction-row comment-buttons-ani align-items-center"
                  >
                    <p v-if="!isImgUploaded">uploaded {{uploadPercentage}}%</p>
                    <input type="checkbox" v-model="toNotify" />
                    <label
                      style="margin: 0 0 0 10px; font-size: 14px;"
                      for="checkbox"
                      >Notify Teacher</label
                    >
                    <button
                      style="margin: 0 0 0 10px;"
                      class="btn-np  text-filled"
                      @click="cancelToRestore()"
                    >
                      Cancel
                    </button>
                    <button
                      style="margin: 0 0 0 10px;"
                      v-if="!isEdit"
                      class="btn-np btn-contained"
                      @click="postReply()"
                    >
                      Reply
                    </button>
                  </div>
                </div>
              </div>

              <div class="comment flex-view flex-direction-row">
                <div class="commenter-image mt-1">
                  <img
                    style="width: 100%; height: 100%;"
                    v-bind:src="reply.image"
                  />
                </div>
                <div class="comment-body flex-view flex-direction-col">
                  <div class="new-comment-body flex-view flex-direction-col">
                    <label class="body-2 font-family-bold"
                      >{{reply.user_name}}
                      <span class="comment-date subtitle-2"
                        >{{format(String(reply.time)).format('MM/DD/YYYY
                        hh:mm')}}</span
                      ></label
                    >
                    <img
                      class="comment-image"
                      style="margin: 10px 0;"
                      v-if="reply.image_url"
                      v-bind:src="reply.image_url"
                    />
                    <div
                      v-if="!(((reply || {}).link || []).length > 0) && !isEditReply"
                    >
                      <p class="content body-2">
                        {{reply.text}}
                      </p>
                      <a
                        :href="reply.link"
                        target="_blank"
                        class="body-2"
                        style="margin-bottom: 5px;"
                        >{{reply.link}}</a
                      >
                    </div>
                  </div>

                  <div
                    class="flex-view flex-direction-row"
                    style="padding: 5px 15px;"
                  >
                    <div
                      class=" flex-view flex-direction-row align-items-center"
                    >
                      <p
                        v-if="reply.is_teacher_notified"
                        style="font-size: 12px;margin: 0 10px 0 0;"
                      >
                        Teacher Notified
                      </p>
                    </div>
                    <div class="heart">
                      <div
                        v-bind:class="disableReact ?'disable-div':''"
                        v-if="reply.selfLiked || (((reply || {}).reaction || {}).count || 0) > 0"
                        class="heart"
                        @click="reply.selfLiked ? revertReactCommentReply(reply) : reactCommentReply(reply)"
                      >
                        <img
                          v-if="reply.selfLiked"
                          class="like-heart"
                          src="../../../../assets/Like-Selected-State.svg"
                        />
                        <img
                          v-if="!reply.selfLiked"
                          class="like-heart_"
                          src="../../../../assets/Like-Normal-State.svg"
                        />

                        <label
                          v-if="(((reply || {}).reaction || {}).count || 0) == 1"
                          >{{(((reply || {}).reaction || {}).count || 0) == 1 ?
                          (((reply || {}).reaction || {}).count || 0): ""}}
                          Like</label
                        >
                        <label
                          v-if="(((reply || {}).reaction || {}).count || 0) > 1"
                          >{{(((reply || {}).reaction || {}).count || 0) > 1 ?
                          (((reply || {}).reaction || {}).count || 0): ""}}
                          Likes</label
                        >
                      </div>
                      <div
                        v-if="!reply.selfLiked && (((reply || {}).reaction || {}).users || []).length ==0 || (((reply || {}).reaction || {}).count || 0) == 0 || (((reply || {}).reaction || {}).count || 0) < 0"
                        class="heart"
                        v-bind:class="disableReact ?'disable-div':''"
                        @click="reactCommentReply(reply)"
                      >
                        <img
                          class="like-heart_"
                          src="../../../../assets/Like-Normal-State.svg"
                        />
                        <label>Like</label>
                      </div>
                    </div>
                    <!-- v-click-outside="hideReplyOptionsBox" -->
                    <div class="moreOptions">
                      <img
                        @click.stop="moreOptionsReply = !moreOptionsReply; currentReplyId = reply.id; showMore(index, replyIndex, 'reply')"
                        style="width: 18px;"
                        src="../../../../assets/Icon - View More.svg"
                      />
                      <div
                        v-click-outside="hideOptionsBox"
                        class="opt"
                        v-if="moreOptionsReply && currentReplyId == reply.id"
                      >
                        <ul style="width: 135px;">
                          <li v-if="reply.user_id == currentUser.id">
                            <a
                              href="javascript:void(0)"
                              @click.stop="editReply(reply)"
                            >
                              Edit
                            </a>
                          </li>
                          <li v-if="reply.user_id == currentUser.id">
                            <a
                              href="javascript:void(0)"
                              @click.stop="deleteReplyConfirm(reply)"
                            >
                              Delete
                            </a>
                          </li>
                          <li style="border-bottom: none;">
                            <a
                              href="javascript:void(0)"
                              @click.stop="reportCommentReply(reply)"
                            >
                              Report Comment
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- <a href="javascript:void(0)" v-if="comment.replies.length != 0" @click="responseBoxHandler(comment)">View Reply</a> -->
                </div>
              </div>

              <div
                v-if="imgLocalUrl.length > 0 && (currentReplyId == reply.id && isEdit && !toReportComment && !toReportReply && isEditReply)"
                class="view-img"
              >
                <div
                  v-if="!isImgUploaded && uploadPercentage != 100"
                  class="progress"
                >
                  <div
                    class="progress-bar bg-suc"
                    role="progressbar"
                    :style="{'width': +uploadPercentage+'%'}"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <button @click="removeImg()">X</button>
                <img :src="imgLocalUrl" id="output-img" class="comment-image" />
              </div>
              <!-- COMMENTED CODE           v-model="replyText" -->
              <div
                v-if="currentReplyId == reply.id && isEdit && !toReportComment && !toReportReply && isEditReply"
                style="padding: 10px 0px 0px 0px; display: none;"
              >
                <div
                  style="position: relative;"
                  class="flex-view align-items-center flex-direction-row justify-content-b"
                >
                  <img
                    v-if="!((currentUser.image || []).length > 0)"
                    class="user-image"
                    src="../../../../assets/Mask Group 29.svg"
                  />
                  <img
                    v-if="((currentUser.image || []).length > 0)"
                    class="user-image"
                    :src="currentUser.image"
                  />
                  <textarea
                    autofocus
                    id="4-t"
                    class="flex-direction-row justify-content-b question flex-view user-comment-field-holder"
                  ></textarea>
                  <label class="custom-file-upload">
                    <input
                      type="file"
                      style="display: none;"
                      @change="onImageSelected($event)"
                      accept="image/*"
                    />
                    <img src="../../../../assets/Icon - Add Photo.svg" />
                  </label>
                </div>
                <!-- COMMENTED CODE  -->
                <div
                  style="margin: 10px 0; justify-content: flex-end;display: none;"
                  class="flex-view flex-direction-row"
                >
                  <div class="flex-view flex-direction-row align-items-center">
                    <p v-if="!isImgUploaded">uploaded {{uploadPercentage}}%</p>
                    <input type="checkbox" v-model="toNotify" />
                    <label
                      style="margin: 0 0 0 10px; font-size: 10px;"
                      for="checkbox"
                      >Notify Teacher</label
                    >
                    <button
                      style="margin: 0 0 0 10px;"
                      class="btn-np  text-filled"
                      @click="cancelToRestore()"
                    >
                      Cancel
                    </button>
                    <button
                      style="margin: 0 0 0 10px;"
                      v-if="isEdit"
                      class="btn-np btn-contained"
                      @click="updateReply()"
                    >
                      Update Reply
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div v-if="isToLoadMore" class="flex-view justify-content-c">
            <div class="lds-ring">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <scroll-loader
              id="test"
              :loader-method="onScroll"
              :loader-enable="isNext"
            >
            </scroll-loader>
          </div>
        </div>
      </div>
      <!-- <div class="mb-3">
  <button @click="commentsHandler" class="btn-np text-filled">
    <span v-if="!showComments">View</span
    ><span v-if="showComments">Hide</span> Comments
  </button>
</div> -->
      <div
        class="feedback-bg flex-view flex-direction-col justify-content-c"
        v-if="toReportComment"
        style="z-index: 9999999999999;"
      >
        <div class="wt-holder">
          <div>
            <h5 class="font-family-bold">Report Comment</h5>
            <ul class="report-list mt-3">
              <li>
                <input
                  @click="reports('Offensive Content', $event)"
                  type="checkbox"
                />
                <label class="body-2">Offensive Content</label>
              </li>
              <li>
                <input
                  @click="reports('Sexually Explicit Content Used', $event)"
                  type="checkbox"
                />
                <label class="body-2">Sexually Explicit Content Used</label>
              </li>
              <li>
                <input
                  @click="reports('Comment has abusive language', $event)"
                  type="checkbox"
                />
                <label class="body-2">Comment has abusive language</label>
              </li>

              <li class="flex-view flex-direction-col">
                <div>
                  <input @click="isOtherOpt = true" type="checkbox" />
                  <label class="body-2">Other</label>
                </div>
                <textarea
                  v-if="isOtherOpt"
                  v-model="reportCommentDesc"
                  class="other-text"
                ></textarea>
              </li>
            </ul>
          </div>
          <div class="justify-content-end flex-view flex-direction-row">
            <button class="btn-np  text-filled" @click="cancelToRestore()">
              Cancel
            </button>
            <button class="btn-np btn-contained" @click="postReportComment()">
              Report
            </button>
          </div>
        </div>
      </div>
      <div
        class="poppup-cp-container"
        v-if="toReportReply"
        style="z-index: 9999999999999;"
      >
        <div class="poppup-cp-new-overlay">
          <div class="poppup-cp-new mt-4">
            <!-- <span class="closeBtn" @click="toReportComment/ = false">x</span> -->
            <div>
              <div>
                <h5 class="font-family-bold">Report Reply</h5>
                <ul class="report-list mt-3">
                  <li>
                    <input
                      @click="reportCommentDesc = 'Offensive Content'"
                      type="checkbox"
                    />
                    <label>Offensive Content</label>
                  </li>
                  <li>
                    <input
                      @click="reportCommentDesc = 'Sexually Explicit Content Used'"
                      type="checkbox"
                    />
                    <label>Sexually Explicit Content Used</label>
                  </li>
                  <li>
                    <input
                      @click="reportCommentDesc = 'Comment has abusive language'"
                      type="checkbox"
                    />
                    <label>Comment has abusive language</label>
                  </li>
                  <li class="flex-view flex-direction-col">
                    <div>
                      <input
                        @click="isOtherOpt = !isOtherOpt"
                        type="checkbox"
                      />
                      <label class="body-2">Other</label>
                    </div>
                    <textarea
                      v-if="isOtherOpt"
                      v-model="reportCommentDesc"
                      class="other-text"
                    ></textarea>
                  </li>
                </ul>
              </div>
              <div class="justify-content-end flex-view flex-direction-row">
                <button class="btn-np  text-filled" @click="cancelToRestore()">
                  Cancel
                </button>
                <button class="btn-np btn-contained" @click="postReplyReport()">
                  Report
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Comment Field Section -->

  <!-- @click="commentPreviewHandler" -->
  <div v-if="preview" @click="commentPreviewHandler">
    <div class="flex-view justify-content-b align-items-center previewed">
      <div class="flex-view align-items-center">
        <p class="subtitle-2">Discussion :</p>
        <p class="comment-bg-box">{{commentsCountShow}}</p>
      </div>
      <img src="./../../../../assets/commentarrows.svg" />
    </div>
    <div>
      <div
        v-if="(commentArr || []).length > 0 && $route.params.videoId == selectedVideo.id"
      >
        <div
          style="margin: 10px 0;
        padding: 0 15px;
    "
          v-if="((!showComments && index == 0) || (showComments))"
          v-for="(comment,index) in commentArr"
        >
          <div class="comment flex-view flex-direction-row">
            <div class="commenter-image mt-1">
              <img
                style="width: 100%; height: 100%;"
                v-bind:src="comment.image"
              />
            </div>
            <div class="comment-body flex-view flex-direction-col">
              <div
                class="new-comment-body flex-view flex-direction-col"
                style="background-color: var(--white);    padding: 0;
            "
              >
                <label class="body-2 font-family-bold"
                  >{{comment.user_name}}
                  <span class="comment-date subtitle-2"
                    >{{format(String(comment.time)).format('MM/DD/YYYY
                    hh:mm')}}</span
                  ></label
                >
                <!-- class="comment-image" -->

                <img
                  style="    max-width: 60px;
                  max-height: 80px;"
                  v-if="comment.image_url"
                  v-bind:src="comment.image_url"
                />
                <div
                  v-if="!(((comment || {}).link || []).length > 0) && !isEdit"
                >
                  <p
                    class="body-2"
                    style="    margin-bottom: 5px;
                    max-height: 45px;
                    overflow: hidden;"
                  >
                    {{comment.text}}
                  </p>
                  <a
                    :href="comment.link"
                    target="_blank"
                    class="body-2"
                    style=" margin-bottom: 5px;"
                    >{{comment.link}}</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else style="padding: 0 15px;margin-bottom: 15px;margin-top: 15px;">
        <p class="subtitle-2">
          Be the First one to Comment!
        </p>
      </div>
    </div>
  </div>

  <div
    class="feedback-bg"
    style="background-color:rgb(8 8 8 / 17%) !important"
    v-if="popComment"
  >
    <!-- COMMENT -->
    <div
      v-if="toComment"
      class="comment-buttons flex-view flex-direction-col comment-pop-up"
      v-click-outside="hidePopComment"
    >
      <div
        v-if="(imgLocalUrl || []).length > 0 && !(toReply || isEditReply || isEdit)"
        class="view-img"
      >
        <!--   -->
        <div
          class="progress"
          style="
        height: 4px; margin-bottom: 4px;"
          v-if="!isImgUploaded && uploadPercentage != 100"
        >
          <div
            class="progress-bar bg-suc"
            role="progressbar"
            :style="{'width': +uploadPercentage+'%' , }"
            style="height: 4px;"
            aria-valuenow="75"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>

        <img
          :src="imgLocalUrl"
          id="output-img"
          style="    width: 50px;
    height: 100px;"
        />
        <button @click="removeImg()">X</button>
      </div>

      <div class="flex-view" style="    height: 40px;">
        <img
          v-if="!((currentUser.image || []).length > 0)"
          class="user-image"
          src="../../../../assets/Mask Group 29.svg"
        />
        <img
          v-if="((currentUser.image || []).length > 0)"
          class="user-image"
          :src="currentUser.image"
        />
        <!-- @click="handleComment()"      id="1-t"-->
        <textarea
          id="post-comment"
          class="flex-direction-row justify-content-b question flex-view user-comment-field-holder text-area-comment-popup"
          cdkFocusInitial
          autofocus="true"
          placeholder="Ask your teacher or peers a question"
          v-model="commentText"
        ></textarea>
        <label class="custom-file-upload">
          <input
            type="file"
            style="display: none;"
            @change="onImageSelected($event)"
            accept="image/*"
          />
          <img class="cursor" src="../../../../assets/Icon - Add Photo.svg" />
        </label>
      </div>

      <!-- comment-buttons-ani -->
      <div
        class="flex-view flex-direction-row  align-items-center justify-content-end popup-btn"
      >
        <!-- <p v-if="!isImgUploaded">uploaded {{uploadPercentage}}%</p> -->
        <input type="checkbox" v-model="toNotify" />
        <label style="margin: 0 0 0 10px; font-size: 10px;" for="checkbox"
          >Notify Teacher</label
        >
        <button
          style="margin: 0 0 0 10px;"
          class="btn-np btn-contained-light"
          @click="cancelToRestore()"
        >
          <span>Cancel</span>
        </button>
        <button
          style="margin: 0 0 0 10px;"
          v-if="!isEdit && toPost"
          class="btn-np btn-contained"
          @click="postComment()"
        >
          Post
        </button>
      </div>
    </div>

    <!-- REPLY -->
    <div
      v-if="toReply"
      class="comment-buttons flex-view flex-direction-col reply-pop-up"
      v-click-outside="hidePopComment"
    >
      <!-- && (((comment || {}).replies || []).length == 0 && currentCommentId == comment.comment_id 
     && !(isEdit || toComment || toReportComment || toReportReply)) -->
      <div v-if="(imgLocalUrl || []).length > 0" class="view-img">
        <div
          v-if="!isImgUploaded && uploadPercentage != 100"
          class="progress"
          style="
        height: 4px; margin-bottom: 4px;"
        >
          <div
            class="progress-bar bg-suc"
            role="progressbar"
            :style="{'width': +uploadPercentage+'%'}"
            style="height: 4px;"
            aria-valuenow="75"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <img
          :src="imgLocalUrl"
          id="output-img"
          style="    width: 50px;
        height: 100px;"
        />
        <button @click="removeImg()">X</button>
      </div>
      <div
        style="position: relative;height: 40px;"
        class="flex-view align-items-center flex-direction-row justify-content-b"
      >
        <img
          v-if="!((currentUser.image || []).length > 0)"
          class="user-image"
          src="../../../../assets/Mask Group 29.svg"
        />
        <img
          v-if="((currentUser.image || []).length > 0)"
          class="user-image"
          :src="currentUser.image"
        />
        <!-- autofocus
        id="3-t" -->
        <textarea
          autofocus="true"
          id="post-reply"
          class="flex-direction-row justify-content-b question flex-view user-comment-field-holder"
          v-model="replyText"
        ></textarea>
        <label class="custom-file-upload">
          <input
            type="file"
            style="display: none;"
            @change="onImageSelected($event)"
            accept="image/*"
          />
          <img src="../../../../assets/Icon - Add Photo.svg" />
        </label>
      </div>
      <div
        v-if="toReply"
        class="comment-buttons flex-view flex-direction-row popup-btn"
      >
        <div class="flex-view flex-direction-row align-items-center">
          <!-- <p v-if="!isImgUploaded">uploaded {{uploadPercentage}}%</p> -->
          <input type="checkbox" v-model="toNotify" />
          <label style="margin: 0 0 0 10px; font-size: 10px;" for="checkbox"
            >Notify Teacher</label
          >
          <button
            style="margin: 0 0 0 10px;"
            class="btn-np  text-filled"
            @click="cancelToRestore()"
          >
            Cancel
          </button>
          <button
            style="margin: 0 0 0 10px;"
            v-if="!isEdit"
            class="btn-np btn-contained"
            @click="postReply()"
          >
            Reply
          </button>
        </div>
      </div>
    </div>

    <!-- Update Comment -->
    <!-- v-if="currentComment.comment_id == comment.comment_id && isEdit" -->
    <div
      class="comment-buttons flex-view flex-direction-col reply-pop-up update-comment"
      v-click-outside="hidePopComment"
      v-if="isEdit && !isEditReply"
    >
      <div
        style="position: relative;"
        class="flex-view align-items-center flex-direction-row justify-content-b"
      >
        <textarea
          autofocus="true"
          id="edit-comment"
          class="flex-direction-row justify-content-b question flex-view user-comment-field-holder"
          v-model="editText"
        ></textarea>
        <label class="custom-file-upload">
          <input
            type="file"
            style="display: none;"
            @change="onImageSelected($event)"
            accept="image/*"
          />
          <img src="../../../../assets/Icon - Add Photo.svg" />
        </label>
      </div>
      <div
        style="margin: 10px 0; justify-content: flex-end;"
        class="flex-view flex-direction-row"
      >
        <div class="flex-view flex-direction-row align-items-center">
          <input type="checkbox" v-model="toNotify" />
          <label style="margin: 0 0 0 10px; font-size: 10px;" for="checkbox"
            >Notify Teacher</label
          >
          <button class="btn-np  text-filled" @click="cancelToRestore()">
            Cancel
          </button>
          <button
            style="margin: 0 0 0 10px;"
            v-if="isEdit"
            class="btn-np btn-contained"
            @click="updateComment()"
          >
            Update Comment
          </button>
        </div>
      </div>
    </div>

    <!-- EDIT REPLY -->
    <div
      class="comment-buttons flex-view flex-direction-col reply-pop-up update-comment"
      v-click-outside="hidePopComment"
      v-if="isEditReply "
    >
      <div
        style="position: relative;"
        class="flex-view align-items-center flex-direction-row justify-content-b"
      >
        <img
          v-if="!((currentUser.image || []).length > 0)"
          class="user-image"
          src="../../../../assets/Mask Group 29.svg"
        />
        <img
          v-if="((currentUser.image || []).length > 0)"
          class="user-image"
          :src="currentUser.image"
        />
        <textarea
          autofocus="true"
          id="edit-reply"
          class="flex-direction-row justify-content-b question flex-view user-comment-field-holder"
          v-model="replyText"
        ></textarea>
        <label class="custom-file-upload">
          <input
            type="file"
            style="display: none;"
            @change="onImageSelected($event)"
            accept="image/*"
          />
          <img src="../../../../assets/Icon - Add Photo.svg" />
        </label>
      </div>
      <div
        style="margin: 10px 0; justify-content: flex-end;"
        class="flex-view flex-direction-row"
      >
        <div class="flex-view flex-direction-row align-items-center">
          <p v-if="!isImgUploaded">uploaded {{uploadPercentage}}%</p>
          <input type="checkbox" v-model="toNotify" />
          <label style="margin: 0 0 0 10px; font-size: 10px;" for="checkbox"
            >Notify Teacher</label
          >
          <button class="btn-np  text-filled" @click="cancelToRestore()">
            Cancel
          </button>
          <button
            style="margin: 0 0 0 10px;"
            v-if="isEdit"
            class="btn-np btn-contained"
            @click="updateReply()"
          >
            Update Reply
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
