<div class="unauthorized-page-div">
    <h3 class="unauthorized-page" style="padding:0px 10px">It seems that you don't have access to this course.</h3>
    <br>
    <div class="UA">
        <img src="./../../../../assets/Group 3969.svg">
        <br>
        <h5 style="    padding: 10px;
        text-align: center;"> To purchase a course visit <a href="www.nearpeer.org">www.nearpeer.org</a> or
            call at 0311 1444 734 for help.
        </h5>
        <br>
        <router-link v-bind:to="{path: '/'}">
        <button class="btn-contained" style="height: 35px;">BACK TO HOME</button>
        </router-link>
        <button class="btn-np outlined" @click="logout" style="height: 35px;">Logout</button>
    </div>
</div>