<div v-show="!isPageLoading" id="video-landing" style="z-index: 999999999999;">
  <div
    @mouseover="showControls()"
    @mouseleave="hideControls()"
    @click="handleVideoClick"
    id="player_"
    class="player_"
    style="position: relative; z-index: 9999; overflow: hidden;"
  >
    <div
      id="revDiv"
      class="doubleTapReverseDiv"
      @click="doubleTap++ ; doubleTapReverse(doubleTap)"
    >
      <div id="dblReverse" class="doubleTap_icons_reverse">
        <img class="animation-height" src="./../../../../assets/revAn.gif" />
        <p class="ten-text-reverse">
          10 seconds
        </p>
      </div>
    </div>
    <div id="cenDiv" class="doubleTapCenter" @click="doubleTapCenter()">
      <img
        v-if="isPaused"
        id="dblCenter"
        @click.stop="pauseVideo"
        class="doubleTap_icons_center"
        src="../../../../assets/player-icons/Path 2240.svg"
      />
      <!-- <img
    id="dblCenter"

    v-if="!isPaused"
    class="doubleTap_icons_center"
    @click.stop="playVideo"
    src="../../../../assets/player-icons/play_arrow.svg"
  /> -->
    </div>
    <div
      id="forDiv"
      class="doubleTapForwardDiv"
      @click="doubleTap++ ; doubleTapForward(doubleTap)"
    >
      <div
        id="dblForward"
        class="doubleTap_icons_forward"
        style="position: relative;"
      >
        <img class="animation-height" src="./../../../../assets/forAn.gif" />
        <p class="ten-text-forward">
          10 seconds
        </p>
      </div>
    </div>
    <!-- @click="handleVideoClick" -->
    <div
      style="z-index: 999999999;"
      class="full-screen-options"
      v-if="isFullScreen && !$store.state.isNewReactNative && !webviewPlayer"
    >
      <h4 class="ellipsis" style="color: white;" v-show="videoNameShow">
        {{selectedVideo.name}}
      </h4>
      <h4 class="ellipsis" v-show="!videoNameShow"></h4>
      <!-- v-show="videoNameShow" -->
      <img
        @click="enablePlaylist()"
        src="../../../../assets/playlist_play-24px.svg"
      />
    </div>
    <div style="z-index: 999999999;" v-if="videoList" class="listing-box">
      <span class="closeBtn_" @click="disablePlaylist()">x</span>
      <app-video-listing
        :currentCourse="currentCourse"
        :selectedVideo="selectedVideo"
        :selectedModule="selectedModule"
        :selectedChapter="currentChapter"
        :allModules="currentCourse.modules"
        @toVideoMain="getDataFromVListing"
        @selectedChapterInListing="getChapterFromListing"
        :selectedTrackModule="selectedTrackModule"
        :dark="'yes'"
      >
      </app-video-listing>
    </div>
    <div class="video-overly-info">
      <h3 style="color: rgba(2,6,1,.1) !important;">{{stamp}}</h3>
      <h3 style="color: rgba(2,6,1,.1) !important;">www.nearpeer.org</h3>
    </div>
    <div class="video-marquee" v-if="userStamp">
      <span class="text marquee-text">{{userInfo}}</span>
    </div>
    <div class="pause-parent" v-if="!isPaused && !isFirstTime">
      <span @click.stop="playVideo">
        <img
          class="pause_ opt"
          src="../../../../assets/player-icons/blue-play-hover.svg"
        />
      </span>
    </div>
    <div v-if="isFirstTime" @click.stop="playVideoOnReady" class="play-video">
      <img
        class="opt"
        src="../../../../assets/player-icons/blue-play-hover.svg"
      />
    </div>

    <div v-if="isVideoLoading" class="play-video">
      <div class="blue-loader"></div>
    </div>
    <video
      v-on:dblclick="handleDblClick()"
      id="player"
      style="position: relative;z-index: 999;"
      class="video-js"
      height="400px"
      data-setup='{ "playbackRates": [0.25, 0.5, 1, 1.25, 1.5, 2] }'
    ></video>
    <div
      class="blank-box"
      @mouseover="controllBarOver()"
      @mouseleave="controllBarLeave()"
    >
      <div id="bottom-bar" style="z-index: 999999;">
        <div class="field_">
          <span
            v-if="videoPointers && videoPointers.length != 0"
            :id="'point_'+point.percentage"
            v-for="point in videoPointers"
            class="d-inline-block"
            :style="{left: point.percentage+'%'}"
            style="position: absolute;"
            tabindex="0"
            data-toggle="tooltip"
            :title="point.data"
          >
            <p class="pop-quiz-icon">
              <img
                v-if="!point.is_passed"
                @click.stop="showQuiz(point)"
                src="../../../../assets/Pop-Quiz-Icon.svg"
              />
              <img
                v-if="point.is_passed"
                @click.stop="showQuiz(point)"
                src="../../../../assets/green-point.svg"
              />
            </p>
          </span>
          <!-- @change="updateProgress" -->
          <input
            @input="updateProgress"
            @mouseover="isTimeValueChangeing = true"
            @mouseleave="isTimeValueChangeing = false"
            v-model="SeekBarValue"
            value="0"
            max="0"
            max="100"
            step="0.5"
            type="range"
            id="range"
            style="z-index: 99999999999999;"
          />
          <!-- <p
          v-if="videoPointers.length"
          v-for="point in videoPointers"
          id="bubble"
          :style="{ left: point.time + '%' }"
        ></p> -->
          <p
            id="sickbar"
            class="edges-rounded"
            :style="{ width: SeekBarValue + '%' }"
          ></p>
          <p id="lowerRange" class="edges-rounded" style="width: 100%;"></p>
          <!-- <ul class="point_list" id="point_id">
                    <li :class="{ 'pointer_color' : point.isLink}"
                    v-for="point in videoPointers" class="point" :style="{left: point.percentage+'%'}">
                        <span :id="'point_'+point.percentage" v-if="!point.isLink" class="tooltiptext">{{point.data}}</span>
                        <span :id="'point_'+point.percentage" v-if="point.isLink" style="background-color: white;" class="tooltiptext"><a style="background-color: white;text-decoration: underline;" :href="point.data" target="_blank" >{{point.link_text}}</a></span>
                    </li>
                </ul> -->
        </div>
        <div id="controls" style="z-index: 9999999;">
          <div id="left-controls">
            <span
              v-if="!isPaused"
              class="d-inline-block"
              tabindex="0"
              data-toggle="tooltip"
              title="Play"
            >
              <img
                @click.stop="playVideo"
                class="play-btn"
                src="../../../../assets/player-icons/play_arrow.svg"
              />
            </span>
            <span
              v-if="isPaused"
              class="d-inline-block"
              tabindex="0"
              data-toggle="tooltip"
              title="Pause"
            >
              <img
                @click.stop="pauseVideo"
                class="pause-btn"
                src="../../../../assets/player-icons/Path 2240.svg"
              />
            </span>
            <span
              class="d-inline-block fb-hover"
              tabindex="0"
              data-toggle="tooltip"
              title="Backward"
            >
              <img
                @click.stop="skipRwdVideo"
                class="forward"
                src="../../../../assets/player-icons/Icon-rev-10s-hover.png"
              />
            </span>
            <span
              class="d-inline-block fb-hover"
              tabindex="0"
              data-toggle="tooltip"
              title="Forward"
            >
              <img
                @click.stop="skipFwdVideo"
                class="forward"
                src="../../../../assets/player-icons/Icon-fwd-10s-hover.svg"
              />
            </span>
            <p style="color: white;" class="p_" id="current-time"></p>
            <div id="volume-icon" style="position: relative;">
              <span
                v-if="!isMute && volume_ > 0.4"
                class="d-inline-block"
                tabindex="0"
                data-toggle="tooltip"
                title="Mute"
              >
                <img
                  class="mute"
                  @click.stop="mute"
                  src="../../../../assets/player-icons/Path 2275.svg"
                />
              </span>
              <span
                class="d-inline-block"
                v-if="!isMute && (volume_ > 0 && 0.5 > volume_)"
                tabindex="0"
                data-toggle="tooltip"
                title="Mute"
              >
                <img
                  class="mute"
                  @click.stop="mute"
                  src="../../../../assets/player-icons/Path 2275.svg"
                />
                <!-- ../../../../assets/player-icons/Path 2269.svg -->
              </span>
              <span
                v-if="!isMute && volume_ == 0"
                class="d-inline-block"
                tabindex="0"
                data-toggle="tooltip"
                title="Mute"
              >
                <img
                  class="mute"
                  @click.stop="mute"
                  src="../../../../assets/player-icons/Path 2269.svg"
                />
                <!-- ../../../../assets/player-icons/Path 2271.svg -->
              </span>
              <span
                v-if="isMute"
                class="d-inline-block"
                tabindex="0"
                data-toggle="tooltip"
                title="Unmute"
              >
                <img
                  class="unmute"
                  @click.stop="unmute"
                  src="../../../../assets/player-icons/volume_off-24px.svg"
                />
              </span>

              <div class="vol-sl-width">
                <vue-slider
                  @drag-end="changeVolume(volume_,$event)"
                  ref="slider"
                  v-model="volume_"
                  v-bind="volume_options"
                  id="slider_volume" 
                  :tooltip-formatter="val => val*100"
                ></vue-slider>
              </div>
              <!-- <input
              @change="changeVolume($event.target.value)"
              min="0"
              max="1"
              v-model="volume_"
              step="0.1"
              value="1"
              type="range"
              id="volume"
              class="vol-range"
            />
            <p id="volume-slider" :style="{ width: volume_ + '%'}"></p>
            <p id="volume-fade" style="width:100%"></p>
            <p id="rem-time"></p> -->
              <!-- <div class="wrap"> -->
              <!-- <input
                @change="updateSlider($event.target.value)"
                v-model="volume_"
                type="range"
                class="range"
                min="0"
                max="100"
                step="0.1"
                value="100"
              />
              <div class="track">
                <div class="track-inner"></div>
              </div>
              <div class="thumb"></div>
            </div> -->
            </div>
          </div>
          <div id="right-controls">
            <span
              v-click-outside="closeIt"
              class="d-inline-block quality_"
              tabindex="0"
              data-toggle="tooltip"
              title="Control Qualities"
            >
              <img
                @click.stop.stop="openQuality"
                class="quality"
                title="Settings"
                src="../../../../assets/player-icons/Group 2124.svg"
              />
              <div v-show="qualityDrp" class="quality-tray" id="quality-tray">
                <div
                  v-if="qualityLevels && qualityLevels.levels_ &&  qualityLevels.levels_.length > 1"
                  class="btn-group dropright"
                >
                  <a
                    type="button"
                    class="dropdown-toggle flex-view justify-content-b"
                    data-toggle="dropdown"
                    data-target="#qualtiy-menu"
                    @click.stop.stop="clickQualitycontrol"
                    :class="{ 'droprighthide' : hideDropRight }"
                    style="    width: 100%;"
                  >
                    <p> <img src="./../../../../assets/qualty_set.svg" /> Quality</p>
                    <p style="display: flex;
                    align-items: center;">
                      {{selectedQualityLevel}}
                      <img
                        src="./../../../../assets/arrowright.svg"
                        style="width: 18px;
                  height: 15px;margin-left: 5px;"
                      />
                    </p>
                  </a>
                  <div class="dropdown-menu" id="qualtiy-menu">
                    <ul>
                      <div
                        class="flex-view justify-content-b"
                        style="border-bottom: 1px solid white;    min-height: 25px;
                        display: flex;
    align-items: center; "
                      >
                        <img
                          src="./../../../../assets/arrowleft.svg"
                          style="width: 18px;
                    height: 15px;
                    margin-left: 10px;"
                          @click.stop="back"
                        />
                        <p style="color: white;">
                          Quality
                        </p>
                        <p></p>
                        <p></p>
                      </div>
                      <li v-for="quality in qualityLevels.levels_">
                        <label
                          v-bind:class="selectedQualityLevel == quality.width ?'change-color':''"
                          class="caption"
                          @click.stop="setVideoQuality(quality)"
                        >
                          <img
                            v-bind:class="selectedQualityLevel == quality.width ? 'change-color':''"
                            src="./../../../../assets/teenyicons_tick-solid.png"
                            style="margin-right: 5px; visibility: hidden;"
                          />
                          {{quality.width}}</label
                        >
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="btn-group dropright">
                  <a
                    type="button"
                    class="dropdown-toggle flex-view justify-content-b"
                    data-toggle="dropdown"
                    data-target="#speed-menu"
                    @click.stop.stop="clickSpeedcontrol"
                    :class="{ 'droprighthide' : hideDropRight }"
                    style="    width: 100%;"
                  >
                    <p> <img src="./../../../../assets/Playback_setting.svg" />Playback Speed</p>

                    <p style="display: flex;
                    align-items: center;">
                      {{currentPlayBackRate}}
                      <img
                        src="./../../../../assets/arrowright.svg"
                        style="width: 18px;
                  height: 15px;margin-left: 5px;"
                      />
                    </p>
                  </a>
                  <div class="dropdown-menu playback-custom-size" id="speed-menu">
                    <ul>
                      <div
                        class="flex-view justify-content-b"
                        style="border-bottom: 1px solid white;    min-height: 25px;
                                              align-items: center;
                          padding: 5px 0px;"
                      >
                        <img
                          src="./../../../../assets/arrowleft.svg"
                          style="width: 18px;
                    height: 15px;
                    margin-left: 10px;"
                          @click.stop="back('playback')"
                        />
                        <p style="color: white;margin-top: 0;font-size: 14px;">
                          Playback Speed
                        </p>
                        <p></p>
                      </div>
                      <li v-for="playBackRate in playBackRates">
                        <label
                          v-bind:class="currentPlayBackRate == playBackRate ? 'change-color':''"
                          class="body-2"
                          @click.stop="setPlayBackRate(playBackRate)"
                        >
                          <img
                            v-bind:class="currentPlayBackRate == playBackRate ? 'change-color':''"
                            src="./../../../../assets/teenyicons_tick-solid.png"
                            style="margin-right: 5px; visibility: hidden;"
                          />
                          {{playBackRate != 'Normal' ? playBackRate+'x' : playBackRate}}</label
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </span>
            <span
              v-if="!isFullScreen"
              class="d-inline-block"
              tabindex="0"
              data-toggle="tooltip"
              title="Maximize your screen"
            >
              <img
                @click.stop="fullScreen"
                class="maximize"
                src="../../../../assets/player-icons/fullscreen-white-18dp.svg"
              />
            </span>
            <span
              v-if="isFullScreen"
              class="d-inline-block"
              tabindex="0"
              data-toggle="tooltip"
              title="Minimize your screen"
            >
              <img
                @click.stop="exitFulScreen"
                class="minimize"
                src="../../../../assets/player-icons/fullscreen_exit-white-18dp.svg"
              />
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
