#player,
#video-landing {
  width: 100%;
  height: 100%;
  position: relative;
}
.vue-slider-process {
  background-color: #4d77da !important;
  border-radius: 15px;
}
.caption {
  font: normal normal 14px/16px "Basis Grotesque Pro Regular";
}
.ten-text-forward {
  color: white !important;
  font-family: "Basis Grotesque Pro Regular";
  font-size: 12px;
  left: 7px;
  bottom: 20px;
  position: absolute;
  width: 68px;
}
.ten-text-reverse {
  color: white !important;
  font-family: "Basis Grotesque Pro Regular";
  font-size: 12px;
  right: 0px;
  bottom: 20px;
  position: absolute;
  width: 68px;
}
.animation-height {
  // height: 50px;
  // width: 80px;
  height: 38px;
  width: 58px;
}
.doubleTap_icons_reverse {
  // height: 35px;
  height: 70px;
  display: flex;
  align-self: center;
  opacity: 0;
  // background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  padding: 4px;
  // left: 45%;
  position: relative;
}
.doubleTap_icons_forward {
  // width: 35px;
  //   height: 35px;
  //   top: 42%;
  //   left: 35%;
  //   position: absolute;
  //   opacity: 0;
  //   background: #00000047;
  //   border-radius: 20px;
  //   padding: 4px;
  // height: 35px;
  height: 70px;
  display: flex;
  align-self: center;
  opacity: 0;
  // background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  padding: 4px;
  // left: 45%;
  position: relative;
}
.doubleTap_icons_center {
  height: 35px;
  display: flex;
  align-self: center;
  opacity: 0;
  background: rgba(0, 0, 0, 0.28);
  border-radius: 20px;
  padding: 4px;
  position: relative;
}
.doubleTapForwardDiv {
  position: absolute;
  width: 40%;
  height: 100%;
  right: 0%;
  z-index: 99999;
  justify-content: center;
}
.doubleTapCenter {
  position: absolute;
  width: 20%;
  height: 100%;
  left: 40%;
  right: 33%;
  z-index: 99999;
  justify-content: center;
}
.doubleTapReverseDiv {
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0%;
  z-index: 99999;
  justify-content: center;
}
.vjs-loading-spinner {
  display: none !important;
}
.player_ {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  &:hover {
    #bottom-bar {
      visibility: visible;
    }
  }
}
.blank-box {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 111111;
}
.change-color {
  // background-color: #4d77da;
  visibility: visible !important;
}
.quality_ {
  position: relative;
}
.dropdown-menu {
  // top: auto !important;
  // bottom: -50px;
  // background-color: var(--quality-black);
  background-color: rgba(28,28,28,0.9);
}
.dropright .dropdown-menu {
  left: 0%;
}
.droprighthide {
  display: none;
}
.dropdown-menu {
  position: relative;
  bottom: -10px;
  top: auto;
  // min-width: 200px;
  min-width: 100%;
  border-radius: 8px;
}
.dropright .dropdown-toggle::after {
  display: none;
}
.quality-tray {
  position: absolute;
  bottom: 42px;
  // right: 0;
  right: -45px;
  // background: var(--quality-black);
  background-color: rgba(28,28,28,0.9);
  color: var(--white);
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
  // min-width: 220px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  p {
    margin-top: 0 !important;
    font-size: 14px !important;
    display: flex !important;
    align-items: center !important;
  }
  a {
    padding: 5px;
    color: var(--white);
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      padding: 0 10px;
      margin: 2px 0;
      &:hover {
        cursor: pointer;
      }
      label {
        // text-align: center;
        color: var(--white);
        width: 100%;
        padding: 5px 0px;
        &:hover {
          // background-color: var(--dark);
          background-color: rgba(255, 255, 255, 0.1);
          cursor: pointer;
        }
      }
    }
  }
}
.btn-control {
  background-color: var(--transparent);
  border: none;
  color: white;
  font-family: normal normal 12px/14px Basis Grotesque Pro Regular !important;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgb(194, 194, 194);
}
.blue-loader {
  height: 50px;
  width: 50px;
  border-top: 6px solid #4d77da !important;
}
.minimize,
.maximize {
  height: 17px;
}
.field_ {
  height: 5px;
  margin: 5px 10px;
  position: relative;
  &:hover {
    #bubble,
    #range,
    #sickbar,
    #lowerRange,
    #bufferbar {
      height: 6px;
    }
    cursor: pointer;
  }
}
#range {
  position: absolute;
  bottom: 0px;
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: var(--transparent);
  outline: none;
  z-index: 9;
  &:hover {
    height: 4px;
    cursor: pointer;
  }
}
#lowerRange {
  position: absolute;
  bottom: 0px;
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: var(--gray);
  outline: none;
  z-index: 1;
  &:hover {
    height: 4px;
    cursor: pointer;
  }
}
.pop-quiz-icon {
  top: -10px;
  position: absolute;
  z-index: 10;
}
.fb-hover {
  img {
    height: 26px;
    transform: scale(1.5);
  }
}
.closeBtn_ {
  position: absolute;
  right: 7px;
  top: 9px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 3px;
  color: var(--white);
  z-index: 111;
  &:hover {
    cursor: pointer;
  }
}
#range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #4d77da;
  opacity: 1;
  z-index: 7;
  &:hover {
    cursor: pointer;
    width: 15px;
    height: 15px;
  }
}
#volume-fade {
  -webkit-appearance: none;
  width: 65px;
  height: 4px;
  display: none;
  background: var(--gray);
  animation: one-second-animation 0.5s;
  outline: none;
  opacity: 1;
  z-index: 1;
  &:hover {
    cursor: pointer;
    visibility: visible;
    display: flex;
  }
}
#volume-slider {
  -webkit-appearance: none;
  width: 65px;
  height: 4px;
  // display: none;
  background: var(--gray);
  animation: one-second-animation 0.5s;
  outline: none;
  opacity: 1;
  z-index: 5;
  &:hover {
    cursor: pointer;
    visibility: visible;
    display: flex;
  }
}
#volume {
  -webkit-appearance: none;
  // width: 65px;
  height: 4px;
  // display: none;
  background: red;
  animation: one-second-animation 0.5s;
  outline: none;
  opacity: 1;
  z-index: 999;
  &:hover {
    cursor: pointer;
    visibility: visible;
    display: flex;
    // background: var(--white);
  }
}
#slider_volume {
  display: none;
  &:hover {
    cursor: pointer;
    visibility: visible;
    display: flex;
  }
}
// #volume::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   appearance: none;
//   width: 10px;
//   height: 10px;
//   background: var(--white);
//   z-index: 999;
//   border-radius: 50%;
//   &:hover {
//     cursor: pointer;
//   }
// }
// #customVol::-webkit-slider-runnable-track {
//   height: 10px;
//   -webkit-appearance: none;
//   color: #13bba4;
//   margin-top: -1px;
//   background-color: var(--theme-bg);
// }
// #customVol{
//   overflow: hidden;
//   width: 80px;
//   -webkit-appearance: none;
//   background-color: var(--theme-bg);
// }

#customVol::-moz-range-progress {
  background-color: #43e5f7;
}
#customVol::-moz-range-track {
  background-color: #9a905d;
}
/* IE*/
#customVol::-ms-fill-lower {
  background-color: #43e5f7;
}
#customVol::-ms-fill-upper {
  background-color: #9a905d;
}

// #customVol::-webkit-slider-runnable-track {
//   height: 10px;
//   -webkit-appearance: none;
//   appearance: none;
//   color: var(--theme-bg);
//   margin-top: -1px;
// }

#customVol::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: var(--white);
  z-index: 999;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
  }
}

#volumeVisible {
  // background-color: ;
  // margin: 0;
  // height: 4px;
  // position: absolute;
  // z-index: 5;
  // bottom: 0;
  // left: 0px;
  appearance: none;
  width: 65px;
  height: 3.4px;
  background: gray;
  animation: 0.5s ease 0s 1 normal none running one-second-animation;
  outline: none;
  opacity: 1;
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 0px;
  margin: 0 !important;
  display: flex;
}
.edges-rounded {
  border-radius: 4px;
}
#bottom-bar {
  position: absolute;
  justify-content: flex-end;
  bottom: 0px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  height: 100px;
  box-shadow: inset 0 -85px 50px -38px rgba(0, 0, 0, 0.4);
  visibility: visible;
  width: 100%;
  transition-duration: 0.25s;
  animation: one-second-animation 0.25s;
}
#controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#left-controls,
#right-controls {
  span {
    min-width: 32px;
  }
  p {
    color: white;
    font-size: 13px;
    margin-top: 3px;
  }
  // img {
  //   opacity: 0.7;
  //   &:hover {
  //     opacity: 1;
  //     transform: scale(1.1);
  //     cursor: pointer;
  //   }
  // }
}
.play-btn,
.pause-btn,
.forward {
  height: 25px;
}
.collapse {
  overflow: auto;
}

.points {
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid var(--white);
  z-index: 1;
  -ms-transform: rotate(45deg); /* IE 9 */
  transform: rotate(45deg);
  z-index: 3;
  &:hover {
    cursor: pointer;
  }
}
#bubble {
  background-color: var(--common-blue);
  margin: 0;
  height: 10px;
  position: absolute;
  z-index: 1;
  bottom: -4px;
  width: 10px;
  left: 100%;
  border: 1px solid #8b97a5;
  transform: rotate(45deg);
}
#sickbar {
  background-color: #4d77da;
  margin: 0;
  height: 4px;
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0px;
}
#left-controls {
  display: flex;
  align-items: center;
}
#volume-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  &:hover {
    // #volume {
    //   display: flex;
    // }
    #slider_volume {
      display: flex;
    }
  }
  p {
    margin: 0 10px;
    color: var(--white);
    letter-spacing: 1px;
    font-size: 12px;
  }
}
.mute,
.play-btn,
.pause-btn,
.forward {
  animation: one-second-animation 0.25s;
}
.play-btn,
.pause-btn,
.forward {
  height: 24px;
}
.forward {
  height: 24px;
  &:hover {
    transform: scale(1.5) !important;
  }
}
.dropleft {
  &:hover {
    background-color: var(--dark);
  }
}
.full-screen-options {
  position: absolute;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0 90px 50px -38px rgba(0, 0, 0, 0.4);
  h3 {
    color: var(--white);
  }
  img {
    margin: 10px;
    height: 25px;
    &:hover {
      cursor: pointer;
    }
  }
}
.listing-box {
  width: 550px;
  height: calc(100%);
  background-color: var(--black);
  position: absolute;
  z-index: 11;
  right: 0;
  overflow: auto;
  animation: exampleThree 0.5s;
  padding: 10px 20px;
  opacity: 0.9;
  font-weight: 500;
}
.pause-parent {
  position: absolute;
  // z-index: 1111;
  // z-index: 9999;
  z-index: 99999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.opt {
  opacity: 0.85;
  transition-duration: 0.5s;
  &:hover {
    opacity: 1;
  }
}
.pause_ {
  cursor: pointer;
}
@keyframes exampleThree {
  0% {
    right: -300px;
    opacity: 0;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes opacityChange {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (min-width: 600px) {
  #left-controls,
  #right-controls {
    .p_ {
      margin: 0 10px;
    }
    img {
      margin: 0 5px;
    }

    img {
      opacity: 0.7;
      &:hover {
        opacity: 1;
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }
  // .collapse {
  //   max-height: 150px;
  // }
  #controls {
    padding: 5px 10px 0 10px;
  }
  .pause_ {
    height: 100px;
  }
  .full-screen-options {
    h3 {
      padding: 10px;
    }
  }
}

.vol-sl-width {
  width: 65px;
}
@media only screen and (max-width:900px){
  .quality-tray {
    // min-width: 220px;
    min-width: 245px;
  }
  .playback-custom-size {
    ul {
      height: 100px  !important;
    }
  }
}
@media only screen and (max-width: 600px) {

  .vol-sl-width {
    width: 30px;
  }
  .video-marquee .text {
    font-size: 12px !important;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 1.6em;
    position: absolute;
    left: 0;
    top: -30px;
    animation: animTopBottom 290s 60s linear infinite !important;
    -webkit-animation: animTopBottom 290s 60s linear infinite !important;
    -moz-animation: animTopBottom 290s 60s linear infinite !important;
  }
  .video-marquee {
    padding: 5px;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    // z-index: 1;change
  }
  .vol-range {
    width: 40px !important;
  }
  .full-screen-options {
    h3 {
      padding: 5px;
    }
  }
  #left-controls,
  #right-controls {
    .p_ {
      margin: 0;
    }
    img {
      margin: 0 2px;
    }
    img {
      opacity: 0.7;
      &:hover {
        animation: opacityChange 1.2s;
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }
  #controls {
    padding: 5px;
  }
  .collapse {
    max-height: 120px;
  }
  .listing-box {
    max-width: 300px;
  }
  #bottom-bar {
    padding-bottom: 0px !important;
    height: 55px;
  }
  .pause_ {
    height: 50px;
  }
}
@media only screen and (max-width: 359px) {
  .vol-range {
    width: 25px !important;
  }
}
.video-marquee {
  padding: 5px;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  // z-index: 1;change
}

.marquee-text {
  z-index: 90;
}
.video-marquee .text {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.2);
  font-size: 18px;
  text-align: center;
  line-height: 1.6em;
  position: absolute;
  left: 0;
  top: -30px;
  animation: animTopBottom 180s 60s linear infinite;
  -webkit-animation: animTopBottom 180s 60s linear infinite;
  -moz-animation: animTopBottom 180s 60s linear infinite;
}

@keyframes animTopBottom {
  0% {
    top: 100%;
  }
  3% {
    top: -100%;
  }
}
@-moz-keyframes animTopBottom {
  0% {
    top: 100%;
  }
  3% {
    top: -100%;
  }
}
@-webkit-keyframes animTopBottom {
  0% {
    top: 100%;
  }
  3% {
    top: -100%;
  }
}

@media only screen and (max-width: 1000px) {
  .doubleTapForwardDiv {
    display: flex;
  }
  .doubleTapCenter {
    display: flex;
  }
  .doubleTapReverseDiv {
    display: flex;
  }
}

@media only screen and (min-width: 1000px) {
  .doubleTapForwardDiv {
    display: none;
  }
  .doubleTapCenter {
    display: none;
  }
  .doubleTapReverseDiv {
    display: none;
  }
}

.wrap {
  // width: 300px;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  transform: translate(-50%, -50%);
  width: 65px;
  position: absolute;
  left: 65px;
  top: 12px;
}

.range {
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
.range::-ms-tooltip {
  display: none;
}

.track {
  width: 100%;
  height: 4px;
  background: #dddddd;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.track-inner {
  width: 0;
  height: 100%;
  background: #4d77da;
}

.thumb {
  width: 16px;
  height: 16px;
  background: #aaaaaa;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  pointer-events: none;
}
.playback-custom-size {
  // height: 300px;
  ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    animation: playBackAn 0.2s;
    // transition: 250ms cubic-bezier(0,0,0.2,1);
    // -webkit-transition: all 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    // transition: all 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    // -webkit-transform : none;
    // -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
    // transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1),
    //   -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
  }
}
.backAn{
  animation: backAn 0.2s;
  // -webkit-transition: all 1.5s cubic-bezier(0.4, 0, 0.2, 1);
  // transition: all 1.5s cubic-bezier(0.4, 0, 0.2, 1);
  // -webkit-transform : none;
  // -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
  // transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1),
  //   -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
}
@keyframes playBackAn {
  0% {
    // transform: translateY(300px);
    height: 0px;
    opacity: 0;
    width: 0%;
  }
  10% {
    // transform: translateY(270px);
    height: 30px;
    opacity: 0.1;
    width: 10%;
  }
  20% {
    // transform: translateY(240px);
    height: 60px;
    opacity: 0.2;
    width: 20%;

  }
  30% {
    // transform: translateY(210px);
    height: 90px;
    opacity: 0.3;
    width: 30%;
  }
  40% {
    // transform: translateY(180px);
    height: 120px;
    opacity: 0.4;
    width: 40%;

  }
  50% {
    // transform: translateY(150px);
    height: 150px;
    opacity: 0.5;
    width: 50%;
  }
  60% {
    // transform: translateY(110px);
    height: 180px;
    opacity: 0.6;
    width: 60%;

  }
  70% {
    // transform: translateY(80px);
    height: 210px;
    opacity: 0.7;
    width: 70%;
  }
  80% {
    // transform: translateY(50px);
    height: 220px;
    opacity: 0.8;
    width: 80%;

  }
  90% {
    // transform: translateY(10px);
    height: 230px;
    opacity: 0.9;
    width: 90%;
  }
  100% {
    // transform: translateY(0px);
    height: 253px;
    opacity: 1;
    width: 100%;
    // right: 0px;
    // opacity: 1;
  }
}
@keyframes backAn {
  0% {
    // transform: translateY(300px);
    height: 300px;
    // opacity: 0;
  }
  10% {
    // transform: translateY(270px);
    height: 280px;
    // opacity: 0.1;
  }
  20% {
    // transform: translateY(240px);
    height: 260px;
    // opacity: 0.2;

  }
  30% {
    // transform: translateY(210px);
    height: 240px;
    // opacity: 0.3;

  }
  40% {
    // transform: translateY(180px);
    height: 220px;
    // opacity: 0.4;

  }
  50% {
    // transform: translateY(150px);
    height: 200px;
    // opacity: 0.5;

  }
  60% {
    // transform: translateY(110px);
    height: 180px;
    // opacity: 0.6;

  }
  70% {
    // transform: translateY(80px);
    height: 150px;
    // opacity: 0.7;

  }
  80% {
    // transform: translateY(50px);
    height: 130px;
    // opacity: 0.8;

  }
  90% {
    // transform: translateY(10px);
    height: 110px;
    // opacity: 0.9;

  }
  100% {
    // transform: translateY(0px);
    height: 90px;
    // opacity: 1;

    // right: 0px;
    // opacity: 1;
  }
}
