<div>
  <!-- Too Many Requests -->
  <div class="poppup-cp-new-overlay align-items-center" style="z-index: 117;" v-if="$store.state.tooManyReqError">
    <div class="poppup-cp-container">
      <div class="email-poppup-cp-new">
        <div class="security-popup">
          <!-- <span
          class="closeBtn"
          style="    margin: 10px;
        "
          @click="closeAccessPopup"
        >
          x
        </span> -->
          <div class="security-popup-detail">
            <h4>
              Dear {{user && user.name ? user.name : 'User'}}
            </h4>
            <p v-if="$store.state.errorCode && $store.state.errorCode.STATUS">{{$store.state.errorCode.STATUS}} ({{$store.state.errorCode.STATUS_CODE}})</p>
            <p>
              We have observed repetitive activities from your account in a
              short time period. Your account has been put in the "limited mode"
              for 24 hours. If you wish to change that, please contact us at
              contact@nearpeer.org.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
