.side-menu {
  animation: none !important;
}

.bg-parent {
  background-image: url(../../../assets/wireframes/Welcome-Screen-BG.svg);
  background-repeat: round;
  background-color: var(--white);
}

.top-div-com {
  padding-top: 100px;
}

.hundred-vh {
  max-width: 1000px;
  margin: 0 auto;
}

.h-parent {
  max-width: 350px;
  animation: one-second-animation 1s;
}

.middle-div {
  padding: 20px 0px;
  margin: 0 auto;
}

.bottom-text {
  margin: 0 auto;
}

.upper-text {
  margin: 0 auto;
}

.gif {
  width: 498px;
  height: 198px;
}

.h-2 {
  text-transform: capitalize;
  font-family: Basis Grotesque Pro Regular;
}

.practice-wrapper {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
}


.red-loader {
  border: 4px solid var(--border-white);
  border-top: 4px solid var(--theme-bg);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}


.practice-previous {
  display: block;

  &-title {
    width: 100%;
    max-width: 650px;
    margin: 0 0 70px;

    h3 {
      font-size: 36px;
      margin: 0 0 20px;
      font-family: Basis Grotesque Pro Bold;
    }

    p {
      color: #9A9A9A;
      font-size: 20px;
    }
  }

  &-table {
    border-radius: 25px 25px 0px 0px;

    th {
      color: #fff;
      padding: 25px 22px;
      font-size: 20px;
      white-space: nowrap;
      background: #E03249;
      font-family: Basis Grotesque Pro Bold;

      &:nth-last-child(-n+3) {
        padding-left: 0;
      }
    }
    tbody{
      tr{
        &:last-child{
          .prev-attempt-tooltip p{
            bottom: 0;
          }
        }
      }
    }
    td {
      font-size: 15px;
      text-align: center;
      padding: 30px 0;
      background: #F8F8F8;
      font-family: Basis Grotesque Pro Regular;

      &:nth-last-child(-n+2) {
        text-align: left;
      }
    }

    button {
      color: #fff;
      display: block;
      font-size: 12px;
      white-space: nowrap;
      background: #E03249;
      margin: 20px 10px 0 0;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
    }
  }
}
.back-btn {
  color: #E03249;
  margin-right: 20px;
  font-size: 20px;
  background: transparent;
  text-transform: capitalize;
  img {
    margin-right: 10px;
  }
}
.prev-attempt-tooltip{
  position: relative;
  display: block;
  margin-left: 10px;
  margin-top: -3px;
  b{
    color: #636363;
    font-size: 15px;
  }
  p{
    width: 167px;
    height: 70px;
    position: absolute;
    // top: 0;  
    color: #636363;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 12px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: none;
    // text-transform:lowercase;
    overflow-y: auto;
    
    &:before{
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      top: -13px;
      left: 50%;
      transform: translateX(-50%);
      border-bottom: 20px solid #fff;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
    }
  }
  span{
    display: inline-block;
  }
  &:hover p{
    display: block;
  }
}

@media only screen and (min-width: 600px) {
  .hundred-vh {
    flex-wrap: wrap;
  }

  .break {
    flex-basis: 100%;
    height: 0;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width:1024px) {
  .practice-title {
    button {
      margin: 0 0 30px;
    }
  }

  .practice-step-list {
    padding: 0;

    .text-desktop {
      display: none;
    }

    .text-responsive {
      display: block;
    }
  }
}

@media only screen and (max-width: 600px) {
  .bg-parent {
    background-image: url(../../../assets/wireframes/Welcome-Screen-BG.svg);
    background-repeat: no-repeat !important;
    background-color: var(--white);
  }

  .hundred-vh {
    padding: 0 20px;
  }

  .gif {
    width: 298px;
    height: 198px;
  }

  .practice-mobile {
    margin-top: 50px;
  }

  .back-btn {
    font-size: 12px;

    img {
      margin-right: 6px;
      width: 6px;
    }
  }

  .practice-previous {
    &-title {
      margin: 0 0 35px;

      h3 {
        font-size: 15px;
        line-height: 1;
        margin-bottom: 10px;
      }

      p {
        font-size: 12px;
      }
    }

    &-table {
      th {
        font-size: 12px;
      }

      td {
        padding: 15px 0;
        font-size: 12px;
      }

      button {
        margin: 10px 5px 0 0;
      }
    }
  }

  .practice-step-list {
    li {
      &::before {
        width: 20px;
        height: 20px;
        font-size: 12px;
        line-height: 22px;
      }

      &:after {
        top: 9px;
      }
    }

    .text-responsive {
      font-size: 12px;
    }
  }

  .practice-btn-outline {
    padding: 16px 0;
    width: 100%;
    text-align: center;
  }
}

@keyframes anime-scale {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes anime-scale-girl-behind-screen {
  0% {
    opacity: 0;
    transform: scale(0.5);
    top: -35px;
  }

  33% {
    opacity: 0;
    transform: scale(0.5);
    top: -35px;
  }

  100% {
    opacity: 1;
    transform: scale(1);
    top: -83px;
  }
}

@keyframes anime-scale-girl-with-laptop {
  0% {
    transform: scale(0);
  }

  33% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes anime-scale-boy-holding-pencil {
  0% {
    opacity: 0;
    left: -110px;
    bottom: 0;
  }

  50% {
    opacity: 0;
    left: -110px;
    bottom: 0;
    transform: rotate(0deg);
  }

  85% {
    opacity: 1;
    left: -90px;
    bottom: 0;
    transform: rotate(10deg);
  }

  100% {
    opacity: 1;
    left: -90px;
    bottom: 0;
  }
}