.verification-banner {
  background-color: var(--banner);
  height: 60px;
}

.disabled {
  background: gray 0% 0% no-repeat padding-box !important;
  color: black !important;
}
.disabled:hover {
  cursor: auto;
}

.parent-ver {
  margin-top: 65px;
  z-index: 10;
}

.merge-font {
  font-size: 12px;
}

.border-merge {
  border: 1px solid rgba(128, 128, 128, 0.1803921569);
  min-height: 30px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.mob-merge {
  display: none;
}

.otp-options {
  max-width: 400px;
  max-height: 430px;
}

.red-pen {
  width: 20px;
  position: absolute;
  right: 10px;
  top: 15px;
}
.red-pen:hover {
  cursor: pointer;
}

.merge-font {
  font-size: 12px;
}

.border-merge {
  border: 1px solid rgba(128, 128, 128, 0.1803921569);
  min-height: 30px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.mob-merge {
  display: none;
}

.digit-group input {
  width: 30px;
  height: 30px;
  background: rgba(196, 196, 196, 0.4);
  border-radius: 4px;
  margin-right: 12px;
  padding: 5px;
  text-align: center;
}
.digit-group .splitter {
  padding: 0 5px;
  color: black;
  font-size: 24px;
}

.display-none-not {
  display: none;
}

.guest-banner {
  background-color: #343a40;
  height: 60px;
}

.text-color {
  color: var(--white) !important;
}

.google-button {
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  color: var(--black) !important;
}

.google-button:hover {
  background-color: var(--background-gray);
}

.Button {
  height: 35px;
  position: relative;
  width: 100%;
  border-radius: 20px;
  margin-top: 14px;
  font-size: 13px;
  text-align: center;
}

.signup-holder {
  max-width: 900px;
  height: 680px;
  background: var(--white);
  border-radius: 6px;
  box-shadow: 0px 5px 14px var(--light-black);
}

.email-holder {
  max-width: 900px;
  height: 520px;
  background: var(--white);
  background: var(--white);
  border-radius: 6px;
  box-shadow: 0px 5px 14px var(--light-black);
}

.otp-holder {
  max-width: 800px;
  height: 400px;
  background: var(--white);
  background: var(--white);
  border-radius: 6px;
  box-shadow: 0px 5px 14px var(--light-black);
  margin-top: 100px !important;
}

.error-message {
  text-align: center;
  color: var(--red);
  font-weight: 600;
  font-size: 11px;
  max-width: 300px;
}

.close-icon:hover {
  cursor: pointer;
}

.ease-out {
  animation: one-second-animation 0.1s ease-out;
}

input {
  border: none;
  margin: 3px -1px;
  font-size: 16px;
}

.input-border {
  border-bottom: 1px solid var(--line-border);
  margin-bottom: 5px;
}

.error-div {
  align-self: flex-start;
  max-width: 300px;
  height: 25px;
}

.pg-signup {
  text-align: left;
  font: normal normal 14px/16px Basis Grotesque Pro Regular;
  letter-spacing: 0.11px;
  opacity: 1;
}

.button-alignment {
  width: -moz-fit-content;
  width: fit-content;
  align-self: flex-end;
}

.button-alignment-login {
  float: right;
}

.cross-icon {
  width: 20px !important;
  margin-top: 10px;
}

.signup-parent {
  margin: 0 auto;
  position: relative;
}

.email-parent {
  margin: 70px auto;
  position: relative;
}

.welcome-text {
  text-align: center;
  max-width: 320px;
  font-family: Basis Grotesque Pro bold;
  margin: 0 auto;
}

::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: var(--light-gray);
}

::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: var(--light-gray);
}

.banner-padding {
  padding: 0px 50px 0px 0px;
}

.score-banner-padding {
  padding: 0px 50px 0px 50px;
}

.info {
  height: 110px;
  width: 500px;
}
.info img:nth-child(1) {
  display: block;
}
.info img:nth-child(2) {
  display: none;
}
.info:hover img:nth-child(1) {
  display: none;
}
.info:hover img:nth-child(2) {
  display: block;
}
.info:hover .info-hover {
  display: flex;
}

.info-hover {
  display: none;
}

.info-hover {
  background-color: var(--black);
}

.common-right-div {
  width: 100%;
  padding: 0 50px;
}

.right-email-div {
  width: 480px;
}

.flex-direction-row-col {
  flex-direction: row;
}

.left-verify-image {
  width: 275px;
}

.button-position {
  align-items: flex-end;
}

.text-width {
  max-width: 600px;
}

.marg-right {
  margin-right: 1rem !important;
}

@media only screen and (min-width: 1140px) {
  .verify-banner .parent-ver {
    padding-left: 240px;
  }
}
@media only screen and (max-width: 900px) {
  .mob-btn {
    margin-top: 0.5rem !important;
  }
  .otp-image {
    width: 200px !important;
  }
  .tab-width {
    max-width: 650px;
  }
  .mobile-display {
    display: none;
  }
  .web-merge {
    overflow: auto;
  }
  .signup-holder {
    max-width: 520px;
    height: 650px;
  }
  .margin-auto {
    margin: 0 auto;
    padding: 25px 0;
  }
  .email-holder {
    max-width: 520px;
    height: 750px;
  }
  .otp-holder {
    max-width: 520px;
    height: 680px;
  }
  .common-right-div {
    width: 100%;
    padding: 0px 45px;
  }
  .flex-direction-row-col {
    flex-direction: column;
  }
  .verification-banner {
    background-color: var(--banner);
    height: 60px;
  }
  .guest-banner {
    background-color: #343a40;
    height: 60px;
  }
  .right-email-div {
    margin-top: 25px;
    width: 100%;
  }
}
@media only screen and (max-width: 290px) {
  .banner-buttons-score {
    justify-content: center !important;
  }
}
@media only screen and (max-width: 600px) {
  .banner-buttons {
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    height: 70px;
  }
  .banner-padding {
    padding: 0px 20px 0px 0px;
  }
  .score-banner-padding {
    padding: 0px 12px 0px 12px;
  }
  .resp-adj {
    justify-content: center !important;
    margin: 0 auto;
  }
  .verification-banner {
    background-color: var(--banner);
    height: 80.207px;
  }
  .guest-banner {
    background-color: #343a40;
    height: 80px;
  }
  .display-none {
    display: none;
  }
  .display-none-not {
    display: flex;
  }
  .display-none-not .mob-btn {
    margin-top: 0.5rem !important;
  }
  .display-none-not .otp-options {
    max-width: 300px;
    max-height: 430px;
  }
  .display-none-not .otp-image {
    width: 200px !important;
  }
  .display-none-not .mob-hide {
    display: none;
  }
  .display-none-not .height-change {
    height: 380px !important;
    margin-bottom: 50px;
  }
  .display-none-not .marg-right {
    margin-right: 0 !important;
  }
  .display-none-not .text-width {
    max-width: 300px;
  }
  .display-none-not .left-verify-image {
    width: 210px;
  }
  .display-none-not .button-position {
    margin-top: 15px;
    align-items: center !important;
  }
  .display-none-not .info {
    height: 110px;
    width: 100%;
  }
  .display-none-not .right-email-div {
    margin-top: 25px;
    width: 300px;
  }
  .display-none-not .email-holder {
    max-width: 520px;
    height: 700px !important;
  }
  .display-none-not .otp-holder {
    max-width: 520px;
    height: 680px !important;
  }
}
@media only screen and (max-width: 520px) {
  .score-pred-banner {
    height: auto;
  }
  .score-banner-padding {
    flex-direction: column;
    position: relative;
    padding: 8px;
  }
  .banner-buttons-score {
    height: auto;
    justify-content: center;
    margin: 10px 0 0;
  }
  .banner-buttons-score .close-icon {
    position: absolute;
    top: 7px;
    right: 7px;
  }
  .banner-buttons-score .close-icon img {
    width: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .otp-holder {
    margin: 0 5px;
  }
  .app-bottom-bar {
    margin-bottom: 75px;
  }
  .padding-phone {
    padding: 0 20px;
  }
  .banner-font {
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 370px) {
  .otp-holder {
    max-width: 520px;
    height: 600px !important;
  }
  .hide-on-small {
    display: none;
  }
  .height-change {
    height: 380px !important;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 400px) {
  .banner-buttons-score {
    min-width: 150px;
  }
}
@media only screen and (max-width: 350px) {
  .banner-font {
    font-size: 11px !important;
  }
}
@media only screen and (max-width: 320px) {
  .banner-font {
    font-size: 10px !important;
  }
  .score-banner-icon {
    margin-right: 5px !important;
  }
}
@media only screen and (max-height: 700px) and (orientation: portrait) {
  .custom-align {
    align-items: flex-start !important;
  }
}
@media only screen and (max-width: 1000px) {
  .recomendation-banner {
    flex-direction: column;
    align-items: center;
  }
}
.reommendation-banner {
  height: 70px !important;
}

.score-pred-banner {
  margin-left: 20px;
  margin-right: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #DA001D !important;
}/*# sourceMappingURL=app-verification.css.map */