<div id="verify-page" class="parent-ver">
  <app-otp
    :OTP="true"
    :userData="user"
    ref="appVerification"
    v-if="verificationNeeded"
    @close="closePopup"
    :enterOTP="true"
    otpVerification="phoneVerify"
  />
  <div class="flex-view verification-banner align-items-center  reommendation-banner" id="verification" v-if="isRecomendationBanner && !isMDCATEnrolled">
    <img src="./../../../../assets/like_ribbon_web.svg" class="display-none reommendation-banner" />
    <img src="./../../../../assets/like_ribbon_mobile.svg" class="display-none-not reommendation-banner" />
    <div class="flex-view justify-content-between banner-padding recomendation-banner" style="
    width: 100%;">
      <!-- max-width: 1160px; -->
      <div class="flex-view align-items-center text-width-recommendation">
        <!-- <img src="./../../../../assets/Info hoverable.svg" style=" width: 20px;
            position: relative;
            right: 15px;
        " title="PLease Verify Your Email" /> -->
        <div class="flex-view flex-direction-col">
          <p class="body-2 font-family-bold text-color banner-font">
            Would you recommend Nearpeer to your friends?
          </p>

        </div>
      </div>
      <div class="flex-view align-items-center banner-buttons" style="flex-direction: column">
        <div class="chart-scale">
          <button class="btn-scale btn-scale-desc-1" @click="saveRecommendation(0)">0</button>
          <button class="btn-scale btn-scale-desc-1" @click="saveRecommendation(1)">1</button>
          <button class="btn-scale btn-scale-desc-2" @click="saveRecommendation(2)">2</button>
          <button class="btn-scale btn-scale-desc-3" @click="saveRecommendation(3)">3</button>
          <button class="btn-scale btn-scale-desc-4" @click="saveRecommendation(4)">4</button>
          <button class="btn-scale btn-scale-desc-5" @click="saveRecommendation(5)">5</button>
          <button class="btn-scale btn-scale-desc-6" @click="saveRecommendation(6)">6</button>
          <button class="btn-scale btn-scale-desc-7" @click="saveRecommendation(7)">7</button>
          <button class="btn-scale btn-scale-desc-8" @click="saveRecommendation(8)">8</button>
          <button class="btn-scale btn-scale-desc-9" @click="saveRecommendation(9)">9</button>
          <button class="btn-scale btn-scale-desc-10" @click="saveRecommendation(10)">10</button>
        </div>
        <div class="recom-score-text-container ">
          <p class="recom-score-text">Not At All</p>
          <p class="recom-score-text">Very Much</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="flex-view verification-banner score-pred-banner align-items-center" id="verification" v-if="isMDCATEnrolled && $store.state.mdcatScore > 0">
    <div class="flex-view justify-content-between score-banner-padding" style="
    width: 100%">
      <div class="flex-view align-items-center text-width">
        <div class="flex-view flex-direction-row ">
          <img src="../../../../assets/prediction-white.svg" class="score-banner-icon" style="margin-right: 15px"/>
          <p class="body-2 font-family-bold text-color banner-font">
            Your MDCAT predicted score is {{$store.state.mdcatScore}}
          </p>

        </div>
        
      </div>
      <div class="flex-view align-items-center banner-buttons banner-buttons-score">
        <button class="btn-contained" style="
        font-size: 10px;
        height: 25px;
        display: flex;
        align-items: center;
        background: white; color: black;" @click='$router.push("/score-predictor")'>
          View Score
        </button>
        <p class="text-filled close-icon" @click="isMDCATEnrolled = false">
          <img src="./../../../../assets/Icon-Close-white.svg" style="margin-left:10px"/>
        </p>
      </div>
    </div>
  </div> -->
  <!-- <div class="d-flex align-items-center justify-content-center pt-4 mdcat-predictor">
    <button class="btn-np outlined btn-predictor" id="verification" v-if="isMDCATEnrolled && $store.state.mdcatScore > 0" @click='$router.push("/score-predictor")'>
      <img class="mr-2" src="../../../../assets/meter.svg" style="width:35px" />
      <p>Your <span>MDCAT</span> predicted score: <span>{{$store.state.mdcatScore}}</span></p>
    </button>
  </div> -->
  <!-- z-index: 11; -->
  <div class="flex-view verification-banner align-items-center" id="verification" v-if="banner && !isRecomendationBanner && !isMDCATEnrolled">
    <img src="./../../../../assets/Group 10294.svg" class="display-none" />
    <img src="./../../../../assets/Group 102941.svg" class="display-none-not" />
    <div class="flex-view justify-content-between banner-padding" style="
    width: 100%">
      <!-- max-width: 1160px; -->
      <div class="flex-view align-items-center text-width">
        <!-- <img src="./../../../../assets/Info hoverable.svg" style=" width: 20px;
            position: relative;
            right: 15px;
        " title="PLease Verify Your Email" /> -->
        <div class="flex-view flex-direction-col">
          <p class="body-2 font-family-bold text-color banner-font">
            Your Email is not Verified.
          </p>

        </div>
      </div>
      <div class="flex-view align-items-center banner-buttons">
        <button class="btn-contained" style="
        font-size: 12px;
    height: 25px;
    display: flex;
    align-items: center;" @click="openEmailVerification">
          Verify
        </button>
        <p class="text-filled close-icon" @click="banner = false">
          <img src="./../../../../assets/Icon-Close-white.svg" style="margin-left:10px"/>
      </p>
      </div>
    </div>
  </div>
  <div class="flex-view verification-banner align-items-center" id="verification" v-if="phoneBanner && !isRecomendationBanner && !isMDCATEnrolled">
    <img src="./../../../../assets/Group 10294.svg" class="display-none" />
    <img src="./../../../../assets/Group 102941.svg" class="display-none-not" />
    <div class="flex-view justify-content-between banner-padding" style="
    width: 100%">
      <!-- max-width: 1160px; -->
      <div class="flex-view align-items-center text-width">
        <!-- <img src="./../../../../assets/Info hoverable.svg" style=" width: 20px;
            position: relative;
            right: 15px;
        " title="PLease Verify Your Email" /> -->
        <div class="flex-view flex-direction-col">
          <p class="body-2 font-family-bold text-color banner-font">
            Your Phone is not Verified.
          </p>

        </div>
      </div>
      <div class="flex-view align-items-center banner-buttons">
        <button class="btn-contained" style="
        font-size: 12px;
    height: 25px;
    display: flex;
    align-items: center;" @click="openPhoneVerification">
          Verify
        </button>
        <p class="text-filled close-icon" @click="phoneBanner = false">
          <img src="./../../../../assets/Icon-Close-white.svg" style="margin-left:10px"/>
      </p>
      </div>
    </div>
  </div>
  <div class="flex-view guest-banner align-items-center" id="verification" v-if="guestUser && !isRecomendationBanner">
    <img src="./../../../../assets/Group 10277.svg" class="display-none banner-font" />
    <img src="./../../../../assets/Group 10285.svg" class="display-none-not banner-font" />
    <div class="flex-view justify-content-between banner-padding" style="
    width: 100%">
      <div class="flex-view align-items-center text-width">
        <!-- <img src="./../../../../assets/Info hoverable.svg" class="display-none" style=" width: 20px;
            position: relative;
            right: 15px;
        " title="For Enjoying all the features Sign up to Nearpeer.org" /> -->
        <div class="flex-view flex-direction-col">
          <p class="body-2 font-family-bold text-color display-none">
            You are in Guest Mode. Login for Full Access.
          </p>
          <p class="body-2 font-family-bold text-color display-none-not">
            You are in Guest Mode.
          </p>
          <!-- <p class="subtitle-1 text-color">
            In order to continue your learning experience and enjoy full access to all features, please Sign Up to
            Nearpeer.org
          </p> -->
        </div>
      </div>
      <div class="flex-view align-items-center banner-buttons">
        <button class="btn-contained" style="
            font-size: 12px;
            height: 25px;
            display: flex;
            align-items: center;" @click="$emit('openSignupPopup')">
   Login
        </button>
        <p class="text-filled close-icon" @click="guestUser = false;">
          <img src="./../../../../assets/Icon-Close-white.svg" style="margin-left:10px"/>
        </button>
      </div>
    </div>
  </div>

  <div class="signup-bg" style="overflow: auto;" v-if="signupPopUp">
    <div class="signup-holder flex-view justify-content-around align-items-center flex-direction-col signup-parent">
      <span class="closeButtonImage" style="top: 0;" @click="closeSignup"><img
          src="./../../../../assets/Icon-Close-black.svg" class="cross-icon" /></span>
      <div>
        <img src="./../../../../assets/np-red.svg" />
      </div>
      <div class="flex-view flex-direction-row-col justify-content-around common-right-div">
        <div class="flex-view flex-direction-col align-items-center mobile-display">
          <img src="./../../../../assets/Group 10068.svg" class="left-verify-image" />
          <h5 class="welcome-text mt-4 mb-2">
            Don't stop your journey.....
          </h5>

          <p class="body-2 text-align-center" style="max-width: 275px;">
            Please sign up to continue using the Nearpeer Velocity Portal.
          </p>
        </div>
        <div class="flex-view flex-direction-col ease-out justify-content-around margin-auto" style="   width: 300px;

        ">
          <div class="mb-3">
            <h5 class="font-family-bold" style="color: var(--theme-bg);">
              Signup
            </h5>
          </div>
          <div class="flex-view mb-2 flex-direction-col input-border">
            <label class="subtitle-1">Full Name</label>
            <input class="body-2" v-model="signUp.full_name" placeholder="Full Name" />
          </div>
          <div class="flex-view mb-2 flex-direction-col input-border">
            <label class="subtitle-1">Email</label>
            <input class="body-2" v-model="signUp.email" type="email" placeholder="Email" />
          </div>
          <div class="flex-view mb-2 flex-direction-col input-border">
            <label class="subtitle-1">Contact</label>

            <div style="display: flex; flex-direction: row;">
              <!-- <select
                name="countryCode"
                id=""
                style="border: 0px;"
                v-model="signUp.countryCode"
              >
                <option value="92">+92</option>
              </select> -->
              <input type="text" id="country-verify-signup" class="country-code-dropdown" >
              <input class="body-2" style="margin-left: 20px;" maxlength="16" v-model="signUp.contact" placeholder="3*********" />
            </div>
          </div>

          <div class="flex-view mb-2 flex-direction-col input-border">
            <label class="subtitle-1">Password</label>
            <input class="body-2" v-model="signUp.password" placeholder="Enter 8 to 20 characters" type="password" />
          </div>
          <div class="flex-view flex-direction-col mb-2 input-border">
            <label class="subtitle-1">Confirm Password</label>
            <input class="body-2" v-model="signUp.confirmPassword" placeholder="Confirm your password"
              type="password" />
          </div>
          <div class="flex-view mb-2 flex-direction-row justify-content-between align-items-center">
            <div class="flex-view flex-direction-col marg-right">
              <label class="subtitle-1">Date of Birth</label>
              <div class="flex-view justify-content-between mt-2" style="width: 168px;
                ">
                <input type="date" class="body-2" id="date" name="date" value="dob" :max="currentDate"
                  v-model="signUp.dob" style="    width: 150px;
                  " />
              </div>
            </div>
            <div class="flex-view flex-direction-col">
              <label class="subtitle-1">Gender</label>
              <div class="flex-view gen-div mt-2">
                <div class="flex-view justify-content-between mr-3">
                  <label class="subtitle-1">Male</label>
                  <input type="radio" class="body-2 ml-2" id="gender" name="gender" value="male"
                    v-model="signUp.gender" />
                </div>
                <div class="flex-view justify-content-between mr-3">
                  <label class="subtitle-1">Female</label>
                  <input type="radio" class="body-2 ml-2" id="gender" name="gender" value="female"
                    v-model="signUp.gender" />
                </div>
              </div>
            </div>
          </div>
          <div class="error-div ellipsis_">
            <div class="blue-loader" v-if="loader"></div>
            <p class="error-message" v-if="errorMessage">
              {{errorMessage}}
            </p>
          </div>

          <p class="pg-signup">
            By creating an account, I accept Nearpeer's Terms of Service and
            Privacy Policy.
          </p>

          <button @click="postSignup(signUp)" class="btn-contained button-alignment mt-3" :disabled="loader">
            Create Account
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="signup-bg flex-view align-items-center custom-align" style="overflow: auto;" v-if="emailVerification">
    <div class="otp-holder flex-view justify-content-around align-items-center flex-direction-col signup-parent"
    v-bind:class="{ 'app-bottom-bar' : reactApp }"
      style="width:100%;overflow: scroll;">
      <span class="closeButtonImage" style="top: 0;" @click="closeEmail"><img
          src="./../../../../assets/Icon-Close-black.svg" class="cross-icon" /></span>
          <!-- <button class="btn-np text-filled" @click="backVerifyPopup" style="color: #00000069 !important;
          left: 0;
          top: 14px;
          position: absolute;" v-if="!editable"><img style="width: 8px;
            margin-right: 5px;" src="./../../../../assets/arrowleft.svg"> Back</button> -->
      <!-- <div>
        <img src="./../../../../assets/np-red.svg" />
      </div> -->
      <div class="flex-view flex-direction-row-col justify-content-around common-right-div align-items-center">
        <div class="flex-view flex-direction-col align-items-center resp-adj">
          <img src="./../../../../assets/Group 8845.svg" v-if="emailSent" class="otp-image" />
          <img src="./../../../../assets/Image 335.svg"  v-if="!emailSent"         class="otp-image" />
        </div>
        <!-- <div class="flex-view flex-direction-col ease-out left-verify-image justify-content-around right-email-div" v-if="!emailSent">
          <h3 class="mb-2">
            Don't stop your learning.....
          </h3>

          <p class="body-2">Please verify your email address to continue watching videos. You will not be able to watch
            further videos without verification.</p>

          <div class="flex-view flex-direction-col button-position">
            <button class="btn-contained" @click="sendEmailVerification"> SEND VERIFICATION EMAIL</button>
            <button class="btn-contained m-2" @click="changeEmail">Update Email</button>
            <div class="info flex-view flex-direction-col align-items-end">
              <button class="btn-np text-filled mt-2 m-0 flex-view" @click="withoutVerification">
                <img src="./../../../../assets/Info hoverable.svg" style="width: 20px;
            position: relative;
            right: 12px;
            bottom: 2px;
        
          " />
                <img src="./../../../../assets/Info Hover.svg" style="width: 20px;
          position: relative;
          right: 12px;
          bottom: 2px;
        " />CONTINUE WITHOUT VERIFICATION</button>
              <div class="flex-view mt-2 info-hover">
                <img src="./../../../../assets/Info hoverable.svg" style="width: 20px;
        " class="m-2" />
                <img src="./../../../../assets/Info hoverable.svg" style="width: 20px;
      " class="m-2" />
                <p class="body-2 m-2" style="color: var(--white);">
                  You will not have access to videos without vertification.
                </p>
              </div>
            </div>
          </div>
        </div> -->
 
        <div class="flex-view flex-direction-col justify-content-around resp-adj mt-2" style="max-width: 330px;height: 265px;" v-if="!emailSent">
          <!-- <div v-if="!updateEmail">
            <h4>Complete Your Signup</h4>
            <p class="body-2 mt-3">Please provide your email address to complete your credentials.</p>
         input-border </div> -->
          <div >
            <h4>Verify Email Address</h4>
            <p class="body-2 mt-2">Please verify your email address to continue watching videos. You will not be able to watch further videos without verification.</p>
          </div>
          <div class="flex-view flex-direction-col">
            <div class="flex-view mb-2 flex-direction-col mt-3 " style="position: relative;">
              <label class="subtitle-1" style="    position: absolute;
              left: 14px;
              bottom: 42px;
              background: white;
              width: 75px;
          
          ">Your Email</label>
              <input class="body-2 banner-font" v-model="missingCredentials.email" type="email" value="missingCredentials.email" style="border: 1px solid rgb(0 0 0 / 29%);
border-radius: 5px;
    padding: 10px 15px;
              background: transparent;"/>
              <!-- <img @click="editable = false;" src="./../../../../assets/red-pen.svg" class="red-pen" title="Edit your Email"
              v-if="editable"/> -->
            </div>
            <div class="error-div ellipsis_">
              <div class="blue-loader" v-if="loader"></div>
              <p class="error-message" v-if="errorMessage">
                {{errorMessage}}
              </p>
            </div>
            <!-- <button class="btn-contained" @click="postMissingCredentials(missingCredentials.email,'send', 'email')" v-if="editable">
          Send Verification
            </button> -->
            <button class="btn-contained" @click="postMissingCredentials(missingCredentials.email,'update', 'email')">
              Send Verification
            </button>
          </div>
        </div>
        <div class="flex-view flex-direction-col ease-out justify-content-around right-email-div" v-if="emailSent"> 
          <h3 class="mb-2 flex-view">
            Email Sent <img src="./../../../../assets/Icon - Done or Correct.svg" class="ml-1">
          </h3>

          <p class="body-2">
            An email has been sent to <b>{{missingCredentials.email}}</b>. Please click on the link provided in the email to verify
            your email address within 3 hours.
          </p>
          <button class="btn-np outlined m-0 mt-3" @click="sendEmailVerification(missingCredentials.email)">Resend Email</button>
        </div>

      </div>
    </div>
  </div>


  <div class="signup-bg flex-view align-items-center custom-align" style="overflow: auto;" v-if="phoneVerification">
    <div class="otp-holder flex-view justify-content-around align-items-center flex-direction-col signup-parent"
    v-bind:class="{ 'app-bottom-bar' : reactApp }"
      style="width:100%;overflow: scroll;">
      <span class="closeButtonImage" style="top: 0;" @click="closePhone" v-if="!forceEnter"><img
          src="./../../../../assets/Icon-Close-black.svg" class="cross-icon" /></span>
          <!-- <button class="btn-np text-filled" @click="backVerifyPopup" style="color: #00000069 !important;
          left: 0;
          top: 14px;
          position: absolute;" v-if="!editable"><img style="width: 8px;
            margin-right: 5px;" src="./../../../../assets/arrowleft.svg"> Back</button> -->
      <!-- <div>
        <img src="./../../../../assets/np-red.svg" />
      </div> -->
      <div class="flex-view flex-direction-row-col justify-content-around common-right-div align-items-center">
        <div class="flex-view flex-direction-col align-items-center resp-adj">
          <img src="./../../../../assets/Group 8845.svg" v-if="emailSent" class="otp-image" />
          <img src="./../../../../assets/Image 335.svg"  v-if="!emailSent" class="otp-image" />
        </div>

        <div class="flex-view flex-direction-col justify-content-around resp-adj mt-2" style="max-width: 330px;height: 265px;" v-if="!emailSent">
          <div >
            <h4>{{forceEnter ? 'Add Phone Number' : 'Verify Phone Number'}}</h4>
            <p class="body-2 mt-2">Please {{forceEnter ? 'add' : 'verify'}} your phone number to continue watching videos. You will not be able to watch further videos without phone number.</p>
          </div>
          <div class="flex-view flex-direction-col">
            <div class="flex-view mb-2 flex-direction-col mt-3 " style="position: relative;">
              <label class="subtitle-1" style="position: absolute;
              left: 14px;
              bottom: 45px;
              background: white;
              width: 75px;
          
          ">Your Phone</label>

              <div style="display: flex; flex-direction: row; border: 1px solid rgb(0 0 0 / 29%); border-radius: 5px; padding: 10px 15px; background: transparent;">
                <!-- <select
                  name="countryCode"
                  id=""
                  style="border: 0px;"
                  v-model="missingCredentials.countryCode"
                >
                  <option value="92">+92</option>
                </select> -->
                <input type="text" id="country-verify" class="country-code-dropdown" >
                <input class="body-2 banner-font" style="margin-left: 20px;" maxlength="16" v-model="missingCredentials.phone" type="number" value="missingCredentials.phone" />
              </div>
              
              <!-- <img @click="editable = false;" src="./../../../../assets/red-pen.svg" class="red-pen" title="Edit your Phone"
              v-if="editable"/> -->
            </div>
            <div class="error-div ellipsis_">
              <div class="blue-loader" v-if="loader"></div>
              <p class="error-message" v-if="errorMessage">
                {{errorMessage}}
              </p>
            </div>
            <!-- <button class="btn-contained" @click="postMissingCredentials(missingCredentials,'send', 'phone')" v-if="editable">
              Send Verification
            </button> -->
            <div style="flex-direction: row;">
              <button class="btn-np outlined" @click="postMissingCredentials(missingCredentials,'update', 'phone')">
                Update and Verify
              </button>
              <button class="btn-contained" @click="postMissingCredentials(missingCredentials,'update-close', 'phone')">
                Update
              </button>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>



  <div class="signup-bg flex-view align-items-center custom-align" style="overflow: auto;" v-if="missingEmail">
    <div
      class="email-holder tab-width flex-view justify-content-around align-items-center flex-direction-col signup-parent"
      style="width:100%;overflow: scroll;">
      <span class="closeButtonImage" style="top: 0;" @click="missingEmail = false"><img
          src="./../../../../assets/Icon-Close-black.svg" class="cross-icon" /></span>

      <div class="flex-view flex-direction-row" style="    width: 100%;
        justify-content: space-around;">
        <div class="flex-view mob-hide">
          <img src="./../../../../assets/Group 10184 (1).svg" style="width: 270px;">
        </div>
        <div class="flex-view flex-direction-col justify-content-around height-change" style="max-width: 300px;">
          <div>
            <img src="./../../../../assets/np-red.svg" />
          </div>
          <div v-if="!updateEmail">
            <h4>Complete Your Signup</h4>
            <p class="body-2 mt-3">Please provide your email address to complete your credentials.</p>
          </div>
          <div v-if="updateEmail">
            <h4>Update Email</h4>
            <p class="body-2 mt-3">Please update your email incase you entered a wrong email first.</p>
          </div>
          <div class="flex-view flex-direction-col">
            <div class="flex-view mb-2 flex-direction-col input-border">
              <label class="subtitle-1">Email</label>
              <input class="body-2" v-model="missingCredentials.email" type="email" placeholder="Email" />
            </div>
            <div class="error-div ellipsis_">
              <div class="blue-loader" v-if="loader"></div>
              <p class="error-message" v-if="errorMessage">
                {{errorMessage}}
              </p>
            </div>
            <button class="btn-contained" @click="postMissingCredentials(missingCredentials.email)">
              Submit
            </button>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="signup-bg flex-view align-items-center custom-align" style="overflow: auto;" v-if="showGuestLogin">
    <div
      class="email-holder tab-width flex-view justify-content-around align-items-center flex-direction-col signup-parent"
      style="max-width: 300px !important;
            max-height: 200px !important; overflow: scroll;">
      <div>
        <img src="./../../../../assets/np-red.svg" />
      </div>
      <div class="flex-view flex-direction-row-col justify-content-around common-right-div">
        <!-- <div class="flex-view flex-direction-col align-items-center">
              <img
                src="./../../../../assets/Group 8845.svg"
                class="left-verify-image"
              />
            </div> -->
        <div class="flex-view flex-direction-col">

          <!-- <button @click="postSignupAsGuest" :disabled="dataValidated" v-bind:class="{ disabled: dataValidated }"
            class="google-button Button subtitle-2 text-transform-none">
            <img src="./../../../../assets/guest.svg" style="width: 18px; margin-right: 8px;" />
            Continue as a Guest
          </button> -->
          <button @click="clickLogin" class="google-button Button subtitle-2 text-transform-none">
            <img src="./../../../../assets/np-icon.svg" style="width: 18px; margin-right: 8px;" />
            Login
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>