$tablet: 1025px;
$mobile: 767px;
$galaxyfold: 280px;

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}
@mixin galaxyfold {
  @media (max-width: #{$galaxyfold}) {
    @content;
  }
}
.main-body-inner {
  max-width: 1244px;
  width: 100%;
  margin: 100px auto 40px;
  padding: 0 30px;
  @include tablet {
    padding: 0 20px;
  }
  @include mobile {
    padding: 0 10px;
  }
}
