<div style="margin-top: 65px;position: relative;">
  <div class="signup-bg flex-view align-items-center custom-align" style="overflow: auto; z-index: 9999999;" v-if="OTP">
    <div
      class="otp-holder tab-width flex-view justify-content-around align-items-center flex-direction-col signup-parent" style="width: 100%;">
      <!-- style="height: 650px;" -->
     <span class="closeButtonImage" style="top: 0; 
      " @click="OTP = false; $emit('close')"><img
          src="./../../../../assets/Icon-Close-black.svg" class="cross-icon" /></span>
          <button class="btn-np text-filled" @click="backVerification()" style="color: #00000069 !important;
          left: 0;
          top: 14px;
          position: absolute;" v-if="(enterOTP || (!logoutAll && !enterOTP)) && otpVerification === 'login'"><img style="width: 8px;
            margin-right: 5px;" src="./../../../../assets/arrowleft.svg"> Back</button>
      <div class="flex-view flex-direction-col" style="    height: 100%;
              justify-content: center;
              width: 100%;">
        <!-- <div class="flex-view justify-content-center">
          <img src="./../../../../assets/np-red.svg" />
        </div> -->
        <div class="flex-view flex-direction-row-col" style="    width: 100%;
              justify-content: space-around;align-items: center;" v-if="logoutAll">
          <div class="flex-view hide-on-small">
            <img src="./../../../../assets/Group 10089.svg" class="otp-image" style="width: 270px;">
          </div>
          <div class="flex-view flex-direction-col otp-options otp-padding">

            <div class="padding-phone">
              <h4 class="mt-4">Please logout from other devices to proceed.</h4>
              <p class="body-2 mt-3">You can login from a maximum of three devices at one time. Please logout from one of the following devices to continue here:</p>
              <!-- <p class="body-2 mt-3">Please logout from any of the following devices for logging in to this device.</p> -->
            </div>
            <div class="flex-view flex-direction-col  align-items-center mt-4" style="overflow-x: hidden; overflow-y: scroll !important">
              <div  v-for="(session, index) in sessions" class="flex-view justify-content-between flex-direction-row align-items-center mob-length otp-padding" style="width: 100%;margin:5px;border-bottom: 1px solid var(--line-border);
              padding: 5px;">
                <div class="flex-view">
                <p class="body-2" style="color: var(--theme-bg);margin-right: 5px;">{{index + 1}}-</p>
                <!-- <p class="ellipsis body-2" style="    width: 200px;">{{((session || {}).device_detail || {}).os +'(' + (((session || {}).device_detail || {}).device || {}).type +')'}}  </p> -->
                <p class="ellipsis body-2 device-length" >{{((session || {}).device_detail || {}).browser}}</p>
              </div>              
                <button class="btn-np outlined mob-btn" @click= "logoutAll = false; selectedSession = session; getUserData();">Logout</button>
              </div>
            </div>
            <div class="flex-view justify-content-center mt-2 justify-content-around flex-direction-col">
              <button class="btn-np outlined" style="
              padding: 10px 9px 9px 11px!important;width: 100%;
    margin: 0px 0px 15px 0px !important;" @click= "logoutAll = false; selectedSession = sessions[0]; getUserData(); removeAllSession = true">Logout All Devices</button>
              <!-- <button :class="skipLoading ? 'btn-contained disabled':'btn-contained'" style="
              padding: 10px 9px 9px 11px!important;width: 100%;display: flex; justify-content: center;" @click= "skipValidate()" :disabled="skipLoading">Skip For Now</button> -->
            </div>
          </div>

        </div>
        <div class="flex-view flex-direction-row-col " style="    width: 100%;
              justify-content: space-around;align-items: center;" v-if="!logoutAll && !enterOTP">
          <div class="flex-view hide-on-small">
            <img src="./../../../../assets/Image 335.svg" class="otp-image" style="width: 270px;">
          </div>
          <div class="flex-view flex-direction-col justify-content-around otp-options otp-padding"
            >
            <!-- style="max-width: 300px;margin-bottom: 70px;" -->

            <div>
              <h4>Account Verification</h4>
              <p class="body-2 mt-3">We will send you a <b>One Time Password (OTP)</b>.</p>
              <p class="body-2 mt-3">Please choose where would you like to receive your OTP.</p>
            </div>
  
            <div class="flex-view justify-content-between flex-direction-row align-items-center mob-length" style="width: 100%;margin:5px;border-bottom: 1px solid var(--line-border);
                padding: 20px 5px;">
              <div class="flex-view">
              <p class="body-2" style="color: var(--theme-bg);margin-right: 5px;"><img src="./../../../../assets/Icon-Email.svg" /></p>
              <p class="ellipsis body-2 device-length" >{{splitEmail[0].substring(0, 3)}}*****@{{splitEmail[1]}}</p>
            </div>              
              <button class="btn-contained mob-btn" @click= "sendOtp('email')" style="min-width: 102px;">Send OTP</button>
            </div>
            <!-- <div class="flex-view justify-content-between flex-direction-row align-items-center mob-length" style="width: 100%;margin:5px;border-bottom: 1px solid var(--line-border);
                padding: 20px 5px;">
              <div class="flex-view">
              <p class="body-2" style="color: var(--theme-bg);margin-right: 5px;"><img src="./../../../../assets/Icon awesome-phone-alt.svg" /></p>
              <p class="ellipsis body-2" style="    width: 200px;">****{{userPhone.substring(8, 12)}}</p>
            </div>              
              <button class="btn-contained mob-btn" @click= "sendOtp('phone')" style="min-width: 102px;" >Send OTP</button>
            </div> -->
            <div class="flex-view mt-2" style="justify-content: flex-end; margin-top: 35px !important;">
              <button class="btn-np outlined"  @click= "logoutAll = false; OTP = false; $emit('close')">Cancel</button>
              <!-- <button :class="skipLoading ? 'btn-contained disabled':'btn-contained'" @click= "skipValidate()" :disabled="skipLoading">Skip FOR NOW</button> -->
            </div>
          </div>

        </div>
        <div class="flex-view flex-direction-row-col" style="    align-items: center;
              width: 100%;
              justify-content: space-around;" v-if="enterOTP">
          <div class="flex-view hide-on-small">
            <img src="./../../../../assets/5326009.svg" v-if="phoneSelected" class="otp-image" style="width: 270px;">
            <img src="./../../../../assets/Icon - Done or Correct.svg"  v-if="otpSuccess" class="otp-image" style="width: 270px;">
            <img src="./../../../../assets/Group 1420.svg" v-if="emailSelected" class="otp-image" style="width: 270px;">
          </div>
          <div class="flex-view flex-direction-col justify-content-around otp-options otp-padding">

            <div v-if="!otpSuccess">
              <h4>Please enter the OTP sent to you.</h4>  
              <p class="body-2 mt-3">A verification code has been sent to <b
                  v-if="emailSelected">{{userEmail}}</b><b v-if="phoneSelected">{{userPhone}}</b>. To complete your
                email verification please enter the <b>6</b> digit verification code.</p>
            </div>
            <div v-if="otpSuccess">
              <h4>OTP Verified.</h4>  
              <p class="body-2 mt-3">You are being taken to the velocity portal.</p>
            </div>
            <div class="flex-view flex-direction-col justify-content-around align-items-center mt-4">

              <form method="get" class="digit-group" data-group-name="digits" data-autosubmit="false"
                autocomplete="off">
                <input type="text" @paste="onPasteOTP($event, 1)" id="digit-1" name="digit-1" data-next="digit-2" maxlength="1" @keydown="onKeydown"
                  v-on:keyup="checkKey($event, 1)" v-model="digit1" />
                <input type="text" id="digit-2" name="digit-2" data-next="digit-3" data-previous="digit-1" maxlength="1"
                  @keydown="onKeydown" v-on:keyup="checkKey($event, 2)" v-model="digit2" />
                <input type="text" id="digit-3" name="digit-3" data-next="digit-4" data-previous="digit-2" maxlength="1"
                  @keydown="onKeydown" v-on:keyup="checkKey($event, 3)" v-model="digit3" />
                <!-- <span class="splitter">&ndash;</span> -->
                <input type="text" id="digit-4" name="digit-4" data-next="digit-5" data-previous="digit-3" maxlength="1"
                  @keydown="onKeydown" v-on:keyup="checkKey($event, 4)" v-model="digit4" />
                <input type="text" id="digit-5" name="digit-5" data-next="digit-6" data-previous="digit-4" maxlength="1"
                  @keydown="onKeydown" v-on:keyup="checkKey($event, 5)" v-model="digit5" />
                <input type="text" id="digit-6" name="digit-6" data-next="digit-7" data-previous="digit-5" maxlength="1"
                  v-model="digit6" @keydown="onKeydown" v-on:keyup="checkKey($event, 6)" />
              </form>

              <button class="btn-contained mt-3" @click="sendOTPConfirmation">Submit</button>
            </div>
            <div v-if="otpError">
              <p class="body-2" style="color: red !important;font-weight: bold;text-align: center;
              margin-top: 8px;">{{otpError}}</p>
            </div>
            <div class="flex-view mt-3 justify-content-center">
              <p class="subtitle-2">Didn't get the code? <b @click="resendOtp" style="color:var(--theme-bg); cursor: pointer">Resend</b></p>
            </div>
 
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
