
<!-- <div class="poppup-cp-container">v-if="session.quiz.is_skippable" -->

  <div class="poppup-cp-new-overlay align-items-center" style="z-index: 111;">
    <div class="poppup-cp-container">
      <div class="email-poppup-cp-new" style="height: auto; padding: 5px;">
        <div class="f-c d-row flex-directin-row-col" style="position: relative;    padding: 60px 15px;
        ">
          <span class="closeBtn" style="    margin: 10px;
          " @click="closeAccessPopup">
            x
          </span>
          <div v-if="!isMobileOrTablet" class="flex-view justify-content-center" style="min-width: 180px;padding: 0px 30px;">
            <img src="../../../../assets/DownloadPageMonitor 1.svg">
          </div>
          <div class="f-c d-col ppmaxwidth" style="padding: 0px 15px;
          width: 380px;">
          <div class="flex-view flex-direction-col justify-content-around" style="height: 245px;">
            <h4>Continue With {{isMobileOrTablet ? 'Mobile' : 'Desktop'}} App For Faster Streaming</h4>
            <p class="body-2" v-if="isMobileOrTablet">
              Get offline video storage, instant notifications and much much more with your App. Try now.
            </p>
            <p class="body-2" v-else>
              Our app has been developed to help our users view lectures with zero buffering and high quality streaming.
            </p>
            <div class="f-c d-row" style="justify-content: flex-end;">
              <button class="btn-contained flex-view justify-content-center align-items-center" @click="DownloadApp" style="width: 100%;">
                <img v-if="!user.mobile_app_installed" style="margin-right: 5px;" src="../../../../assets/Icon - Download.svg">
                  {{user.mobile_app_installed ? 'Open App' : 'Download App'}}
              </button>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
  </div>
  
  <!-- </div> -->
  