<div id="main-body">
    <div class="bg-parent">
        <div class="right-inner-width max-width top-spacing">
            <div v-if="isPageLoading" class="website-loader">
                <div>
                    <img src="../../assets/website_loading_animation.gif" />
                </div>
            </div>
            <app-chat v-if="session" :session="session" :chats="sessionChats" @onLogin="openLogin" :is_instructor="false"></app-chat>
        </div>
    </div>
    <app-login ref="loginModal" :type="'liveSession'" @onLogin="onLogin" :mandatory="session.is_registration_form_mandatory" />
</div>
