<div class="practice-tour">
    <div class="practice-wt-wrapper" v-if="practiceWt">
        <div class="practice-walktrough">
          <h6>"Practice" is now available at Nearpeer!</h6>
          <p>Create a custom quiz from the topic of your own choice and invite friends to compete with them Live! Try now. Guess what? It's free for everyone.</p>
          <div class="d-flex">
            <button class="btn-np " @click="cancelWT">Cancel</button>
            <button class="btn-contained" @click="goToPractice()">Go</button>
          </div>
        </div>
      </div>
</div>