
.app-footer {
  display: flex;
  height: 56px;
  box-shadow: 0 0 10px 5px #efefef;
  align-items: center;
  border-bottom: 1px solid #efefef;
}

.footer-title {
  margin: 0 16px;
  font-weight: 500;
}
