@font-face {
  font-family: Basis Grotesque Pro Bold;
  src: url(../assets/fonts/FontsFree-Net-BasisGrotesquePro-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: Basis Grotesque Pro Light;
  src: url(../assets/fonts/FontsFree-Net-BasisGrotesquePro-Light.ttf);
  font-display: swap;
}
@font-face {
  font-family: Basis Grotesque Pro Regular;
  src: url(../assets/fonts/FontsFree-Net-BasisGrotesquePro-Regular.ttf);
  font-display: swap;
}

:root {
  --black-transparent: #000000de;
  --black: #000000;
  --light-black: #00000029;
  --gray: #838383;
  --white: #ffffff;
  --gradient-blue: #5169d5;
  --border-white: #f3f3f3;
  --white-deep: #f9f9f9;
  --light-gray: #c0c0c0;
  --common-blue: #4d76da;
  --light-blue: #108da3;
  --input-border: #a7a3a33d;
  --red: red;
  --crimpson-red: #e94058;
  --facebook-color: #375997;
  --mod-gray: #5d5f64;
  --light-green: #60e0ac;
  --course-landing-bg: #e3e8f1;
  --course-shadow: #b0b0b000;
  --yellow: yellow;
  --navy-blue: #0000ff38;
  --video-bg: #2125296b;
  --walkthrough: #080808a8;
  --delete:rgb(8 8 8 / 28%);
  --video-delete: rgb(0 0 0 / 7%);
  --quality-black:rgb(0 0 0 / 65%);

  --sidebar-label: #84a9bf; 

  --transparent:transparent;
  --theme-bg:#E03249;
  --line-border:#EAEAEA;
  --theme-bg-light:#E0324921; 
  --theme-bg-light-medium:#EA4B60;
  
  --line-border-hover:#efd1d5;
  --background-gray:#f5f6fa;
  --background-gray-dark:#80808030;
  --white-medium-light:hsl(0deg 0% 100% / 95%);
  --transparent: transparent;
  --theme-bg: #e03249;
  --line-border: #eaeaea;
  --theme-bg-light: #e0324921;
  --theme-bg-light-medium: #ea4b60;
  --white-light: #ffffff21;
  --white-extra-light: #ffffff26;
  --done-green:#0BD684;
  --loader-white-bg:#f5f6fa6b;
  --popQuiz-loader:rgb(245 246 250 / 77%);
  --result-yellow:#DAB94D;
  --result-green:#0BD684;
  --result-red:#E94058;
  --option-selected:#4C78DA;
  --result-correct:#0BD684;
  --result-wrong:#E94058;
  --banner:#2E374B;
  --video-card:#E0324936;
  --wireframes-grey: #E3E8F1;
}
h1 {
  letter-spacing: -1.12px;
  color: var(--black-transparent);
  opacity: 1;
  text-align: left;
}
h2 {
  letter-spacing: -0.38px;
  color: var(--black);
  opacity: 1;
  text-align: left;
}
h3 {
  letter-spacing: 0px;
  color: var(--black);
  opacity: 1;
  text-align: left;
}
h4 {
  letter-spacing: 0px;
  color: var(--black);
  opacity: 1;
}
h5 {
  font: normal normal 22px/27px Basis Grotesque Pro Regular;
  letter-spacing: 0px;
  color: var(--black);
  opacity: 1;
  text-align: left;
}
h6,
.body-1 {
  letter-spacing: 0px;
  color: var(--black);
  opacity: 1;
  text-align: left;
}
.body-2 {
  letter-spacing: 0px;
  color: var(--black);
  opacity: 1;
  text-align: left;
}
.subtitle-1 {
  letter-spacing: 0.11px;
  color: var(--black);
  opacity: 1;
  text-align: left;
}
.subtitle-2 {
  letter-spacing: 0.17px;
  color: var(--gray);
  opacity: 1;
  text-align: left;
}
.new-tag {
  text-align: left;
  font-family: Roboto;
  line-height: 15px;
  font-size: 13px;
  letter-spacing: 0px;
  color: var(--white);
  text-transform: uppercase;
  opacity: 1;
  border-radius: 3px;
  padding: 3px 7px;
  background-color: var(--theme-bg-light-medium);
}
.caption {
  letter-spacing: 0.4px;
  color: var(--black);
  opacity: 1;
}
.overline {
  letter-spacing: 1.88px;
  color: var(--black);
  text-transform: uppercase;
  opacity: 1;
}

.filter-btn {
  font: normal normal normal 14px/17px Roboto;
  letter-spacing: 0.09px;
  opacity: 1;
  padding: 6px 12px;
  border: 1px solid #d4d4d4 !important;
  border-radius: 20px;
  background-color: #ececec !important;
  transition-duration: 0.2s;
  p{
    color: var(--black) !important;
  }
}
.filter-btn-active {
  border: 1px solid #565656 !important;
  // background-color: #000000 !important;
  background-color: #000000a8 !important;

  p{
    color: var(--white) !important;
  }
}
.filter-btn-active:hover {
  background-color: #606060 !important;
  opacity: 0.9;
}
.filter-btn:hover {
  // background-color: #e0e0e0 !important;
  border: 1px solid #565656 !important;
  // background-color: #000000 !important;
  background-color: #000000a8 !important;
  p{
    color: var(--white) !important;
  }
}

button {
  letter-spacing: 1.25px;
  color: var(--black-transparent);
  text-transform: uppercase;
  opacity: 1;
  border: none;
  width: fit-content;
  text-align: left;
  &:hover {
    cursor: pointer;
  }
}
.btn-np {
  border-radius: 4px;
  opacity: 1;
  padding: 10px 16px 9px 16px;
  margin: 0 10px;
  text-align: center!important;
}
.btn-contained {
  background: var(--theme-bg) 0% 0% no-repeat padding-box;
  color: var(--white);
  box-shadow: 0px 1px 3px #00000033;
  padding: 10px 16px 9px 16px;
  border-radius: 4px;
  &:hover {
    background: var(--theme-bg-light-medium) 0% 0% no-repeat padding-box;
  }
}
.btn-contained-light {
  background: var(--background-gray) 0% 0% no-repeat padding-box;
  color: var(--theme-bg);
  box-shadow: 0px 1px 3px #00000033;
  padding: 10px 16px 9px 16px;
  border-radius: 4px;

  &:hover {
    opacity: 0.9;
  }
}
.disabled {
  background: var(--line-border) 0% 0% no-repeat padding-box;
  color: var(--gray);
  &:hover {
    cursor: auto;
  }
}
.text-filled {
  background: var(--transparent) 0% 0% no-repeat padding-box;
  color: var(--theme-bg);
  &:hover {
    background: var(--theme-bg-light) 0% 0% no-repeat padding-box;
  }
}
.text-filled-light {
  background: var(--transparent) 0% 0% no-repeat padding-box;
  color: var(--white);
  &:hover {
    background: var(--white-light) 0% 0% no-repeat padding-box;
  }
}
.text-filled-red {
  background: var(--transparent) 0% 0% no-repeat padding-box;
  color: var(--theme-bg);
  &:hover {
    color: var(--white);
    background: var(--theme-bg) 0% 0% no-repeat padding-box;
  }
}
.outlined {
  background: var(--transparent) 0% 0% no-repeat padding-box;
  color: var(--theme-bg);
  border: 1px solid var(--line-border);
  &:hover {
    background: var(--theme-bg-light) 0% 0% no-repeat padding-box;
    border: 1px solid var(--line-border-hover);
  }
}
.outlined-light {
  background: var(--transparent) 0% 0% no-repeat padding-box;
  color: var(--white);
  border: 1px solid var(--white);
  &:hover {
    background: var(--white-extra-light) 0% 0% no-repeat padding-box;
  }
}
.english-btn {
  background-image: radial-gradient(
    closest-side at 75% 50%,
    var(--gradient-blue),
    #3fa0e8 300%
  );
  border: none;
  color: var(--white);
  border-radius: 3px;
  padding: 7px 16px 6px 16px;
  box-shadow: 0px 1px 3px #00000033;
}
.btn-d {
  border: double 1px transparent;
  border-radius: 4px;
  background-image: linear-gradient(var(--white), var(--white)),
    radial-gradient(closest-side at 75% 50%, var(--gradient-blue), #3fa0e8 300%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  padding: 6px 16px;
  color: var(--gradient-blue);
  width: fit-content;
  margin: 0 10px;
  box-shadow: 0px 1px 3px #00000033;
}
.btn-d-text {
  background: -webkit-linear-gradient(right, var(--gradient-blue), #3fa0e8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-outlined {
  border: 1px solid #0000004a;
  border-radius: 4px;
  opacity: 1;
  background: var(--white);
  padding: 10px 16px 9px 16px;
  color: var(--theme-bg);
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid var(--theme-bg); /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
.blue-loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid var(--theme-bg);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 800px) {
  h1 {
    font: normal normal 70px/82px Basis Grotesque Pro bold;
  }
  h2 {
    font: normal normal 48px/56px Basis Grotesque Pro bold;
  }
  h3 {
    font: normal normal 30px/36px Basis Grotesque Pro bold;
  }
  h4 {
    font: normal normal 24px/28px Basis Grotesque Pro bold;
  }
  h5 {
    font: normal normal 22px/27px Basis Grotesque Pro Regular;
  }
  h6,
  .body-1 {
    font: normal normal 20px/24px Basis Grotesque Pro Regular;
  }
  .body-2 {
    font: normal normal 16px/24px Basis Grotesque Pro Regular;
  }
  .subtitle-1 {
    font: normal normal 14px/16px Basis Grotesque Pro Regular;
  }
  .subtitle-2 {
    font: normal normal 14px/16px Basis Grotesque Pro Regular;
  }
  .caption {
    font: normal normal 12px/14px Basis Grotesque Pro Regular;
  }
  .overline {
    font: normal normal 12px/14px Basis Grotesque Pro bold;
  }
  .btn-np {
    padding: 10px 16px 9px 16px;
    margin: 0 10px;
  }
  button {
    font: normal normal 14px/16px Basis Grotesque Pro bold;
  }
}
@media only screen and (max-width: 800px) {
  h1 {
    font: normal normal 70px/82px Basis Grotesque Pro bold;
  }
  h2 {
    font: normal normal 48px/56px Basis Grotesque Pro bold;
  }
  h3 {
    font: normal normal 30px/36px Basis Grotesque Pro bold;
  }
  h4 {
    font: normal normal 20px/24px Basis Grotesque Pro bold;
  }
  h5 {
    font: normal normal 16px/24px Basis Grotesque Pro Regular;
  }
  h6,
  .body-1 {
    font: normal normal 16px/24px Basis Grotesque Pro Regular;
  }
  .body-2 {
    font: normal normal 16px/24px Basis Grotesque Pro Regular;
  }
  .subtitle-1 {
    font: normal normal 14px/16px Basis Grotesque Pro Regular;
  }
  .subtitle-2 {
    font: normal normal 14px/16px Basis Grotesque Pro Regular;
  }
  .caption {
    font: normal normal 12px/14px Basis Grotesque Pro Regular;
  }
  .overline {
    font: normal normal 12px/14px Basis Grotesque Pro bold;
  }
  .btn-np {
    padding: 8px;
    margin: 0 5px;
  }
  button {
    font: normal normal 12px/14px Basis Grotesque Pro bold;
  }
}
