p,
label {
  margin: 0;
}

.option:hover {
  background-color: var(--white-deep);
}

.option-selected {
  background-color: var(--background-gray);
}

.option {
  align-items: baseline;
  border: 1px solid var(--line-border);
  border-radius: 10px;
  width: 400px;
  margin: 10px;
}

.max-div-center {
  max-width: 600px;
}

.cross-icon {
  width: 20px !important;
}

.font-family-bold {
  font-family: Basis Grotesque Pro Bold;
}

.image {
  width: 370px;
  height: 300px;
}

.top-image {
  max-width: 60px;
}

.option-number {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: var(--white);
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
  border: 0;
}

.option-number:hover {
  background-color: var(--option-selected);
}

.option-yes {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: var(--white);
  background-color: var(--option-selected);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  display: inline-block;
  margin: 0 10px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  text-align: center;
}

.flex-direction-row-col {
  flex-direction: row;
}

.active {
  background-color: var(--input-border);
  color: var(--theme-bg);
}

.btn-d {
  margin: 0 10px;
  background-color: transparent;
  border: none;
  color: var(--common-blue);
}

.black-loader {
  border: 4px solid var(--border-white);
  border-top: 4px solid var(--gray);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
  right: 10px;
  top: 5px;
  animation: spin 2s linear infinite;
}

.left-right-icons {
  width: 20px;
  height: 20px;
}

.padding-20-40 {
  padding: 20px 40px;
}

.padding-right-4 {
  padding-right: 1.5rem;
}

.padding-left-4 {
  padding-left: 1.5rem;
}

.pagination-width {
  min-width: 200px;
  max-width: 250px;
}

.poppup-up-new {
  padding: 0px;
  overflow-y: auto;
  background: var(--white);
  border-radius: 10px;
  z-index: 2;
  position: absolute;
  height: calc(100% - 50px);
  max-height: 630px;
}

.welcome-div {
  height: 110px;
  background-color: var(--background-gray);
  background-blend-mode: color-dodge;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 35px;
}

.line-border {
  border-bottom: 1px solid var(--line-border);
  margin: 0px 50px;
}

.bottom-div {
  padding: 33px 70px;
}

.margin-auto {
  margin: 0 auto;
}

.poppup-cp-new-overlay {
  z-index: 111;
}

.font-green {
  color: var(--result-correct);
}

.font-red {
  color: var(--result-red);
}

.question-div {
  min-height: -moz-fit-content;
  min-height: fit-content;
  background-color: var(--background-gray);
  background-blend-mode: color-dodge;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 30px;
}

.options-div-p {
  flex-grow: 1;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  min-height: 150px;
}

.option-length {
  max-width: 300px;
}

.opt-image-padding {
  padding: 15px 0px;
}

.fail-image {
  width: 560px !important;
}

.image-size {
  width: 100px;
  max-height: 100px !important;
  min-height: 100px !important;
}

.headingText {
  margin: 0px 35px;
}

.middle-div {
  padding: 1px 50px 10px 50px;
  max-height: 400px;
}

.center-div {
  max-width: 320px;
  margin: 15px 0px;
}

.np-loader {
  background-color: var(--background-gray);
  border-radius: 50%;
  opacity: 0.5;
  width: 220px;
}

.text-align-center {
  text-align: center;
}

.paragraph {
  word-break: break-word;
  margin: 10px 0px;
}

.options-div {
  padding: 10px 55px;
}

.options {
  overflow: auto;
  width: 100%;
}

.responsive-div {
  min-width: 1000px;
  max-width: 1000px;
}

.lower-div {
  padding: 20px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.min-height {
  min-height: 85px;
}

.min-height-finish {
  min-height: 200px;
}

.max-width {
  max-width: 1000px;
}

.max-width-options {
  max-width: 290px;
}

.width-100 {
  width: 100%;
}

.goodLuckText {
  display: none;
  position: absolute;
  left: -100%;
  bottom: -2px;
}

.showText {
  position: relative;
}
.showText:hover .goodLuckText {
  display: block;
}

h5 {
  font-family: Basis Grotesque Pro bold !important;
}

@media only screen and (max-width: 900px) and (min-width: 600px) {
  .responsive-div {
    min-width: 100%;
    max-width: 100%;
  }
  .max-width-options {
    max-width: 290px;
  }
}
@media only screen and (max-width: 600px) {
  .image {
    max-width: 100%;
  }
  .welcome-div {
    height: 90px;
    background-color: var(--background-gray);
    background-blend-mode: color-dodge;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 5px;
  }
  .image-size {
    width: 80px;
    max-height: 80px !important;
    min-height: 80px !important;
  }
  .fail-image {
    width: 280px !important;
    min-height: 220px !important;
    max-height: 220px !important;
  }
  .paragraph {
    word-break: break-word;
    margin: 5px 0px;
  }
  .middle-div {
    margin: 80px 22px 20px 22px;
    padding: 0px;
  }
  .line-border {
    border-bottom: 1px solid var(--line-border);
    margin: 20px 50px 0px 50px;
  }
  .bottom-div {
    padding: 15px 70px;
  }
  .responsive-div {
    min-width: 100%;
    max-width: 100%;
  }
  .min-height-finish {
    min-height: 200px;
  }
  .max-width-options {
    max-width: 300px;
  }
  .max-div-center {
    max-width: 300px;
  }
  .option {
    align-items: baseline;
    border: 1px solid var(--line-border);
    border-radius: 10px;
    margin: 5px;
    max-width: 100%;
  }
  .options-div {
    margin: 0 5px;
    padding: 10px 20px !important;
    border: 1px solid var(--line-border);
    border-radius: 10px;
  }
  .poppup-up-new {
    padding: 0px;
    overflow-y: auto;
    background: var(--white);
    border-radius: 10px;
    z-index: 2;
    position: absolute;
    margin: 75px 0;
    width: 98%;
    max-height: 750px;
  }
  .question-div {
    min-height: -moz-fit-content;
    min-height: fit-content;
    background-color: var(--background-gray);
    background-blend-mode: color-dodge;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0px;
  }
  .flex-direction-row-col {
    flex-direction: column;
  }
  .padding-right-4 {
    padding-right: 0px !important;
  }
  .padding-left-4 {
    padding-left: 0px !important;
  }
  .padding-20-40 {
    padding: 2px 0px !important;
  }
  .option-length {
    max-width: 270px;
    margin-left: 15px;
  }
}/*# sourceMappingURL=pop-up-quiz.css.map */