<div>
  <div class="daq-wrapper position-relative" v-if="!daqFinalResult">
    <div class="wire-frame" style="width: 100%; position: absolute; inset: 0; z-index: 1; background: #ffffff;"
      v-if="skeletonLoader">
      <div class="wire-frame-details-p m-0 Module-Page-Top-Wireframe flex-view justify-content-c">
        <svg role="img" width="670" height="409" aria-labelledby="loading-aria" viewBox="0 0 670 409"
          preserveAspectRatio="none">
          <title id="loading-aria">Loading...</title>
          <rect x="0" y="0" width="100%" height="100%" clip-path="url(#clip-path)" style='fill: url("#fill");'></rect>
          <defs>
            <clipPath id="clip-path">
              <rect x="45" y="41" rx="3" ry="3" width="134" height="16" />
              <rect x="45" y="70" rx="3" ry="3" width="163" height="16" />
              <rect x="476" y="35" rx="3" ry="3" width="163" height="31" />
              <rect x="476" y="347" rx="3" ry="3" width="163" height="31" />
              <rect x="45" y="122" rx="3" ry="3" width="320" height="16" />
              <rect x="45" y="172" rx="3" ry="3" width="564" height="16" />
              <rect x="45" y="201" rx="3" ry="3" width="69" height="16" />
              <rect x="71" y="250" rx="3" ry="3" width="219" height="22" />
              <rect x="45" y="357" rx="3" ry="3" width="148" height="22" />
              <rect x="71" y="302" rx="3" ry="3" width="219" height="22" />
              <rect x="401" y="250" rx="3" ry="3" width="219" height="22" />
              <rect x="401" y="302" rx="3" ry="3" width="219" height="22" />
              <rect x="32" y="249" rx="12" ry="12" width="26" height="24" />
              <rect x="32" y="301" rx="12" ry="12" width="26" height="24" />
              <rect x="365" y="301" rx="12" ry="12" width="26" height="24" />
              <rect x="365" y="249" rx="12" ry="12" width="26" height="24" />
              <rect x="559" y="116" rx="13" ry="13" width="25" height="27" />
            </clipPath>
            <linearGradient id="fill">
              <stop offset="0.599964" stop-color="#becedd" stop-opacity="1">
                <animate attributeName="offset" values="-2; -2; 1" keyTimes="0; 0.25; 1" dur="2s"
                  repeatCount="indefinite"></animate>
              </stop>
              <stop offset="1.59996" stop-color="#ecebeb" stop-opacity="1">
                <animate attributeName="offset" values="-1; -1; 2" keyTimes="0; 0.25; 1" dur="2s"
                  repeatCount="indefinite"></animate>
              </stop>
              <stop offset="2.59996" stop-color="#becedd" stop-opacity="1">
                <animate attributeName="offset" values="0; 0; 3" keyTimes="0; 0.25; 1" dur="2s"
                  repeatCount="indefinite"></animate>
              </stop>
            </linearGradient>
          </defs>
        </svg>
      </div>
    </div>

    <div class="wire-frame" v-if="resultLoader" style="width: 100%; position: absolute; inset: 0; z-index: 1; background: #ffffff;display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;">
       <img style="width: 90px; height: 90px; margin-bottom: 10px;" src="../../../../assets/np-icon.svg"/>
      <p v-if="!notifyClicked && !notifyLaterPopup" class="daq-loading-text">Evaluating your assignment... Magic in progress, please don't disturb.</p>
      <p v-if="!notifyClicked && notifyLaterPopup" class="daq-loading-text">It appears that our A.I. is taking longer than usual to assess your assignment. We will notify you once the evaluation is complete. In the meantime, feel free to go back and continue your learning journey. Thank you for your patience.</p>
      <p v-if="notifyClicked" class="daq-loading-text">It appears that our A.I. is taking longer than usual to assess your assignment. We will notify you once the evaluation is complete. In the meantime, feel free to go back and continue your learning journey. Thank you for your patience.</p>
      <div style="display: flex; flex-direction: row;">
        <button class=" btn-outlined" style="margin-top: 20px;margin-right: 20px;" v-if="!notifyClicked && notifyLaterPopup" @click="tryQuestionAgain()">Try Again</button>
        <button class="btn-contained" style="margin-top: 20px;" v-if="!notifyClicked && notifyLaterPopup" @click="notifyOnceChecked()">Notify me once checked</button>
      </div>
      <button class="btn-contained" style="margin-top: 20px;" v-if="notifyClicked && notifyLaterPopup" @click="$router.go(-1);">Go Back</button>

    </div>

    <!-- daq Steps -->
    <div class="daq-step" v-if="!quizIntro">
      <ul class="daq-step-list">
        <li v-for="(question, index) in questions" :class="{'active': selectedQuestionIndex > index }"></li>
      </ul>
    </div>

    <div class="daq-main-area">

      <div class="page fade-in-right" v-show="currentStep === 1">
        <div class="daq-welcom-screen" v-if="quizIntro">
          <div class="daq-question">
            <div class="d-flex">
              <img src="../../../../assets/daq/note.svg" alt="#">
              <div class="ml-2 daq-start-title">
                <p>Assignment</p>
                <b class="font-family-bold">{{quiz.name}}</b>
              </div>
            </div>
            <div class="daq-timer">
              <img src="../../../../assets/daq/ci.svg" alt="">
              <span>{{ timerDisplay() }}</span>
            </div>
          </div>
          <ul class="daq-detail">
            <li>
              <img src="../../../../assets/daq/Stack.svg" alt="">
              <span>total question <b>{{questions.length}}</b></span>
            </li>
            <li>
              <img src="../../../../assets/daq/Trophy.svg" alt="">
              <span>passing percentage <b>{{quiz.passing_percentage}}%</b></span>
            </li>
            <li>
              <img src="../../../../assets/daq/Clock.svg" alt="">
              <span>total time limit <b>{{calculateQuizTime(quiz.duration)}}</b></span>
            </li>
          </ul>
          <div class="daq-guide">
            <p class="font-family-bold"> Guidelines</p>
            <ul>
              <li>These assignments are subjective, providing instant self-assessment opportunities.</li>
              <li>Complete assignments within the specified time frame.</li>
              <li>If using OCR, ensure legible handwriting with sufficient line spacing and no jumbled words.</li>
              <li>Avoid cut-and-rewrite with OCR; manually adjust text after processing.</li>
              <li>Refrain from using complex mathematical language, as the AI does not process mathematical expressions at this stage.</li>
              <li>Maintain respectful language; the use of foul language may result in account suspension.</li>
              <li>Assessments align with your teacher's guidelines, as the AI is trained based on their assessment style.</li>
              <li>Be aware of potential downtime for the AI service; save typed answers for future attempts.</li>
              <li>Recognize the AI's learning phase; if you find errors, consider them as interim results, and provide feedback for improvement.</li>
            </ul>
          </div>
        </div>

        <div class="daq-question" v-if="!daqQuestionResult && !quizIntro && !daqFinalResult">
          <p><b class="font-family-bold">{{selectedQuestionIndex + 1}}.</b> {{selectedQuestion.question}}</p>
          <div class="daq-timer" v-if="!daqQuestionResult">
            <img src="../../../../assets/timer.svg" alt="">
            <span>{{ timerDisplay()}}</span>
          </div>

        </div>

        <div class="daq-answer-area" v-if="!daqQuestionResult && !quizIntro && !daqFinalResult">

          <div class="daq-selection" v-if="selectOption">
            <div class="daq-selection-card type" @click="selectionType('write')">
              <img src="../../../../assets/daq/keyboard.svg" alt="#">
              <p>Type Answer</p>
            </div>
            <div class="daq-selection-card type" @click="selectionType('upload')">
              <img src="../../../../assets/daq/Upload.svg" alt="#">
              <p>Upload your written answer to extract text</p>
            </div>
          </div>

          <textarea v-if="selectionTypeWrite" name="" id="" cols="30" rows="10"
            v-model="selectedQuestion.answer"></textarea>

          <div class="drop-zone" @dragover.prevent @drop="onDrop">
            <label for="my-file" class="daq-selection-card upload-area" v-if="selectionTypeUpload">
              <img src="../../../../assets/daq/Upload.svg" alt="#">
              <p>Click to add or drag and drop <span>Support png and jpg files</span></p>
              <input type="file" accept="image/*" multiple="multiple" @change="previewMultiImage" class="d-none"
                id="my-file">
            </label>
          </div>

          <div class="upload-preview" v-if="preview_list.length">
            <div class="upload-preview-item" v-for="item, index in preview_list" :key="index">
              <img class="upload-preview-cross cursor-pointer" src="../../../../assets/daq/cross.svg" alt="#"
                @click="removeImage(index)" />
              <img class="upload-preview-img" :src="item" alt="#" />
            </div>
          </div>

        </div>
        <div class="daq-submission" v-if="daqQuestionResult">
          <div class="daq-alert" v-if="daqQuestionResult">
            <img src="../../../../assets/daq/alert-octagon.svg" style="height: 25px" alt="" @click="openDaqTC()">
            <div class="daq-alert-popup" v-if="daqTC">
              <div class="daq-alert-header">
                <h3>Terms and Conditions</h3>
                <p>AI Subjective Assessment Service</p>
                <img src="../../../../assets/daq/cross-2.svg" style="position: absolute; top: 0; right: 0;"  alt="#" @click="closeDaqTC()"
                  class="cursor-pointer" />
              </div>
              <div class="daq-alert-content">
                <p>
                  1. Acceptance of Terms
                  <span>1.1 By using the AI subjective assessment service ("the Service"), you agree to comply with and be bound by these terms and conditions. If you do not agree to these terms, please do not use the Service.</span>
                </p>
                <p>
                  2. Use of the Service
                  <span>2.1. The Service is provided on an "as-is" basis. We do not guarantee the accuracy, completeness, or suitability of the assessments provided by the AI system.</span>
                  <span>2.2. Users must use the Service for educational purposes only and not for any unlawful or prohibited activities.</span>
                </p>
                <p>
                  3. User Responsibilities
                  <span>3.1. Users are responsible for the accuracy and integrity of the information submitted for assessment.</span>
                  <span>3.2. Users must not attempt to manipulate the AI system or disrupt the service in any way.</span>
                </p>
                <p>
                  4. Intellectual Property
                  <span>4.1. All content provided by the Service, including assessments, is the intellectual property of the service provider.</span>
                  <span>4.2. Users retain ownership of their submitted content but grant the service provider a license to use, reproduce, and modify the content for the purpose of providing the Service.</span>
                </p>
                <p>
                  5. Privacy
                  <span>5.1. The service provider will collect and process user data in accordance with the privacy policy, which is an integral part of these terms and conditions.</span>
                </p>
                <p>
                  6. Feedback
                  <span>6.1. Users are encouraged to provide feedback on the Service. The service provider may use this feedback to improve the AI system.</span>
                </p>
                <p>
                  7. Limitation of Liability
                  <span>7.1. The service provider shall not be liable for any direct, indirect, incidental, consequential, or punitive damages arising from the use of, or inability to use, the Service.</span>
                </p>
                <p>
                  8. Suspension of Service
                  <span>8.1. The service provider reserves the right to suspend or terminate the Service at any time, with or without notice.</span>
                </p>
                <p>
                  9. Modifications to Terms
                  <span>9.1. The service provider reserves the right to modify these terms and conditions at any time. Users are responsible for regularly reviewing these terms.</span>
                </p>
                <p>
                  10. Governing Law
                  <span>10.1. These terms and conditions are governed by and construed in accordance with the laws of Pakistan.</span>
                </p>
                
              </div>
              <div class="daq-term-text">
                <p>
                  By using the Service, you acknowledge that you have read, understood, and agree to be bound by these terms and conditions.
                </p>
              </div>
              <div class="text-center" style="margin-bottom: 20px;">
                <button class="btn-contained" @click="closeDaqTC()">
                  Ok I understood
                </button>
              </div>
            </div>
          </div>

          <h6 class="font-family-bold my-2">Evalution</h6>
          <div class="daq-response">
            <h6 class="font-family-bold">Question {{selectedQuestionIndex}}:</h6>
            <p>{{selectedQuestion.question}}</p>
            <h6 class="font-family-bold" style="margin-top: 20px;">Your Response:</h6>
            <div class="text-container">
              <span v-if="showShortText">{{ selectedQuestion.shortAnswer }}</span>
              <span v-else>{{ selectedQuestion.answer }}</span>
              <a v-if="showReadMoreButton" style="color: #E03249;" href="#" @click.prevent="toggleReadMore">{{
                buttonLabel }}</a>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1">
              <div class="daq-score-card overall">
                <p class="font-family-bold mb-2 2 overall-title">
                  Overall Score
                </p>
                <div class="daq-score-avg">
                  <div class="text-center">
                    <apexchart type="radialBar" height="180" :options="daqChartOptions" :series="daqOverallScore">
                    </apexchart>
                  </div>
                  <p class="text-center">Class Average: {{selectedQuestion.result.avgScore &&
                    selectedQuestion.result.avgScore.toFixed(1)}}% ({{selectedQuestion.result.totalSubmit}} responses)
                  </p>
                </div>
                <div class="daq-score-avg">
                  <h3>{{selectedQuestion.result.marks_obtained}}%</h3>
                  <p>Class Average: {{selectedQuestion.result.avgScore && selectedQuestion.result.avgScore.toFixed(1)}}%
                    ({{selectedQuestion.result.totalSubmit}} responses)</p>
                </div>
                <p class="font-family-bold">
                  Breakdown
                </p>
                <ul class="daq-charts">
                  <li class="content" v-if="selectedQuestion.ai_config && selectedQuestion.ai_config.content">
                    <div class="d-flex justify-content-between mb-2">
                      <p>Content</p>
                      <p>{{selectedQuestion.result.content_marks}}%</p>
                    </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar"
                        :style="{'width': +selectedQuestion.result.content_marks+'%'}" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </li>
                  <li class="understanding"
                    v-if="selectedQuestion.ai_config && selectedQuestion.ai_config.understanding">
                    <div class="d-flex justify-content-between mb-2">
                      <p>Understanding and Interpretation</p>
                      <p>{{selectedQuestion.result.understanding_marks}}%</p>
                    </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar"
                        :style="{'width': +selectedQuestion.result.understanding_marks+'%'}" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </li>
                  <li class="skills"
                    v-if="selectedQuestion.ai_config && selectedQuestion.ai_config.writing_skill && selectedQuestion.result.writing_skills_marks">
                    <div class="d-flex justify-content-between mb-2">
                      <p>Writing skills</p>
                      <p>{{selectedQuestion.result.writing_skills_marks}}%</p>
                    </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar"
                        :style="{'width': +selectedQuestion.result.writing_skills_marks +'%'}" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </li>
                  <li class="skills"
                    v-if="selectedQuestion.ai_config && selectedQuestion.ai_config.writing_skill && selectedQuestion.result.writting_skills_marks">
                    <div class="d-flex justify-content-between mb-2">
                      <p>Writing skills</p>
                      <p>{{selectedQuestion.result.writting_skills_marks}}%</p>
                    </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar"
                        :style="{'width': +selectedQuestion.result.writting_skills_marks +'%'}" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </li>
                  <li class="support" v-if="selectedQuestion.ai_config && selectedQuestion.ai_config.evidence">
                    <div class="d-flex justify-content-between mb-2">
                      <p>Evidence and Support</p>
                      <p>{{selectedQuestion.result.evidence_marks}}%</p>
                    </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar"
                        :style="{'width': +selectedQuestion.result.evidence_marks+'%'}" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </li>
                  <li class="organisation" v-if="selectedQuestion.ai_config && selectedQuestion.ai_config.organization">
                    <div class="d-flex justify-content-between mb-2">
                      <p>Organisation and Structure</p>
                      <p>{{selectedQuestion.result.organization_marks}}%</p>
                    </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar"
                        :style="{'width': +selectedQuestion.result.organization_marks+'%'}" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </li>
                </ul>
                <!-- <ul class="daq-charts">
                  <li>
                    <p>Content</p>
                    <div>
                      <apexchart type="radialBar" height="180" :options="daqChartOptions" :series="daqChartValue">
                      </apexchart>
                    </div>
                  </li>
                  <li>
                    <p>Understanding and Interpretation</p>
                    <div>
                      <apexchart type="radialBar" height="180" :options="daqChartOptions" :series="daqChartValue">
                      </apexchart>
                    </div>
                  </li>
                  <li>
                    <p>Writing skills</p>
                    <div>
                      <apexchart type="radialBar" height="180" :options="daqChartOptions" :series="daqChartValue">
                      </apexchart>
                    </div>
                  </li>
                  <li>
                    <p>Evidence and Support</p>
                    <div>
                      <apexchart type="radialBar" height="180" :options="daqChartOptions" :series="daqChartValue">
                      </apexchart>
                    </div>
                  </li>
                  <li>
                    <p>Organisation and Structure</p>
                    <div>
                      <apexchart type="radialBar" height="180" :options="daqChartOptions" :series="daqChartValue">
                      </apexchart>
                    </div>
                  </li>
                </ul> -->
              </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
              <div class="daq-score-card">
                <p class="font-family-bold mb-2">
                  Evaluation
                </p>
                <div id="daq-comment-text" v-html="formattedEvaluationResult()"></div>
                <!-- <ul class="daq-comments">
                  <li>
                    "Newtown's second law of motion explains the relationship between mass and acceleration." - This
                    statement is partially correct. Newton's second law does indeed describe the relationship between
                    mass and acceleration, but it does not state that a large acceleration will result in large mass.
                  </li>
                  <li>
                    "Newtown's second law of motion explains the relationship between mass and acceleration." - This
                    statement is partially correct. Newton's second law does indeed describe the relationship between
                    mass and acceleration, but it does not state that a large acceleration will result in large mass.
                  </li>
                  <li>
                    "Newtown's second law of motion explains the relationship between mass and acceleration." - This
                    statement is partially correct. Newton's second law does indeed describe the relationship between
                    mass and acceleration, but it does not state that a large acceleration will result in large mass.
                  </li>
                </ul> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end align-item-center my-4">
      <button v-if="quizIntro" @click.prevent="startQuiz()"
        class="d-flex align-item-center justify-content-center btn-contained">
        Start
      </button>
      <button v-if="!quizIntro && !selectOption && daqQuestionResult" @click.prevent="tryNewResponse()"
        class="d-flex align-item-center justify-content-center btn-outlined" style="margin-right: 15px;">
        Try Another Response
      </button>
      <button v-if="!quizIntro && !selectOption" @click.prevent="nextQuestion()"
        class="d-flex align-item-center justify-content-center btn-contained">
        {{!daqQuestionResult ? 'Submit': daqQuestionResult && selectedQuestionIndex === questions.length ? 'Finish' :
        'Next Question' }}
      </button>
    </div>
    <!-- <div :class="{'active': step === 5}"> 5</div> -->
  </div>
  <div class="daq-wrapper" v-if="daqFinalResult">
    <div class="daq-score-card">
      <div class="row">
        <div class="col-md-9">
          <h3 class="mb-2">{{quiz.name}}</h3>
          <p class="mb-3">{{quiz.description}}</p>
          <button class="d-flex align-item-center justify-content-center btn-contained" @click="tryAgain()">
            Try this Assignmnet Again
          </button>
        </div>
        <div class="text-center col-md-3 flex-direction-col d-flex align-items-center">
          <p class="font-family-bold">Overall Progress</p>
          <apexchart type="radialBar" height="180" :options="daqChartOptions" :series="daqChartValue"></apexchart>
          <button class="btn-contained d-block d-md-none" @click="tryAgain()">
            Try this Assignmnet Again
          </button>
        </div>
      </div>
    </div>
    <div class="daq-quiz-list">
      <ul>
        <li v-for="(question, index) in questions">
          <div class="row align-items-center">
            <div class="col-6 col-md-6">
              <div class="daq-quiz d-flex align-items-center">
                <img src="../../../../assets/daq/ic.svg" style="height: 50px;" alt="#">
                <p class="ml-3">
                  <span>Question {{index + 1}}</span>
                  {{question.question}}
                </p>
              </div>
            </div>
            <div class="col-6 col-md-6">
              <div class="d-flex align-items-center justify-content-between">
                <div class="daq-quiz-feedback d-flex align-items-center">
                  <img class="mr-2 d-none d-md-block" src="../../../../assets/daq/feedback.svg" alt="#" />
                  <p>Feedback:</p>
                  <div class="d-flex mt-1 mt-md-0">
                    <div class="mr-1 mx-md-3 cursor" @click="saveFeedback(question, index, 'like')"
                      v-if="!question.feedback">
                      <img src="../../../../assets/daq/like.svg" alt="#" />
                    </div>
                    <div class="cursor" @click="saveFeedback(question, index, 'dislike')" v-if="!question.feedback">
                      <img src="../../../../assets/daq/dislike.svg" alt="#" />
                    </div>
                    <div class="mr-1 mx-md-3 cursor" v-if="question.feedback === 'like'">
                      <img src="../../../../assets/daq/like-filled.svg" alt="#" />
                    </div>
                    <div class="mr-1 mx-md-3 cursor" v-if="question.feedback === 'dislike'">
                      <img src="../../../../assets/daq/dislike-filled.svg" alt="#" />
                    </div>
                  </div>
                </div>
                <div class="daq-quiz-result">
                  <div class="check-shape">
                    <img class="img-fluid" src="../../../../assets/daq/check.svg" alt="">
                  </div>
                  <p>your result: {{question.result.marks_obtained}}%</p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="daq-popup" v-if="daqLikePopUp">
      <div class="daq-popup-wrapper">
        <div class="text-align-end">
          <img src="../../../../assets/daq/cross-2.svg" alt="#" @click="opneLikePopUp('close')"
            class="cursor-pointer" />
        </div>
        <div class="daq-popup-content">
          <h4>
            {{
            daqLike ? "Thank you for your positive feedback!" :
            daqDisLike ? "We appreciate your feedback." :""
            }}
          </h4>
          <p>
            {{
            daqLike ? "We're delighted that you appreciate our instant AI evaluation. Your feedback is crucial in refining our AI assessment tool. Share the word about Nearpeer with your peers and friends, helping them excel in their studies too. Your support means a lot to us!" :
            daqDisLike ? "We're sorry to hear that you didn't find the instant AI evaluation of your assignment satisfactory. Your insights are valuable, and our system will learn from your feedback to make improvements. In the meantime, consider trying another assignment. Thank you for helping us enhance our service based on your experience." :""
            }}
          </p>
          <div class="daq-popup-textarea" v-if="daqDisLike">
            <textarea> </textarea>
          </div>
          <div v-bind:class="daqDisLike ?'text-align-end mt-3':''">
            <button class="btn-contained" @click="opneLikePopUp('close')">{{daqLike ? 'Back to Result Screen' :
              daqDisLike ? 'Submit' : '' }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="daq-popup" v-if="resumePopup">
    <div class="daq-popup-wrapper" style="max-width: 500px;">
      <div class="text-align-end">
        <img src="../../../../assets/daq/cross-2.svg" alt="#" @click="resumePopup = false" class="cursor-pointer" />
      </div>
      <div class="daq-popup-content">
        <h4>
          Resume Assignment
        </h4>
        <p>
          Do you want to continue Assignment from last saved state or from start?
        </p>
        <div v-bind:class="daqDisLike ?'text-align-end mt-3':''">
          <button class="btn-outlined" style="margin-right: 20px;" @click="startQuiz(true)">New Assignment</button>
          <button class="btn-contained" @click="resumeQuiz()">Resume</button>
        </div>
      </div>
    </div>
  </div>

  <div class="daq-popup" v-if="daqLeaveConfirmationPopup">
    <div class="daq-popup-wrapper" style="max-width: 700px;">
      <div class="text-align-end">
        <img src="../../../../assets/daq/cross-2.svg" alt="#" @click="daqLeaveConfirmationPopup = false" class="cursor-pointer" />
      </div>
      <div class="daq-popup-content">
        <h4>
          Are you sure you want to go back?
        </h4>
        <p>
          Going back now will result in the loss of all your progress in this assignment. To save your progress and continue later, click on "Save for later." If you wish to discard your progress, select "Cancel my assignment".
        </p>
        <div v-bind:class="daqDisLike ?'text-align-end mt-3':''">
          <button class="btn-outlined" style="margin-right: 20px;" @click="gotoNext(false)">Cancel my assignment</button>
          <button class="btn-contained" @click="gotoNext(true)">Save for later</button>
        </div>
      </div>
    </div>
  </div>
</div>