<div class="top-con" id="sidemenu-container">
  <div class="mt-3 flex-view flex-direction-col">
    
    <div
      @click="sidebar"
      id="course"
      class="sidebar-option"
      v-bind:class="{ active: courses }"
    >
      <router-link to="/course/course-landing">
        <div class="sidebar-option-div">
          <div class="img-parent">
            <img src="../../../../assets/graduation-grey.svg" />
            <img src="../../../../assets/graduation-white.svg" class="icon-selected"/>
          </div>
          <label class="body-2">Courses</label>
        </div>
      </router-link>
    </div>

    <div
      @click="sidebar"
      id="practice"
      class="sidebar-option"
      v-bind:class="{ active: practice}"
    >
      <router-link to="/practices">
        <div class="sidebar-option-div">
          <div class="img-parent">
            <img src="../../../../assets/practice_grey.svg" />
            <img src="../../../../assets/practice_white.svg" class="icon-selected"/>
          </div>
          <label class="body-2">Practice</label>
        </div>
      </router-link>
      <div class="practice-wt-wrapper" v-if="practiceWt">
        <div class="practice-walktrough">
          <h6>"Practice" is now available at Nearpeer!</h6>
          <p>Create a custom quiz from the topic of your own choice and invite friends to compete with them Live! Try now. Guess what? It's free for everyone.</p>
          <div class="d-flex">
            <button class="btn-np " @click="cancelWT">Cancel</button>
            <button class="btn-contained" @click="goToPractice()">Go</button>
          </div>
        </div>
      </div>
    </div>

    <div
      @click="sidebar"
      id="livesession"
      class="sidebar-option"
      v-bind:class="{ active: livesession }"
    >
      <router-link to="/live-session">
        <div class="sidebar-option-div">
          <div class="img-parent">
            <img src="../../../../assets/livesession_grey.svg" />
            <img style="width: 40px; height: 30px;" src="../../../../assets/livesession_white.svg" class="icon-selected"/>
          </div>
          <label class="body-2">Live Session</label>
        </div>
      </router-link>
    </div>

    <div
      @click="sidebar"
      id="assignments"
      class="sidebar-option"
      v-bind:class="{ active: assignment }"
    >
      <router-link to="/assignments">
        <div class="sidebar-option-div">
          <div class="img-parent">
            <img src="../../../../assets/assignment-grey.svg" />
            <img src="../../../../assets/assignment-white.svg" class="icon-selected"/>
          </div>
          <label class="body-2">Assignments</label>
        </div>
      </router-link>
    </div>

    <div
      @click="sidebar"
      id="schedule"
      class="sidebar-option"
      v-bind:class="{ active: schedule }"
    >
      <router-link to="/schedule">
        <div class="sidebar-option-div">
          <div class="img-parent">
            <img src="../../../../assets/calendar-grey.svg" />
            <img src="../../../../assets/calendar-white.svg" class="icon-selected"/>
          </div>
          <label class="body-2">Schedule</label>
        </div>
      </router-link>
    </div>


    <div class="sidebar-option">
      <a :href="currentFrontendUrl+'/landing?uid='+user.id+'&token='+user.token" class="sidebar-option-div" @click="redirectToNp">
        <div class="img-parent"><img src="./../../../../assets/Icon-external-link -dark.svg"></div>
        <label class="body-2"><i class="fa fa-external-link"></i> Nearpeer.org</label>
      </a>
    </div>
  </div>
  <div class="flex-view flex-direction-col align-self-center bottom-image bottom-div">
    <app-feedback></app-feedback>
  </div>

</div>
