<div v-show="!isPageLoading" id="video-landing">
  <!-- @click="mobileClickControles" -->

  <!-- @mouseover="showControls()"
  @mouseleave="hideControls()" -->
  <div

    v-on:dblclick="handleDblClick()"
    @click="mobileClickControles"
    id="player"
    style="position: relative; z-index: 999; overflow: hidden;"
    class="video-js iframe-container"
  >
    <div
      id="revDiv"
      class="doubleTapReverseDiv"
      @click="doubleTap++ ; doubleTapReverse(doubleTap)"
    >
      <div id="dblReverse" class="doubleTap_icons_reverse">
        <img class="animation-height" src="./../../../../assets/revAn.gif" />
        <p class="ten-text-reverse">
          10 seconds
        </p>
      </div>
    </div>
    <div id="cenDiv" class="doubleTapCenter" @click="doubleTapCenter()">
      <img
        v-if="isPaused"
        id="dblCenter"
        @click.stop="pauseVideo"
        class="doubleTap_icons_center"
        src="../../../../assets/player-icons/Path 2240.svg"
      />
      <!-- <img
      id="dblCenter"

      v-if="!isPaused"
      class="doubleTap_icons_center"
      @click.stop="playVideo"
      src="../../../../assets/player-icons/play_arrow.svg"
    /> -->
    </div>
    <div
      id="forDiv"
      class="doubleTapForwardDiv"
      @click="doubleTap++ ; doubleTapForward(doubleTap)"
    >
      <div
        id="dblForward"
        class="doubleTap_icons_forward"
        style="position: relative;"
      >
        <img class="animation-height" src="./../../../../assets/forAn.gif" />
        <p class="ten-text-forward">
          10 seconds
        </p>
      </div>
    </div>
    <div
      style="z-index: 999999999;"
      class="full-screen-options"
      v-if="isFullScreen && !$store.state.isNewReactNative && !webviewPlayer"
    >
      <h4 class="ellipsis" style="color: white;" v-show="videoNameShow">
        {{selectedVideo.name}}
      </h4>
      <h4 class="ellipsis" style="color: white;" v-show="!videoNameShow"></h4>
      <!-- v-show="videoNameShow" -->
      <img
        style="height: 20px;"
        @click.stop="videoList = !videoList"
        src="../../../../assets/playlist_play-24px.svg"
      />
    </div>
    <div style="z-index: 999999999;" v-if="videoList" class="listing-box">
      <span class="closeBtn_" @click.stop="videoList = false"
        ><img src="./../../../../assets/Icon-Close-white.svg"
      /></span>
      <app-video-listing
        :currentCourse="currentCourse"
        :selectedVideo="selectedVideo"
        :selectedModule="selectedModule"
        :selectedChapter="selectedChapter"
        :allModules="currentCourse.modules"
        @toVideoMain="getDataFromVListing"
        @selectedChapterInListing="getChapterFromListing"
        :selectedTrackModule="selectedTrackModule"
        :coursePurchased="coursePurchased"
        :dark="'yes'"
      ></app-video-listing>
    </div>
    <!-- <div class="video-name">
    </div> -->
    <div
      style="z-index: 11;"
      v-on:dblclick="exitFulScreen"
      class="video-overly-info"
    >
      <h3 style="color:rgba(2,6,1,.1) !important;">{{stamp}}</h3>
      <h3 style="color:rgba(2,6,1,.1) !important;">www.nearpeer.org</h3>
    </div>
    <div class="video-marquee" v-if="userStamp">
      <span class="text marquee-text">{{userInfo}}</span>
    </div>
    <div
      @click.stop="playVideo"
      class="pause-parent"
      v-if="!isPaused && !isFirstTime"
    >
      <span>
        <img
          class="pause_ opt"
          src="../../../../assets/player-icons/Play-Button.svg"
        />
      </span>
    </div>
    <div v-if="isFirstTime" @click.stop="playVideo" class="play-video">
      <img class="opt" src="../../../../assets/player-icons/Play-Button.svg" />
    </div>
    <div v-if="isVideoLoading" class="play-video">
      <div class="blue-loader"></div>
    </div>
    <div
      class="blank-box"
      @mouseover="controllBarOver()"
      @mouseleave="controllBarLeave()"
    >
      <div id="bottom-bar" style="z-index: 999999;">
        <div class="field_">
          <span
            v-if="videoPointers.length != 0"
            :id="'point_'+point.percentage"
            v-for="point in videoPointers"
            :style="{left: point.percentage+'%'}"
            class="d-inline-block"
            style="position: absolute;"
            tabindex="0"
            data-toggle="tooltip"
            :title="point.data"
          >
            <p class="pop-quiz-icon">
              <img
                @click.stop="showQuiz(point)"
                src="../../../../assets/Pop-Quiz-Icon.svg"
              />
            </p>
          </span>
          <!-- @change="updateProgress(SeekBarValue)" -->
          <input
            @input="updateProgress(SeekBarValue)"
            v-model="SeekBarValue"
            @mouseover="isTimeValueChangeing = true"
            @mouseleave="isTimeValueChangeing = false"
            class="edges-rounded"
            id="transparentBar"
            value="0"
            step="0.1"
            type="range"
          />
          <input
            value="0"
            v-model="SeekBarValue"
            class="edges-rounded"
            step="0.1"
            type="range"
            id="range"
          />
          <output
            for="range"
            onforminput="value = range.valueAsNumber;"
          ></output>
          <p id="bufferbar" class="edges-rounded" style="width: 0%;"></p>
          <p
            id="sickbar"
            class="edges-rounded"
            :style="{'width': SeekBarValue+'%'}"
          ></p>
          <p id="lowerRange" class="edges-rounded" style="width: 100%;"></p>
          <!-- <ul class="point_list" id="point_id">
                <li :class="{ 'pointer_color' : point.isLink}"
                v-for="point in videoPointers" class="point" :style="{left: point.percentage+'%'}">
                    <span :id="'point_'+point.percentage" v-if="!point.isLink" class="tooltiptext">{{point.data}}</span>
                    <span :id="'point_'+point.percentage" v-if="point.isLink" style="background-color: white;" class="tooltiptext"><a style="background-color: white;text-decoration: underline;" :href="point.data" target="_blank" >{{point.link_text}}</a></span>
                </li>
            </ul> -->
        </div>
        <div id="controls" style="z-index: 9999999;">
          <div id="left-controls">
            <span
              v-if="!isPaused"
              class="d-inline-block"
              tabindex="0"
              data-toggle="tooltip"
              title="Play"
            >
              <img
                @click.stop="playVideo"
                class="play-btn"
                src="../../../../assets/player-icons/play_arrow.svg"
              />
            </span>
            <span
              v-if="isPaused"
              class="d-inline-block"
              tabindex="0"
              data-toggle="tooltip"
              title="Pause"
            >
              <img
                @click.stop="pauseVideo"
                class="pause-btn"
                src="../../../../assets/player-icons/Path 2240.svg"
              />
            </span>
            <span
              class="d-inline-block fb-hover"
              tabindex="0"
              data-toggle="tooltip"
              title="Backward"
              @click.stop="skipRwdVideo"
              @dblclick.stop="skipRwdVideo"
              style="z-index: 999999;"
            >
              <img
                @click.stop="skipRwdVideo"
                class="forward"
                src="../../../../assets/player-icons/Icon-rev-10s-hover.png"
              />
            </span>
            <span
              class="d-inline-block fb-hover"
              tabindex="0"
              data-toggle="tooltip"
              title="Forward"
              @click.stop="skipFwdVideo"
              @dblclick.stop="skipFwdVideo"
              style="z-index: 999999;"
            >
              <img
                @click.stop="skipFwdVideo"
                class="forward"
                src="../../../../assets/player-icons/Icon-fwd-10s-hover.svg"
              />
            </span>
            <p style="color: white;" id="current-time" class="p_"></p>
            <div id="volume-icon" style="position: relative;">
              <span
                v-if="!isMute && volume_ > 0.4"
                class="d-inline-block"
                tabindex="0"
                data-toggle="tooltip"
                title="Mute"
              >
                <img
                  class="mute"
                  @click.stop="mute"
                  src="../../../../assets/player-icons/Path 2275.svg"
                />
              </span>
              <span
                v-if="!isMute && (volume_ > 0 && 0.5 > volume_)"
                class="d-inline-block"
                tabindex="0"
                data-toggle="tooltip"
                title="Mute"
              >
                <img
                  class="mute"
                  @click.stop="mute"
                  src="../../../../assets/player-icons/Path 2275.svg"
                />
                <!-- ../../../../assets/player-icons/Path 2269.svg -->
              </span>
              <span
                v-if="!isMute && volume_ == 0"
                class="d-inline-block"
                tabindex="0"
                data-toggle="tooltip"
                title="Mute"
              >
                <img
                  class="mute"
                  @click.stop="mute"
                  src="../../../../assets/player-icons/Path 2269.svg"
                />
              </span>
              <span
                v-if="isMute"
                class="d-inline-block"
                tabindex="0"
                data-toggle="tooltip"
                title="Unmute"
              >
                <img
                  class="unmute"
                  @click.stop="unmute"
                  src="../../../../assets/player-icons/volume_off-24px.svg"
                />
              </span>
              <div class="vol-sl-width">
                <!-- @change="changeVolume(volume_,$event)" -->
                <vue-slider
                  @drag-end="changeVolume(volume_,$event)"
                  ref="slider"
                  v-model="volume_"
                  v-bind="volume_options"
                  id="slider_volume" 
                  :tooltip-formatter="val => val*100"
                ></vue-slider>
              </div>

              <!-- @change="changeVolume($event.target.value)" -->
              <!-- <div class="wrap">
                <input
                  @change="updateSlider($event.target.value)"
                  v-model="volume_"
                  type="range"
                  class="range"
                  min="0"
                  max="100"
                  step="0.1"
                  value="100"
                />
                <div class="track">
                  <div class="track-inner"></div>
                </div>
                <div class="thumb"></div>
              </div> -->
              <!-- <input
                @change="changeVolume($event.target.value)"
                min="0"
                max="1"
                step="0.1"
                v-model="volume_"
                value="1"
                type="range"
                id="customVol"
              /> -->
              <!-- id="volume"
              class="edges-rounded vol-range" -->

              <!-- <p
              id="volumeVisible"
              class="edges-rounded"
              :style="{'width': volume_+'%'}"
            ></p>
              <p id="rem-time"></p> -->
            </div>
          </div>
          <div id="right-controls">
            <span
              class="d-inline-block quality_"
              tabindex="0"
              data-toggle="tooltip"
              title="Control Qualities"
              v-click-outside="closeIt"
            >
              <img
                @click.stop="openQuality"
                class="quality"
                title="Settings"
                src="../../../../assets/player-icons/Group 2124.svg"
              />
              <div v-show="qualityDrp" class="quality-tray" id="quality-tray">
                <div v-if="qualities.length > 1" class="btn-group dropright">
                  <a
                    type="button"
                    class="dropdown-toggle flex-view justify-content-b"
                    data-toggle="dropdown"
                    data-target="#qualtiy-menu"
                    @click.stop="clickQualitycontrol"
                    :class="{ 'droprighthide' : hideDropRight }"
                    style="    width: 100%;"
                  >
                    <p > <img src="./../../../../assets/qualty_set.svg" />   Quality</p>
                    <p style="display: flex;
                    align-items: center;">
                      {{selectedQualityLevel}}
                      <img
                        src="./../../../../assets/arrowright.svg"
                        style="width: 18px;
                      height: 15px;margin-left: 5px;"
                      />
                    </p>
                  </a>
                  <div class="dropdown-menu " id="qualtiy-menu">
                    <ul>
                      <div
                        class="flex-view justify-content-b"
                        style="border-bottom: 1px solid white;    min-height: 25px;
                            display: flex;
    align-items: center;
                      "
                      >
                        <img
                          src="./../../../../assets/arrowleft.svg"
                          style="width: 18px;
                        height: 15px;
                        margin-left: 10px;"
                          @click="back"
                        />
                        <p style="color: white;font-size: 14px;">
                          Quality
                        </p>
                        <p></p>
                        <p></p>
                      </div>
                      <li v-for="quality in qualities">
                        <label
                          v-bind:class="currentQualityLevel == quality.id ?'change-color':''"
                          class="body-2"
                          @click.stop="setVideoQuality(quality)"
                        >
                          <img
                            v-bind:class="currentQualityLevel == quality.id  ? 'change-color':''"
                            src="./../../../../assets/teenyicons_tick-solid.png"
                            style="margin-right: 5px; visibility: hidden;"
                          />
                          {{quality.label}}</label
                        >
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="btn-group dropright">
                  <a
                    type="button"
                    class="dropdown-toggle flex-view justify-content-b"
                    data-toggle="dropdown"
                    data-target="#speed-menu"
                    @click.stop="clickSpeedcontrol"
                    :class="{ 'droprighthide' : hideDropRight }"
                    style="    width: 100%;"
                  >
                    <p> <img src="./../../../../assets/Playback_setting.svg" /> Playback Speed</p>

                    <p style="display: flex;
                    align-items: center;">
                      {{currentPlayBackRate}}
                      <img
                        src="./../../../../assets/arrowright.svg"
                        style="width: 18px;
                      height: 15px;margin-left: 5px;"
                      />
                    </p>
                  </a>
                  <div class="dropdown-menu playback-custom-size" id="speed-menu">
                    <ul>
                      <div
                        class="flex-view justify-content-b"
                        style="border-bottom: 1px solid white;    min-height: 25px;
                            align-items: center;
                          padding: 5px 0px;
                      "
                      >
                        <img
                          src="./../../../../assets/arrowleft.svg"
                          style="width: 18px;
                        height: 15px;
                        margin-left: 10px;"
                          @click="back('playback')"
                        />
                        <p class="body-2" style="color: white;margin-top: 0;font-size: 14px;">
                          Playback Speed
                        </p>
                        <p></p>
                      </div>
                      <li v-for="playBackRate in playBackRates">
                        <label
                          v-bind:class="currentPlayBackRate == playBackRate ? 'change-color':''"
                          class="body-2"
                          @click.stop="setPlayBackRate(playBackRate)"
                        >
                          <img
                            v-bind:class="currentPlayBackRate == playBackRate ? 'change-color':''"
                            src="./../../../../assets/teenyicons_tick-solid.png"
                            style="margin-right: 5px; visibility: hidden;"
                          />
                          {{playBackRate != 'Normal' ? playBackRate+'x' : playBackRate}}</label
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </span>
            <span
              v-if="!isFullScreen"
              class="d-inline-block"
              tabindex="0"
              data-toggle="tooltip"
              title="Maximize your screen"
            >
              <img
                @click.stop="fullScreen"
                class="maximize"
                src="../../../../assets/player-icons/fullscreen-white-18dp.svg"
              />
            </span>
            <span
              v-if="isFullScreen"
              class="d-inline-block"
              tabindex="0"
              data-toggle="tooltip"
              title="Maximize your screen"
            >
              <img
                @click.stop="exitFulScreen"
                class="minimize"
                src="../../../../assets/player-icons/fullscreen_exit-white-18dp.svg"
              />
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
