#player,
#video-landing {
  width: 100%;
  height: 100%;
  position: relative;
}

.vue-slider-process {
  background-color: #4d77da !important;
  border-radius: 15px;
}

.caption {
  font: normal normal 14px/16px "Basis Grotesque Pro Regular";
}

.ten-text-forward {
  color: white !important;
  font-family: "Basis Grotesque Pro Regular";
  font-size: 12px;
  left: 7px;
  bottom: 20px;
  position: absolute;
  width: 68px;
}

.ten-text-reverse {
  color: white !important;
  font-family: "Basis Grotesque Pro Regular";
  font-size: 12px;
  right: 0px;
  bottom: 20px;
  position: absolute;
  width: 68px;
}

.animation-height {
  height: 38px;
  width: 58px;
}

.doubleTap_icons_reverse {
  height: 70px;
  display: flex;
  align-self: center;
  opacity: 0;
  border-radius: 50%;
  padding: 4px;
  position: relative;
}

.doubleTap_icons_forward {
  height: 70px;
  display: flex;
  align-self: center;
  opacity: 0;
  border-radius: 50%;
  padding: 4px;
  position: relative;
}

.doubleTap_icons_center {
  height: 35px;
  display: flex;
  align-self: center;
  opacity: 0;
  background: rgba(0, 0, 0, 0.28);
  border-radius: 20px;
  padding: 4px;
  position: relative;
}

.doubleTapForwardDiv {
  position: absolute;
  width: 40%;
  height: 100%;
  right: 0%;
  z-index: 99999;
  justify-content: center;
}

.doubleTapCenter {
  position: absolute;
  width: 20%;
  height: 100%;
  left: 40%;
  right: 33%;
  z-index: 99999;
  justify-content: center;
}

.doubleTapReverseDiv {
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0%;
  z-index: 99999;
  justify-content: center;
}

.vjs-loading-spinner {
  display: none !important;
}

.player_ {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.player_:hover #bottom-bar {
  visibility: visible;
}

.blank-box {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 111111;
}

.change-color {
  visibility: visible !important;
}

.quality_ {
  position: relative;
}

.dropdown-menu {
  background-color: rgba(28, 28, 28, 0.9);
}

.dropright .dropdown-menu {
  left: 0%;
}

.droprighthide {
  display: none;
}

.dropdown-menu {
  position: relative;
  bottom: -10px;
  top: auto;
  min-width: 100%;
  border-radius: 8px;
}

.dropright .dropdown-toggle::after {
  display: none;
}

.quality-tray {
  position: absolute;
  bottom: 42px;
  right: -45px;
  background-color: rgba(28, 28, 28, 0.9);
  color: var(--white);
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.quality-tray p {
  margin-top: 0 !important;
  font-size: 14px !important;
  display: flex !important;
  align-items: center !important;
}
.quality-tray a {
  padding: 5px;
  color: var(--white);
}
.quality-tray ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.quality-tray ul li {
  padding: 0 10px;
  margin: 2px 0;
}
.quality-tray ul li:hover {
  cursor: pointer;
}
.quality-tray ul li label {
  color: var(--white);
  width: 100%;
  padding: 5px 0px;
}
.quality-tray ul li label:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.btn-control {
  background-color: var(--transparent);
  border: none;
  color: white;
  font-family: normal normal 12px/14px Basis Grotesque Pro Regular !important;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgb(194, 194, 194);
}

.blue-loader {
  height: 50px;
  width: 50px;
  border-top: 6px solid #4d77da !important;
}

.minimize,
.maximize {
  height: 17px;
}

.field_ {
  height: 5px;
  margin: 5px 10px;
  position: relative;
}
.field_:hover {
  cursor: pointer;
}
.field_:hover #bubble,
.field_:hover #range,
.field_:hover #sickbar,
.field_:hover #lowerRange,
.field_:hover #bufferbar {
  height: 6px;
}

#range {
  position: absolute;
  bottom: 0px;
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: var(--transparent);
  outline: none;
  z-index: 9;
}
#range:hover {
  height: 4px;
  cursor: pointer;
}

#lowerRange {
  position: absolute;
  bottom: 0px;
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: var(--gray);
  outline: none;
  z-index: 1;
}
#lowerRange:hover {
  height: 4px;
  cursor: pointer;
}

.pop-quiz-icon {
  top: -10px;
  position: absolute;
  z-index: 10;
}

.fb-hover img {
  height: 26px;
  transform: scale(1.5);
}

.closeBtn_ {
  position: absolute;
  right: 7px;
  top: 9px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 3px;
  color: var(--white);
  z-index: 111;
}
.closeBtn_:hover {
  cursor: pointer;
}

#range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #4d77da;
  opacity: 1;
  z-index: 7;
}
#range::-webkit-slider-thumb:hover {
  cursor: pointer;
  width: 15px;
  height: 15px;
}

#volume-fade {
  -webkit-appearance: none;
  width: 65px;
  height: 4px;
  display: none;
  background: var(--gray);
  animation: one-second-animation 0.5s;
  outline: none;
  opacity: 1;
  z-index: 1;
}
#volume-fade:hover {
  cursor: pointer;
  visibility: visible;
  display: flex;
}

#volume-slider {
  -webkit-appearance: none;
  width: 65px;
  height: 4px;
  background: var(--gray);
  animation: one-second-animation 0.5s;
  outline: none;
  opacity: 1;
  z-index: 5;
}
#volume-slider:hover {
  cursor: pointer;
  visibility: visible;
  display: flex;
}

#volume {
  -webkit-appearance: none;
  height: 4px;
  background: red;
  animation: one-second-animation 0.5s;
  outline: none;
  opacity: 1;
  z-index: 999;
}
#volume:hover {
  cursor: pointer;
  visibility: visible;
  display: flex;
}

#slider_volume {
  display: none;
}
#slider_volume:hover {
  cursor: pointer;
  visibility: visible;
  display: flex;
}

#customVol::-moz-range-progress {
  background-color: #43e5f7;
}

#customVol::-moz-range-track {
  background-color: #9a905d;
}

/* IE*/
#customVol::-ms-fill-lower {
  background-color: #43e5f7;
}

#customVol::-ms-fill-upper {
  background-color: #9a905d;
}

#customVol::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: var(--white);
  z-index: 999;
  border-radius: 50%;
}
#customVol::-webkit-slider-thumb:hover {
  cursor: pointer;
}

#volumeVisible {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 65px;
  height: 3.4px;
  background: gray;
  animation: 0.5s ease 0s 1 normal none running one-second-animation;
  outline: none;
  opacity: 1;
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 0px;
  margin: 0 !important;
  display: flex;
}

.edges-rounded {
  border-radius: 4px;
}

#bottom-bar {
  position: absolute;
  justify-content: flex-end;
  bottom: 0px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  height: 100px;
  box-shadow: inset 0 -85px 50px -38px rgba(0, 0, 0, 0.4);
  visibility: visible;
  width: 100%;
  transition-duration: 0.25s;
  animation: one-second-animation 0.25s;
}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#left-controls span,
#right-controls span {
  min-width: 32px;
}
#left-controls p,
#right-controls p {
  color: white;
  font-size: 13px;
  margin-top: 3px;
}

.play-btn,
.pause-btn,
.forward {
  height: 25px;
}

.collapse {
  overflow: auto;
}

.points {
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid var(--white);
  z-index: 1; /* IE 9 */
  transform: rotate(45deg);
  z-index: 3;
}
.points:hover {
  cursor: pointer;
}

#bubble {
  background-color: var(--common-blue);
  margin: 0;
  height: 10px;
  position: absolute;
  z-index: 1;
  bottom: -4px;
  width: 10px;
  left: 100%;
  border: 1px solid #8b97a5;
  transform: rotate(45deg);
}

#sickbar {
  background-color: #4d77da;
  margin: 0;
  height: 4px;
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0px;
}

#left-controls {
  display: flex;
  align-items: center;
}

#volume-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#volume-icon:hover #slider_volume {
  display: flex;
}
#volume-icon p {
  margin: 0 10px;
  color: var(--white);
  letter-spacing: 1px;
  font-size: 12px;
}

.mute,
.play-btn,
.pause-btn,
.forward {
  animation: one-second-animation 0.25s;
}

.play-btn,
.pause-btn,
.forward {
  height: 24px;
}

.forward {
  height: 24px;
}
.forward:hover {
  transform: scale(1.5) !important;
}

.dropleft:hover {
  background-color: var(--dark);
}

.full-screen-options {
  position: absolute;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0 90px 50px -38px rgba(0, 0, 0, 0.4);
}
.full-screen-options h3 {
  color: var(--white);
}
.full-screen-options img {
  margin: 10px;
  height: 25px;
}
.full-screen-options img:hover {
  cursor: pointer;
}

.listing-box {
  width: 550px;
  height: 100%;
  background-color: var(--black);
  position: absolute;
  z-index: 11;
  right: 0;
  overflow: auto;
  animation: exampleThree 0.5s;
  padding: 10px 20px;
  opacity: 0.9;
  font-weight: 500;
}

.pause-parent {
  position: absolute;
  z-index: 99999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.opt {
  opacity: 0.85;
  transition-duration: 0.5s;
}
.opt:hover {
  opacity: 1;
}

.pause_ {
  cursor: pointer;
}

@keyframes exampleThree {
  0% {
    right: -300px;
    opacity: 0;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes opacityChange {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (min-width: 600px) {
  #left-controls .p_,
  #right-controls .p_ {
    margin: 0 10px;
  }
  #left-controls img,
  #right-controls img {
    margin: 0 5px;
  }
  #left-controls img,
  #right-controls img {
    opacity: 0.7;
  }
  #left-controls img:hover,
  #right-controls img:hover {
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;
  }
  #controls {
    padding: 5px 10px 0 10px;
  }
  .pause_ {
    height: 100px;
  }
  .full-screen-options h3 {
    padding: 10px;
  }
}
.vol-sl-width {
  width: 65px;
}

@media only screen and (max-width: 900px) {
  .quality-tray {
    min-width: 245px;
  }
  .playback-custom-size ul {
    height: 100px !important;
  }
}
@media only screen and (max-width: 600px) {
  .vol-sl-width {
    width: 30px;
  }
  .video-marquee .text {
    font-size: 12px !important;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 1.6em;
    position: absolute;
    left: 0;
    top: -30px;
    animation: animTopBottom 290s 60s linear infinite !important;
    -webkit-animation: animTopBottom 290s 60s linear infinite !important;
    -moz-animation: animTopBottom 290s 60s linear infinite !important;
  }
  .video-marquee {
    padding: 5px;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
  .vol-range {
    width: 40px !important;
  }
  .full-screen-options h3 {
    padding: 5px;
  }
  #left-controls .p_,
  #right-controls .p_ {
    margin: 0;
  }
  #left-controls img,
  #right-controls img {
    margin: 0 2px;
  }
  #left-controls img,
  #right-controls img {
    opacity: 0.7;
  }
  #left-controls img:hover,
  #right-controls img:hover {
    animation: opacityChange 1.2s;
    transform: scale(1.1);
    cursor: pointer;
  }
  #controls {
    padding: 5px;
  }
  .collapse {
    max-height: 120px;
  }
  .listing-box {
    max-width: 300px;
  }
  #bottom-bar {
    padding-bottom: 0px !important;
    height: 55px;
  }
  .pause_ {
    height: 50px;
  }
}
@media only screen and (max-width: 359px) {
  .vol-range {
    width: 25px !important;
  }
}
.video-marquee {
  padding: 5px;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.marquee-text {
  z-index: 90;
}

.video-marquee .text {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.2);
  font-size: 18px;
  text-align: center;
  line-height: 1.6em;
  position: absolute;
  left: 0;
  top: -30px;
  animation: animTopBottom 180s 60s linear infinite;
  -webkit-animation: animTopBottom 180s 60s linear infinite;
  -moz-animation: animTopBottom 180s 60s linear infinite;
}

@keyframes animTopBottom {
  0% {
    top: 100%;
  }
  3% {
    top: -100%;
  }
}
@media only screen and (max-width: 1000px) {
  .doubleTapForwardDiv {
    display: flex;
  }
  .doubleTapCenter {
    display: flex;
  }
  .doubleTapReverseDiv {
    display: flex;
  }
}
@media only screen and (min-width: 1000px) {
  .doubleTapForwardDiv {
    display: none;
  }
  .doubleTapCenter {
    display: none;
  }
  .doubleTapReverseDiv {
    display: none;
  }
}
.wrap {
  transform: translate(-50%, -50%);
  width: 65px;
  position: absolute;
  left: 65px;
  top: 12px;
}

.range {
  width: 100%;
  cursor: pointer;
  opacity: 0;
}

.range::-ms-tooltip {
  display: none;
}

.track {
  width: 100%;
  height: 4px;
  background: #dddddd;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.track-inner {
  width: 0;
  height: 100%;
  background: #4d77da;
}

.thumb {
  width: 16px;
  height: 16px;
  background: #aaaaaa;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  pointer-events: none;
}

.playback-custom-size ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  animation: playBackAn 0.2s;
}

.backAn {
  animation: backAn 0.2s;
}

@keyframes playBackAn {
  0% {
    height: 0px;
    opacity: 0;
    width: 0%;
  }
  10% {
    height: 30px;
    opacity: 0.1;
    width: 10%;
  }
  20% {
    height: 60px;
    opacity: 0.2;
    width: 20%;
  }
  30% {
    height: 90px;
    opacity: 0.3;
    width: 30%;
  }
  40% {
    height: 120px;
    opacity: 0.4;
    width: 40%;
  }
  50% {
    height: 150px;
    opacity: 0.5;
    width: 50%;
  }
  60% {
    height: 180px;
    opacity: 0.6;
    width: 60%;
  }
  70% {
    height: 210px;
    opacity: 0.7;
    width: 70%;
  }
  80% {
    height: 220px;
    opacity: 0.8;
    width: 80%;
  }
  90% {
    height: 230px;
    opacity: 0.9;
    width: 90%;
  }
  100% {
    height: 253px;
    opacity: 1;
    width: 100%;
  }
}
@keyframes backAn {
  0% {
    height: 300px;
  }
  10% {
    height: 280px;
  }
  20% {
    height: 260px;
  }
  30% {
    height: 240px;
  }
  40% {
    height: 220px;
  }
  50% {
    height: 200px;
  }
  60% {
    height: 180px;
  }
  70% {
    height: 150px;
  }
  80% {
    height: 130px;
  }
  90% {
    height: 110px;
  }
  100% {
    height: 90px;
  }
}
#transparentBar {
  position: absolute;
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  z-index: 10;
  outline: none;
  height: 10px;
}
#transparentBar:hover {
  cursor: pointer;
}

.opt {
  opacity: 0.4;
}
.opt:hover {
  opacity: 1;
}

.dropright .dropdown-menu {
  left: 0%;
}

.droprighthide {
  display: none;
}

.dropdown-menu {
  position: relative;
  bottom: -10px;
  top: auto;
  min-width: 100%;
}

.dropright .dropdown-toggle::after {
  display: none;
}

#transparentBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0px;
  height: 0px;
}

#range::-webkit-slider-thumb {
  background: var(--theme-bg);
}

#sickbar {
  background: var(--theme-bg);
}

#bufferbar {
  background-color: var(--white);
  margin: 0;
  height: 4px;
  position: absolute;
  z-index: 4;
  bottom: 0;
  left: 0px;
}

.dropleft:hover {
  background-color: var(--dark);
}

.blue-loader {
  height: 50px;
  width: 50px;
  border-top: 6px solid var(--theme-bg) !important;
}

.field_:hover #lowerRange,
.field_:hover #bufferbar {
  height: 5px;
}

.blank-box {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 111111;
}

.video-marquee {
  padding: 5px;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.marquee-text {
  z-index: 90;
}

.video-marquee .text {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.2);
  font-size: 20px;
  text-align: center;
  line-height: 1.6em;
  position: absolute;
  left: 0;
  top: -30px;
  animation: animTopBottom 180s 60s linear infinite;
  -webkit-animation: animTopBottom 180s 60s linear infinite;
  -moz-animation: animTopBottom 180s 60s linear infinite;
}

@keyframes animTopBottom {
  0% {
    top: 100%;
  }
  3% {
    top: -100%;
  }
}
.wrap {
  transform: translate(-50%, -50%);
  width: 65px;
  position: absolute;
  left: 65px;
  top: 12px;
}

.range {
  width: 100%;
  cursor: pointer;
  opacity: 0;
}

.range::-ms-tooltip {
  display: none;
}

.track {
  width: 100%;
  height: 4px;
  background: #DDDDDD;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.track-inner {
  width: 0;
  height: 100%;
  background: var(--theme-bg);
}

.thumb {
  width: 16px;
  height: 16px;
  background: #AAAAAA;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  pointer-events: none;
}

.vue-slider-process {
  background-color: var(--theme-bg) !important;
  border-radius: 15px;
}

@media only screen and (max-width: 600px) {
  .video-marquee .text {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.2);
    font-size: 20px;
    text-align: center;
    line-height: 1.6em;
    position: absolute;
    left: 0;
    top: -30px;
    animation: animTopBottom 290s 60s linear infinite !important;
    -webkit-animation: animTopBottom 290s 60s linear infinite !important;
    -moz-animation: animTopBottom 290s 60s linear infinite !important;
  }
}/*# sourceMappingURL=vimeo-player.css.map */