<div class="reset-page align-item-center flex-view backgd-img ">
  <div
    class="flex-view align-item-center flex-wrap_ justify-content-a width-100"
  >
    <div v-if="show">
      <div class="justify-content-c tac">

        <img src="./../../assets/np-white.svg" class="np-white"/>
      </div>
    </div>

    <div v-if="valid" class="flex-view align-item-center flex-wrap_ justify-content-a width-100 mobile-responsive">
      
        <div class="tac div-position">
       
    <div class="responsive">        

          <img src="./../../assets/reset password logo and illustration.svg" class="img-adjustment"/>
       
        </div>

        </div>
        <div class="flex-view flex-direction-col width-300 height-300 reset-div">
          <div>
            <button
              id="signIn"
              v-bind:class="(setResetOnly)?'activeBorder':''"
              class="ResetButton"
              @click="filter(1)"
            >
            <h5 class="font">
              Reset Password
            </h5>
            </button>
          </div>
          <div class="flex-view flex-direction-col mt-3" v-on:keyup.enter="submitHandler(update)">
            <label class="subtitle-1">Password</label>
            <input v-model="update.password" class="body-2" placeholder="********" type="password" />
            <label class="subtitle-1">Confirm Password</label>
            <input
              class="body-2"  
              v-model="update.confirmPassword"
              placeholder="********"
              type="password"
            />
            <div class="error-div ellipsis_">
              <div class="blue-loader" v-if="loader"> </div>
              <p class="error-message" v-if="errorMessage">
                {{errorMessage}}
              </p>
            </div>
            <button
              class="btn-contained button-size"
              @click="submitHandler(update)"
            >
              Update Password
            </button>
          </div>
   
        </div>
      </div>
    </div>
  </div>
</div>
