.reset-page {
  height: 100vh;
  font-weight: 500;
}
.np-white {
  display: none;
}
.width-100 {
  width: 100%;
}
.width-300 {
  width: 300px;
}
.height-300 {
  height: 300px;
}
.np-blue {
  width: 150px;
  margin-bottom: 40px;
}
.font{
  font-family: Basis Grotesque Pro bold;
  color: var(--theme-bg);
}
.tac {
  text-align: center;
}
.align-item-center {
  align-items: center;
}
.img-adjustment {
  width: 245px;
}
::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: var(--light-gray);
}
.welcome-text {
  color: var(--common-blue);
  font-size: 26px;
  text-align: center;
  max-width: 415px;
  margin: 22px;
}
.subtitle-1 {
  font-family: Basis Grotesque Pro bold;
}
.subtitle-2 {
  text-align: left;
  font: normal normal 14px/16px Basis Grotesque Pro Regular;
  letter-spacing: 0.17px;
  color: var(--white) !important;
  opacity: 1;
}

.input-border {
  border-bottom: 1px solid var(--line-border);
}
input {
  border: none;
  margin: 3px 0px;
  font-size: 16px;
  border-bottom: 1px solid var(--line-border);
}
.blue-loader {
  border: 4px solid var(--border-white);
  border-top: 4px solid var(--common-blue);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ValidText {
  color: var(--mod-gray);
  font-size: 26px;
  text-align: center;
}

.ForgetText {
  color: var(--common-blue);
  font-size: 20px;
  text-align: center;
}
.error-message {
  text-transform: capitalize;
  text-align: center;
  color: var(--red);
  font-weight: 600;
  font-size: 11px;
  max-width: 300px;
}
.error-div {
  align-self: flex-start;
  max-width: 300px;
  height: 25px;
}

.ResetButton {
  color: var(--theme-bg);
  border: none;
  background-color: var(--white);
  width: fit-content;
  align-self: flex-end;
  text-align: initial;
}

.button-size {
  width: fit-content;
  align-self: flex-end;
}

.activeBorder {
  border-bottom: 2px solid var(--theme-bg) !important  ;
}

@media only screen and (max-width: 480px) {
  .responsive {
    display: none;
  }
  .div-position {
    position: relative;
    bottom: 145px;
  }
  .mobile-responsive {
    flex-direction: column;
  }
  .backgd-img {
    background-image: url("../../assets/mobile-top-graphic-login.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-position-y: -79px;
    background-size: 500px;
    width: 100%;
    object-fit: cover;
  }
  .np-white {
    display: block;
    margin: 15px auto;
  }
  .reset-div {
    position: relative;
    bottom: 100px;
  }
  .np-blue {
    display: none !important;
  }
  .np-white {
    display: block;
    margin: 15px auto;
  }
}
@media only screen and (max-width: 600px) and (min-width: 480px) {
  .backgd-img {
    background-image: url("../../assets/mobile-top-graphic-login.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-position-y: -105px;
    background-size: 660px;
  }
  .np-white {
    display: block;
    margin: 0 auto;
  }
  .np-blue {
    display: none !important;
  }
}
