<div class="height-100p flex-view flex-direction-row">
  <div id="nav-menu" class="side-menu">
    <app-sidebar />
  </div>
  <div class="poppup-cp-new-overlay" id="nav-menu-shadow"></div>
  <div class="flex-view">
    <div class="flex-view" id="nav-bar">
      <app-header />
    </div>
    <div id="main-body" class="right-side-responsive">
      <div
        class="max-width top-div-com right-inner-width"
        style="overflow: scroll;"
      >
        <div class="noti-main">
          <div class="noti-wrapper">
            <div class="noti-searchbar">
              <div class="noti-search">
                <input
                  type="text"
                  v-model="searchText"
                  name="notification_search"
                  id="notification_search"
                  v-on:keyup.enter="searchNotifications"
                  placeholder="Search"
                />

                <div class="noti-search-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M15.935,14.563h-.723l-.256-.247a5.955,5.955,0,1,0-.64.64l.247.256v.723L19.137,20.5,20.5,19.137Zm-5.489,0a4.117,4.117,0,1,1,4.117-4.117A4.111,4.111,0,0,1,10.446,14.563Z"
                      transform="translate(-0.383 -0.75)"
                    />
                  </svg>
                  <!-- <img src="././../../assets/Icon-Search.svg">
                  <img src="././../../assets/Icon-Search-black.svg"> -->
                </div>
              </div>
              <div class="noti-sorting">
               
                  <a class="dropdown-toggle" href="#" role="button" id="noti_sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-if="isAssignement"> 
                      <div class="filter-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                          <path d="M4.5,22.333h6.667V20.111H4.5ZM4.5,9v2.222h20V9Zm0,7.778H17.833V14.556H4.5Z" transform="translate(-2.5 -3.667)" /></svg>
                      </div>
                      <span>  {{AllNotification ? "All Notifications": "Assignments"}}</span> 
                      <div class="down-arrow">
                        <svg id="Icon_Arrow_Drop_Down_Filled" data-name="Icon / Arrow Drop Down / Filled" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                          <path id="Icon_Arrow_Drop_Down" data-name="Icon / Arrow Drop Down" d="M111-20l5,5,5-5Z" transform="translate(-104 30)" />
                        </svg>
                      </div>
                  </a>

                  <div class="sort-dropdown dropdown-menu dropdown-menu-left" aria-labelledby="noti_sort">
                      <ul>
                          <li>
                              <a href="#" :class="{active: AllNotification}"  @click="getNotiSortingType('All Notifications')">
                                <span> All Notifications</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="11.314" height="8.485" viewBox="0 0 11.314 8.485">
                                  <path id="check" d="M10.586,13.414,7.757,10.586,6.343,12l4.243,4.243,7.071-7.071L16.243,7.757Z" transform="translate(-6.343 -7.757)" fill="#e03249"/>
                                </svg>
                              </a>
                          </li>
                          <li>
                              <a href="#" :class="{active: !AllNotification}"  @click="getNotiSortingType('Assignments')">
                                <span> Assignments</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="11.314" height="8.485" viewBox="0 0 11.314 8.485">
                                  <path id="check" d="M10.586,13.414,7.757,10.586,6.343,12l4.243,4.243,7.071-7.071L16.243,7.757Z" transform="translate(-6.343 -7.757)" fill="#e03249"/>
                                </svg>
                              </a>
                          </li>
                          <!-- <li>
                              <a href="#"><span> Last purchased</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="11.314" height="8.485" viewBox="0 0 11.314 8.485">
                                  <path id="check" d="M10.586,13.414,7.757,10.586,6.343,12l4.243,4.243,7.071-7.071L16.243,7.757Z" transform="translate(-6.343 -7.757)" fill="#e03249"/>
                                </svg>
                              </a>
                          </li>
                          <li>
                            <a href="#">
                                <span> Last Enrolled</span>  
                                <svg xmlns="http://www.w3.org/2000/svg" width="11.314" height="8.485" viewBox="0 0 11.314 8.485">
                                  <path id="check" d="M10.586,13.414,7.757,10.586,6.343,12l4.243,4.243,7.071-7.071L16.243,7.757Z" transform="translate(-6.343 -7.757)" fill="#e03249"/>
                                </svg>
                              </a>
                        </li> -->
                      </ul>
                  </div>
              </div>
              <div class="noti-submit">
                <button class="btn-np btn-contained" @click="searchNotifications">
                  Search
                </button>
              </div>
              </div>
            </div>

            <div class="noti-all">
              <div class="noti-all-title">
                <h3>Notification</h3>
                <router-link to="/course">
                  <a class="back-btn">
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fas"
                      data-icon="angle-left"
                      class="svg-inline--fa fa-angle-left fa-w-8"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 256 512"
                    >
                      <path
                        fill="currentColor"
                        d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"
                      ></path>
                    </svg>
                    Go Back</a
                  >
                </router-link>
              </div>
              <ul class="noti-list">
                <li v-for="(notification, index) in notifications" :class="notification.is_clicked ? 'read' : ''">
                  <div class="noti-date" v-if="showDate(notification, index)">
                    {{showDate(notification, index)}}
                  </div>
                  <div @click="clickNotification(notification)">
                    <div class="noti-item important">
                      <div class="noti-all-detail">
                        <div class="noti-thumb">
                          <img
                            v-if="notification.notifications.thumbnail_url"
                            :src="notification.notifications.thumbnail_url"
                            alt="#"
                          />
                          <img
                            v-else
                            src="././../../assets/np-notification.jpeg"
                            alt="#"
                          />
                        </div>
                        <div class="noti-detail">
                          <div class="noti-title">
                            {{notification.notifications.title}}
                          </div>
                          <div class="noti-shrtdetail">
                            {{notification.notifications.description}}
                          </div>
                          <div class="noti-time">
                            <span>{{showTime(notification)}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div
                v-if="!isLoading && notifications.length === 0"
                class="d-flex justify-content-center"
                style="padding: 20px;"
              >
                <p>No recent notification</p>
              </div>
              <div v-if="isLoadMore">
                <scroll-loader
                :loader-method="onScroll"
                :loader-enable="loadMore"
              >
              </div>
              
              </scroll-loader>
              <div
                v-if="isLoading"
                class="d-flex justify-content-center"
                style="padding: 20px;"
              >
                <div class="red-loader"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
