:root {
  --listing-page-bg: "";
  --listing-page-font-color: "";
  --listing-page-active-bg: "";
  --listing-page-row-hover: "";
}

.loaderContainer {
  text-align: center;
  margin-top: 30px;
}

.loaderGif {
  height: 60px;
  width: 60px;
}

.test {
  color: red !important;
  font-size: 11px;
  font-weight: 300;
}

.test-grey {
  color: var(--gray) !important;
  font-weight: 300;
  margin-top: 8px;
}

.text-transform-none {
  text-transform: none;
}

.videoListing {
  height: 100%;
  background: var(--listing-page-bg);
}

.module-head {
  padding: 20px 25px 10px 25px;
  background-color: var(--transparent);
}
.module-head a div {
  color: var(--listing-page-font-color);
}
.module-head p {
  color: var(--listing-page-font-color);
}

.body-2 {
  color: var(--listing-page-font-color);
}

.empty {
  text-align: center;
  margin: 100px;
}

.chapter-name {
  font-size: 16px;
  margin-left: 8px;
  color: var(--listing-page-font-color);
  font-family: "Basis Grotesque Pro Bold";
}

.chapter-box {
  min-height: 60px;
  border-bottom: 1px solid var(--line-border);
}

.width-100 {
  width: 100%;
}

#uw1 {
  display: none;
}

#uw2 {
  display: block;
}

.activeImportant {
  display: block !important;
}

.course-name-holder {
  position: relative;
  padding-bottom: 10px;
  height: 80px;
}
.course-name-holder .flex-view:hover {
  cursor: pointer;
}

.course-name {
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
}
.course-name:hover {
  text-decoration: underline;
}

.active {
  background-color: var(--listing-page-active-bg);
}
.active div div #uw1 {
  display: block !important;
}
.active div div #uw2 {
  display: none !important;
}
.active div #uw1 {
  display: block !important;
}
.active div #uw2 {
  display: none !important;
}
.active div p {
  color: var(--black) !important;
}

.module-list-box {
  box-shadow: 0 3px 6px var(--light-black);
  position: absolute;
  top: calc(100% - 10px);
  right: 0px;
  background: var(--white);
  z-index: 1;
  border-radius: 5px;
  max-height: 300px;
  overflow: auto;
  max-width: 300px;
  min-width: 200px;
  z-index: 111111;
}
.module-list-box label {
  margin: 0;
  padding: 10px 20px;
  border-bottom: 1px solid #e9e9e9;
  width: 100%;
}
.module-list-box label:hover {
  cursor: pointer;
  background-color: var(--theme-bg-light);
}

.rotate {
  transform: rotate(180deg);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(167, 172, 175, 0.5294117647);
  border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
  background: #7b7f81;
}

.filter-box {
  overflow-y: auto;
  scroll-behavior: smooth;
}

.line-border {
  border-bottom: 1px solid var(--line-border);
  margin: 18px 0 0 0;
}

.filter-box-item {
  padding: 8px;
  align-items: center;
  border-bottom: 1px solid var(--line-border);
}
.filter-box-item img {
  padding-right: 10px;
}
.filter-box-item img:hover {
  opacity: 0.9;
}
.filter-box-item:hover {
  cursor: pointer;
  background-color: var(--listing-page-row-hover) !important;
}
.filter-box-item:hover p {
  color: var(--black) !important;
}
.filter-box-item:hover span {
  color: var(--black) !important;
}
.filter-box-item div p {
  line-height: 18px;
}

.chapter-head {
  padding: 10px 20px 10px 35px;
  background-color: var(--transparent);
}
.chapter-head:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0px;
}

.filter-btn {
  margin: 5px 5px 0 0;
}

@media only screen and (min-width: 600px) {
  .down-cart {
    width: 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .down-cart {
    width: 10px;
    margin-bottom: 5px;
  }
}/*# sourceMappingURL=video-listing.css.map */