<div>
  <div
    class="parent flex-wrap__ flex-view flex-direction-row align-items-center justify-content-c"
  >
    <div
      class="flex-view flex-direction-row align-items-center justify-content-c"
    >
      <div class="flex-view flex-direction-row align-items-center">
        <button class="left-last" :class="{'disabled': value === 1}" :disabled="value === 1" @click="first">
          <img
            v-if="value === 1"
            src="../../../../assets/Icon-material-first-page.svg"
          />
          <img
            v-if="value != 1"
            src="../../../../assets/Icon-material-first-page-black.svg"
          />
        </button> 
         <button class="left" :class="{'disabled': value === 1}"  :disabled="value === 1" @click="prevPage">
          <img
            v-if="value === 1"
            src="../../../../assets/Keyboard-Arrow-Left-Filled.svg"
          />
          <img
            v-if="value != 1"
            src="../../../../assets/Keyboard-Arrow-Left-Filled-black.svg"
          />
        </button> 
      </div>
      <ul>
        <li
          :class="{'active-page': newVal === item }"
          :key="item"
          v-for="item in range(minPage, maxPage)"
        >
        <!-- {{value}}/{{newVal}}/ -->
          <label @click="changePage(item)">{{item}}</label>
        </li>
      </ul>
      <div class="flex-view flex-direction-row align-items-center">
        <button class="right" :class="{'disabled': value === pageCount}"  :disabled="value === totalPages" @click="nextPage">
          <img
            v-if="value === totalPages"
            src="../../../../assets/Keyboard-Arrow-Left-Filled.svg"
          />
          <img
            v-if="value != totalPages"
            src="../../../../assets/Keyboard-Arrow-Left-Filled-black.svg"
          />
        </button>
        <button class="right-last" :disabled="value === totalPages" :class="{'disabled': value === pageCount}" @click="last">
          <img
            v-if="value === totalPages"
            src="../../../../assets/Icon-material-first-page.svg"
          />
          <img
            v-if="value != totalPages"
            src="../../../../assets/Icon-material-first-page-black.svg"
          />
        </button>
      </div>
    </div>
  </div>
</div>
