.comment-container {
  margin-top: 10px;
}
.user-image {
  border-radius: 50%;
}
.disabled {
  background: gray 0% 0% no-repeat padding-box !important;
  color: black!important;
  &:hover {
    cursor: auto;
  }
}
.user-comment-field-holder {
  padding-right: 20px;
  border-bottom: 1px solid var(--light-gray);
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
}
.comment-field,
.response-field {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 0;
  border-radius: 5px;
  width: 100%;
  color:var(--light-gray);
}
.commenter-image {
  margin-right: 10px;
  img{
    border-radius: 50%;
  }
}
.response-box {
  margin: 20px 0;
  padding: 0 0 0 40px;
}
.dropdown-img {
  &:hover {
    cursor: pointer;
  }
}
.p-0{
  li{
    display: inline;
    margin: 0 5px;
  }
}
.filter-btn-active{
  background-color: #E9E9E9 !important;
  &:hover{
    background-color: #cccccc !important;
  }
}
.filter-btn{
  border: 1px solid #0000001F;
  color: var(--black);
  text-transform: capitalize !important;
  background-color: transparent;
}
.question {
  resize: none;
  white-space: normal;
  overflow: visible;
  height: 30px;
}
.custom-file-upload {
  position: absolute;
  right: 0;
}
.comment-body {
  padding: 0 5px;
  align-items: flex-start;
  a {
    font-size: 14px;
  }
  .heart {
    &:hover {
      cursor: pointer;
    }
  }
  h5 {
    margin: 0;
  }
  p{
    max-width: 100%;
    word-break: break-all;
  }
}
.share_,
.moreOptions {
  label {
    margin: 0 5px;
    color:var(--gray);
    font-size: 14px;
    &:hover {
      cursor: pointer;
      color:var(--black);
    }
  }
  &:hover {
    cursor: pointer;
  }
  margin: 0 0 0 10px;
  position: relative;
}
.opt {
  position: absolute;
  background-color:var(--white);
  padding: 6px 12px;
  box-shadow: 0px 3px 6px var(--light-black);
  border-radius: 6px;
  z-index: 1;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      padding: 5px;
      font-size: 14px;
      border-bottom: 1px solid var(--border-white);
    }
  }
}
.report-list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: initial!important;
  li {
    padding: 5px;
    font-size: 14px;
    label{
      margin: 0 0 10px 10px;
    }
  }
}
.comment-title {
  padding: 5px 0;
  width: fit-content;
}
.comment-buttons {
  justify-content: flex-end;
  margin-top: 10px;
  position: relative;
}
.content {
  margin-bottom: 5px;
}
.comment-buttons-ani {
  animation: example 0.5s;
}
.comment-image {
  margin: 10px 0;
  max-width: 150px;
  max-height: 150px;
  transition: transform 0.2s;
}
// .comment-image:hover {
//   transform: scale(3);
// }
.heart {
  animation: one-second-animation 0.5s;
  label {
    margin: 0 5px;
    color: var(--gray);
    font-size: 14px;
    &:hover {
      cursor: pointer;
      color:var(--black);
    }
  }
  img {
    margin-bottom: 5px;
  }
}
.comment-date {
  font-weight: 500;
  span {
    color: var(--gray);
    font-weight: 100;
    &:hover {
      color:var(--black);
    }
  }
}
.like-heart {
  height: 15px;
}
.like-heart_ {
  height: 15px;
}
::placeholder {
  letter-spacing: 0px;
  color: var(--gray);
}
#read-comments {
  margin-bottom: 15px;
}
.comment-box {
  margin-bottom: 10px;
}
.poppup-cp-new-overlay{
  align-items: center;
}
.btn-outline-dark{
  padding: 2px 10px;
}
.comment-image{
  max-width: 300px;
  max-height: 280px;
}
.drop-hover{
  &:hover{
    background-color: var(--background-gray);
  }
}
.other-text{
  min-height: 85px;
}
.wt-holder {
  max-width: 600px;
  margin: 50px auto;
  background: var(--white);
  padding: 2rem;
  border-radius: 13px;
  box-shadow: 0 5px 14px var(--light-black);
  h1 {
    font-size: 20px;
  }
  .mt-3 {
    text-align: right;
  }
  font-size: 14px;
  border-radius: 6px;
  box-shadow: 0px 5px 14px var(--light-black);
  img {
    max-width: 500px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 600px) {
  .mb-3{
    display: none;
  }
  .comment-buttons {
    margin: 10px 0 0 0;
  }
  .user-image,
  .commenter-image {
    height: 40px;
    width: 40px;
  }
  .user-comment-field-holder,
  .comment-body {
    width: calc(100% - 50px);
  }
  .comment-title {
    margin-bottom: 25px;
  }
  .comment {
    margin-bottom: 20px;
  }
  #read-comments {
    display: none;
  }
  .comment-field{
    height: 120px;
  }
  .dropdown{
    margin-left: 50px;
  }
}
@media only screen and (max-width: 600px) {
  .dropdown{
    margin-left: 0px;
  }
  .pp{
    margin: 1rem;
  }
  .comment-field{
    height: 100px;
  }
  ::placeholder {
    font-size: 14px;
  }
  .user-image,
  .commenter-image {
    height: 30px;
    width: 30px;
  }
  .user-comment-field-holder,
  .comment-body {
    width: calc(100% - 40px);
  }
  .comment-buttons {
    input {
      font-size: 14px;
    }
  }
  .heart {
    label {
      font-size: 12px;
    }
  }
  .comment-title {
    margin-bottom: 15px;
  }
  .comment {
    margin-bottom: 15px;
  }
  .comment-buttons-ani{
    padding: 0px 15px;
  }
}

@keyframes example {
  0% {
    position: absolute;
    right: 50px;
    opacity: 0;
  }
  100% {
    position: absolute;
    right: 0px;
    opacity: 1;
  }
}
.reply-break {
  word-break: keep-all !important;
}