.parent-div {
  background-color: var(--white);
}
#nav-bar {
  border-bottom: 1px solid var(--light-black);
  img {
    &:hover {
      cursor: pointer;
    }
  }
  label {
    margin: 0px;
  }
}

::-webkit-scrollbar{
height: 5px;
}
::-webkit-scrollbar-thumb {
  background:var(--gray);
}

.timer-width{
  min-width: 125px;

}
.hidden-logo{
  display: none;
}

.op-width{
  width: 400px;
}
.width-100 {
  width: 100%;
}
.bg-color {
  background-color: #60e0ac;
}
.math-scroll {
  overflow: scroll;
  max-width: 100%;
}
select {
  background: transparent;
  border: none;
}
select:hover {
  cursor: pointer;
  color: var(--black);
}
.skipped-class {
  margin: 0 10px !important;
  display: flex;
  align-items: center;
}
.skipped-class:hover {
  color: var(--black) !important;
}
.section {
  .ellipsis {
    &:hover {
      cursor: pointer;
    }
    .div {
      .div {
        &:hover {
          cursor: pointer;
        }
        .div {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
.margin-auto {
  margin: 0 auto;
}
.body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}
.question-field {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  img {
    max-width: 300px;
    max-height: 300px;
  }
}
.walk-through-bg_ {
  transition-duration: 0.5s;
  background-color: var(--light-black) !important;
}
.mark-btn {
  margin-left: 30px;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  img {
    margin-right: 5px;
  }
  label {
    color: var(--gray);
    margin: 0;
  }
}
.options-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}
.option {
  margin: 10px 0;
  width: 500px;
  transition-duration: 0.5s;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid var(--light-black);
  &:hover {
    cursor: pointer;
    box-shadow: 0px 3px 5px var(--light-black);
    background-color: var(--white-deep);
  }
  div {
    img {
      max-width: 200px;
      max-height: 200px;
    }
  }
  img {
    max-width: 200px;
    max-height: 200px;
  }
}
.option-field {
  p {
    word-break: break-all;
  }
}
.image-div {
  max-width: 340px !important;
  max-height: 240px !important;
}
.option-no {
  height: 30px;
  width: 30px;
  background-color: var(--gray);
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  color: var(--white);
  margin-right: 20px;
  margin-bottom: 8px;
}
.option-yes {
  background-color: var(--option-selected);
}
.text-transform-none {
  text-transform: none;
}
.option-active {
  border: 1px solid var(--line-border);
  background-color: var(--background-gray);
  box-shadow: 0px 3px 5px var(--light-black);
}
.bottom-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: inline;
    padding: 10px;
  }
}
.quizSum {
  position: fixed;
  right: 0;
  z-index: 2;
  animation: exampleThree 0.2s ease-out;
  height: calc(100vh - 75px);
}
.top-container {
  overflow: auto;
  overflow-x: hidden;
  background-color: var(--white);
  height: 100%;
  position: relative;
}
.illuminated {
  position: relative;
  left: 0;
  right: 0;
  height: 53px;
  background: var(--white);
}
.shadow_ {
  // margin-top: 63px;
  padding: 0 20px;
}
.top-bar {
  width: 730px;
  height: 100%;
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.row-1 {
  height: 40px;
  border-bottom: 1px solid var(--light-black);
  margin: 5px 0px;
  display: flex;
  align-items: center;
}

.row-1:hover {
  background-color: var(--background-gray);
}
.rows {
  .row-1 {
    padding-left: 20px;
  }
  .paragraphs {
    .row-1 {
      padding-left: 40px;
    }
  }
}
.box {
  padding: 2px 10px;
  transition-duration: 0.25s;
  border-radius: 5px;
  &:hover {
    box-shadow: 0px 2px 6px #00000014;
    .hide {
      display: block;
    }
  }
  img {
    padding: 0 10px;
    &:hover {
      cursor: pointer;
    }
  }
  .hide {
    display: none;
    animation: one-second-animation 0.25s;
  }
  p {
    margin: 0;
    padding: 0 10px;
  }
}
.v-step {
  background: #000000c2;
  color: var(--white);
}
.v-step__buttons {
  text-align: right;
}
.count {
  padding: 0 10px;
  border-radius: 5px;
  margin: 0;
  font-size: 12px;
  height: 20px;
  margin-top: 3px;
  font-weight: bold;
  cursor: pointer;
}
.poppup-cp-new-overlay {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
}
.t-b-min-w {
  text-align: center;
}
.question,
.options-panel,
.bottom-bar {
  max-width: 1160px;
  margin: 0px auto;
  width: 100%;
}
.question-image {
  max-width: 350px;
  max-height: 320px;
}
@keyframes exampleThree {
  0% {
    right: -600px;
    opacity: 1;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}
.maths-text-area {
  // width: 100%;
  min-height: 40px;
  float: left;
  resize: none;
  font-size: 16px;
  color: var(--black);
  border: none;
}
.maths-text-area-summary {
  // width: 100%;
  height: 40px;
  float: left;
  resize: none;
  font-size: 16px;
  color: var(--black);
  border: none;
}
.progress {
  height: 4px;
}
.btn-d-report {
  border: none;
  color: var(--gray);
  background-color: var(--white);
}
.delete-bg{
  background: rgba(0, 0, 0, 0.7);
}
@media only screen and (min-width: 1270px) {
  .question {
    padding: 30px 50px;
  }
  .break {
    display: none;
  }
  .body {
    padding-top: 75px;
  }
  .quizSum {
    width: 800px;
    top: 75px;
  }
  #nav-bar {
    height: 75px;
    z-index: 10;
  }
  .p-status-t {
    display: none;
  }
  .m-0-10-20 {
    margin: 0 20px;
  }
  .c-0 {
    order: 0;
  }
  .c-1 {
    order: 1;
  }
  .c-2 {
    order: 2;
  }
  .c-3 {
    order: 3;
  }
  .user-live{
    order:4;
  }
  .c-4 {
    order: 5;
  }
  .progress {
    width: 300px;
  }
  .f-c-0 {
    order: 0;
  }
  .f-c-1 {
    order: 1;
  }
  .responsive {
    max-width: 890px;
    overflow: auto;
  }
  .user-live-avatar{
    width: 28px;
    height: 28px;
    border-width: 1px;
  }
  .user-live-label{
    font-size: 7px;
  }
  .user-live-other-label  {
    width: 28px;
    height: 28px;
    font-size: 10px;
  }
}
.loader-holder {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  margin: 120px auto;
  background: var(--white);
  padding: 2rem;
}
.wt-holder {
  position: relative;
  max-width: 600px;
  text-align: center;
  margin: 150px auto;
  background: var(--white);
  padding: 2rem;
  h1 {
    font-size: 30px;
    text-align: center;
  }
  h5{
    margin-top: -2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    line-height: 1;
    background: #e03249;
    color: #fff;
    border-radius: 6px 6px 0 0;
  }
  font-size: 18px;
  border-radius: 6px;
  box-shadow: 0px 5px 14px #00000040;
}
.overFH {
  height: calc(100vh - 70px);
}
.practice-result{
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../../../assets/wireframes/Welcome-Screen-BG.svg), #fff;
  background-size: cover;
  z-index: 11;

  img{
    width: 100%;
    max-width: 285px;
  }
  h3{
    font-size: 32px;
    text-align: center;
  }
  p{
    color: #535353;
    font-size: 26px;
    margin: 20px 0;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 900px) {
  .option {
    width: 400px;
  }
  .op-width{
    width: 300px;
  }
}
@media only screen and (max-width: 900px) and (min-width: 600px) {
  .op-width{
    width: 210px;
  }
  .math-scroll {
    overflow: scroll;
    max-width: 200px;
  }
  .quizSum {
    width: 500px;
  }
  .responsive {
    max-width: 500px;
    overflow: auto;
  }
  .question {
    padding: 0px 30px;
  }
  .np-logo {
    width: 70px;
    align-items: center;
  }
  .option {
    width: 300px;
  }
  .image-div {
    max-width: 265px !important;
    max-height: 240px !important;
  }
}
@media only screen and (min-width: 600px) {
  .t-b-min-w {
    min-width: 250px;
  }
}
@media only screen and (max-width: 600px) {
  .body{
    padding-top: 60px !important;
}
  .quizSum {
    top: 60px !important;
}
  #nav-bar {
    padding-top: 10px !important;
    height: 60px !important;
    border-bottom: none;
  }
  .select-tags-mobile{
    display: none;
  }
  .hidden-logo{
    display: flex;
  }
  .op-width{
    width: 200px;
  }
  .math-scroll {
    overflow: scroll;
    max-width: 200px;
  }
  .bottom-bar {
    flex-direction: column !important;
  }
  .image-div {
    max-width: 240px !important;
    max-height: 220px !important;
  }
  .question-image {
    max-width: 280px;
    max-height: 250px;
  }
  .question {
    padding: 20px;
  }
  .wt-holder {
    margin: 150px 20px;

    button {
      margin: 5px;
    }
  }
  .t-b-min-w {
    min-width: 150px;
  }
  .quizSum {
    width: 100%;
  }
  .responsive {
    max-width: 300px;
    overflow: auto;
  }
  .option {
    width: 300px;
  }
  .np-logo {
    width: 70px;
    align-items: center;
  }
  .jus-flex-end {
    justify-content: center;
  }
  .user-live li{
    &:nth-child(2){
      display: none;
    }
    &:nth-child(3){
      display: none;
    }
  }
  .practice-result{
    padding: 0 20px;
    img{
      max-width:185px;
    }
    h3{
      font-size: 24px;
    }
    p{
      font-size: 16px;
      margin: 10px 0 20px;
    }
  }
}
@media only screen and (max-width: 480) {
  .math-scroll {
    overflow: scroll;
    max-width: 200px;
  }
  .option-no {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .np-logo {
    width: 70px;
    align-items: center;
  }
}
@media only screen and (max-width: 280px){
  .quiz-calculating-loader{
    padding: 0 15px;
    img{
      width: 100%;
    }
    .progress{
      width: 100% !important;
    }
    .loader-bars{
      inset: 45px 0px 0px 135px;
  
    }
  }
}
@media only screen and (max-width: 1270px) {
  .btn-d {
    margin: 0px;
  }
  .body {
    padding-top: 105px;
  }
  #nav-bar {
    padding-top: 5px;
    height: 105px;
    border-bottom: none;
  }
  .quizSum {
    top: 105px;
  }
  .p-status {
    display: none;
  }
  .m-0-10-20 {
    margin: 0 5px;
  }
  .progress {
    width: 100vw;
  }
  .break {
    flex-basis: 100%;
    height: 0;
    margin-bottom: 5px;
  }
  .flex-wrap__ {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 1150px) {
  .np-logo {
    width: 80px;
    align-items: center;
  }
}




.section {
    width: 100% !important;
    display: inline-block;
    text-align: center;
    // min-height: 215px;
    vertical-align: top;
    margin: 1%;
    // background: var(--done-green);
    border-radius: 5px;
    // -webkit-box-shadow: 0px 0px 30px 1px #103136 inset;
    //         box-shadow: 0px 0px 30px 1px #103136 inset;
}
.bg-color{
  background-color: var(--done-green);
}

@media only screen and (max-width: 600px) {
.section {
min-width: 350px !important;
}
}

.progress {
  height: 0.5rem;
}

.loader-bars {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    // margin: 75px;
    display: inline-block;
    vertical-align: middle;
}

.loader-star {
    position: absolute;
    top: calc(50% - 12px);
}
.loader-7 {
  .line {
    width: 8px;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--theme-bg)), tovar(--theme-bg-light));
    background: -webkit-linear-gradient(top,var(--theme-bg),var(--theme-bg-light));
    background: -o-linear-gradient(top, var(--theme-bg), var(--theme-bg-light));
    background: linear-gradient(to bottom, var(--theme-bg), var(--theme-bg-light));
}
} 

.loader-7 {
  .line1 {
    left: 0;
    -webkit-animation: line-grow 0.5s ease alternate infinite;
    animation: line-grow 0.5s ease alternate infinite;
}
.line2 {
  left: 20px;
  -webkit-animation: line-grow 0.5s 0.2s ease alternate infinite;
  animation: line-grow 0.5s 0.2s ease alternate infinite;
}
.line3 {
  left: 40px;
  -webkit-animation: line-grow 0.5s 0.4s ease alternate infinite;
  animation: line-grow 0.5s 0.4s ease alternate infinite;
}
}
 
/*LOADER-8*/



/* ----------------     KEYFRAMES    ----------------- */






@-webkit-keyframes line-grow {
    0% {
        height: 0;
    }
    100% {
        height: 75%;
    }
}

@keyframes line-grow {
    0% {
        height: 0;
    }
    100% {
        height: 75%;
    }
}

