#main-body {
  height: 100%;

}

p {
  letter-spacing: 0.15px;
}

.parent-div {
  padding-top: 65px;
  position: relative;
  padding-right: 375px;
  background-color: var(--background-gray);
}

.font-family {
  font-family: Basis Grotesque Pro Bold;
}

.heightSet {
  height: 100vh;
}

.margin-auto {
  margin: 0 auto;
}

.description-div {
  padding: 15px 0px;
}

.table-div {
  padding: 13px 0px;
}

.button-div {
  padding: 10px 20px 10px 20px;
}

.right-icon {
  width: 17px;
}

.back-color {
  color: var(--gray);
}

.quiz-detail-container {
  // width: calc(100% - 325px);
  width: 100%;
  max-width: 670px;
  background-color: var(--white);
  margin-top: 15px;
  box-shadow: 0px 3px 6px #00000012;
  border: 1px solid #eaeaea;
}

.box-outline {
  border: 1px solid var(--line-border);
  padding: 12px;
  width: 100%;

}

.upper-div-outline {
  padding: 10px 50px;
  border-bottom: 1px solid var(--line-border);
}

.width-100 {
  width: 100%;
}

.max-width-300 {
  max-width: 300px;
}

.max-width-div {
  max-width: 600px;
}

.loader-image {
  margin: 240px auto;
}

.max-width-100 {
  max-width: 100%;
}

.holder {
  animation: spin 3s ease-in-out infinite;
  max-width: 100%;

  img {
    max-width: 100%;
  }
}

@keyframes spin {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

.max-width-900 {
  max-width: 900px;
}

.quiz-paragraph {
  max-width: 600px;
  word-break: break-all;
}

.margin-right-60 {
  margin-right: 60px;
}

.goodLuckText {
  display: none;
  position: absolute;
  right: 100%;
  width: 100px;
}

.showText {
  position: relative;

  &:hover .goodLuckText {
    display: block;
  }
}

.wt-holder {
  max-width: 600px;
  text-align: center;
  margin: 150px auto;
  background: var(--white);
  padding: 2rem;

  h1 {
    font-size: 30px;
    text-align: center;
  }

  font-size: 18px;
  border-radius: 6px;
  box-shadow: 0px 5px 14px #00000040;
}

.guidelines-holder {
  max-width: 700px;
  text-align: center;
  margin: 120px auto;
  background: var(--white);
  padding: 2rem;
  min-height: 580px;

  div {
    animation: one-second-animation 0.5s;
  }
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--course-landing-bg);
}

.circle-active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--theme-bg);
}

.upper-line:hover {
  cursor: pointer;
}

.stats-board {
  padding: 0px 0px 30px 50px;
}

.stats-board-right {
  width: 375px;
  min-height: calc(100vh - 65px);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 25px;
  position: absolute;
  top: 65px;
  right: 0;
  border-left: 1px solid var(--light-gray);
}

.flex-direction-row-col {
  flex-direction: row;
}

.stats-board-right-row {
  border-bottom: 1px solid #ececec;
  align-items: center;
  padding: 14px 7px;

  .img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-image: radial-gradient(#3fa0e8, #5169d5);
    box-shadow: 0px 3px 6px #00000029;
  }

  &:hover {
    background: #F5F6FA;
  }
}

.stats-board-right-row-unit {
  width: 160px;
  margin-left: 10px;

  h6 {
    margin: 5px 0px 0px 0px;
  }

  div {
    label {
      margin-bottom: 0;
    }
  }
  .subtitle-1{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.english-btn {
  width: fit-content;

  &:hover {
    color: white;
  }
}

.max-image-height {
  max-height: 170px;
}

.btn-d-text {
  background-color: transparent;
  border: none;
}

.subtitle-1 {
  text-align: left;
  font: normal normal 14px/16px Basis Grotesque Pro Bold !important;
  letter-spacing: 0.11px;
  color: var(--black) !important;
  opacity: 1;

}

.quiz-detail {
  margin: 10px auto;
  // height: 500px;
}

.tag-name {
  width: 150px;
}

.tag-value {
  width: 100px;
  display: flex;
  justify-content: center;
  font-family: 'Basis Grotesque Pro Bold';
}

.good-luck {
  position: absolute;
  left: 100%;
  top: 8px;
  color: #0000009c;
  margin-left: 15px;
  display: none;
  transition-duration: 0.25s;
}

.luck-holder {
  position: relative;

  &:hover {
    .good-luck {
      display: block;
    }
  }
}

.t-d {
  border-bottom: 1px solid var(--light-gray);
  margin-bottom: 10px;
  transition-duration: 0.5s;
}

.t-d-tags {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.verify-banner{
  .parent-div{
    padding-top: 0;
    
  }
  .stats-board-right{
    top: 0;
    min-height: 100vh;
  }
}
.practice-popup{
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background: rgba(0, 0, 0, 0.61);
  &-wrapper{
    width: 100%;
    max-width: 733px;
    position: relative;
    background: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    overflow: hidden;
    &::before{
      content: '';
      background: url(../../../../assets/practice/popup-pattren.svg) no-repeat;
      background-size: contain;
    }
    &::after{
      content: '';
      background: url(../../../../assets/practice/popup-pattren.svg) no-repeat;
      background-size: contain;
    }
    &.start-without-friend{
      max-width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      .practice-popup-content{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  &-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 17px;
    background: #E03249;
    h4{
      color: #fff;
      font-size: 16px;
    }

  }
  &-content{
    padding: 35px 0;
    text-align: center;
    h5{
      text-align: center;
      width: 100%;
      max-width: 406px;
      margin: 18px auto;
      font-size: 18px;
      color: #535353;
    }
    ul{
      margin: 18px 0 ;
      padding: 0;
      list-style: none;
    }
    li{
      display: inline-block;
      &:not(:last-child){
        margin:0 18px 10px 0;
      }
    }
    .invite-btns{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      a{
        min-width: 230px;
        text-align: center;
        background: var(--theme-bg) 0 0 no-repeat padding-box;
        color: var(--white);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        padding: 10px 16px 9px 16px;
        text-transform: uppercase;
        letter-spacing: 1.25px;
        font: normal normal 14px/16px Basis Grotesque Pro bold;
        img{
          width: 13px;
        }
        
      }
    }
  }
  .practice-link{
    display: flex;
    align-items: center;
    justify-content: center;
    button{
      width: 140px;
      text-align: center;
    }
    a{
      padding: 8px;
      margin-right: 14px;
      background: #f1f3f4;
      color: #202124;
      font-size: .875rem;
    }
    p{
      color: #535353;
      font-size: 16px;
      &.coppied{
        color: green;
      }
    }
  }
}
.practice-challange {
  height: 45%;
  video{
    width: 50%;
    height: 100%;
  }
}
.practice-compitator{
  font-size: 22px;
  color: #FF3022;
  font-weight: bold;
  margin-top: 10px
}
.practice-noti{
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 12;
  display: flex;
  align-items: center;
  padding: 10px 16px;
  background: #fff;
  &-avatar{
    margin-right: 25px;
    img{
      width: 59px;
      height: 59px;
      object-fit: cover;
      object-position: top center;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }
  &-detail{
    font-size: 14px;
    font-family: Basis Grotesque Pro Bold;
    p{
      color: #000;
    }
    span{
      color: #A0A0A0;
    }
  }
}
.practice-user{
  background: linear-gradient(180deg, #DEFAFF 0%, rgba(222, 250, 255, 0) 73.53%);
  background-position: 0 110px;
  img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  p{
    color: #ADADAD;
    font-size: 14px;
    margin-top: 6px;
  }
}
.practice-invite{
  &-user{
    position: relative;
    p{
      color: #ADADAD;
      font-size: 14px;
      margin-top: 6px;
    }
    &-dd{
      display: none;
      padding: 10px;
      background: #fff;
      position: absolute;
      top: 0;
      right: 0;
      width: 220px;
      max-height: 168px;
      overflow-y: auto;
      border: 1px solid #ececec;
      box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
      &-item{
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ECECEC;
        img{
          width: 21px;
          height: 21px;
          margin-right: 14px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }  
        p{
            font-size: 9px;
        }
      }
    }
    &:hover .practice-invite-user-dd{
      display: block;
      -webkit-animation: fade-in .8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; 
          animation: fade-in .8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
  }
  &-avatar{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: Basis Grotesque Pro Bold;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    &.one{
      color: #FF3022;
      background: #FFECEC;
      box-shadow: 0px 0px 15px #FFECEC;
    }
    &.two{
      color: #FF3022;
      background: #FFF0C5;
      box-shadow: 0px 0px 15px #FFE59A;
    }
    &.three{
      color: #3553A0;
      background: #C8D7FF;
      box-shadow: 0px 0px 15px #C2D5FF;

    }
    &.four{
      color: #D53692;
      background: #FFD5ED;
      box-shadow: 0px 0px 15px #FFD4ED;
    }
    &.five{
      color: #D53692;
      background: #FFDAE1;
      box-shadow: 0px 0px 15px #FFDAE1;
    }
  }

}
.invite-attempt-quiz{
  margin-top: 25px;
  padding: 10px;
  box-shadow: 0px 0px 15px rgba(124, 124, 124, 0.25);
  p{
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
  }
  button{
    font-size: 10px;
    padding: 6px 8px;
  }
}

.verify-banner{
  .parent-div{
    padding-top: 0;
    
  }
  .stats-board-right{
    top: 0;
    min-height: 100vh;
  }
}

.quiz-detail-main {
  width: 100%;
}

.top-three-perfomers {
  // background: url(../../../../assets/user-position/animation\ for\ 1st\ 2nd\ 3rd.gif);
  background: url(../../../../assets/user-position/completeProfile-bg.gif);
  // background-image: url(../../../../assets/user-position/animation\ for\ 1st\ 2nd\ 3rd.gif);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  text-align: center;
  padding: 10px;

  h5 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
  }
}
.user-position-profile{
  max-width: 60px;
  min-width: 60px;
}

.user-position-avatar {
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;
  background-position: 100% 100%;
  padding: 0 0px 11px;
  box-sizing: border-box;

  img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-image: radial-gradient(#3fa0e8, #5169d5);

  }

  &.first {
    background-image: url(../../../../assets/user-position/avard-bg.png);
  }

  &.second {
    background-image: url(../../../../assets/user-position/avatar-bg-3rd.png);
  }

  &.third {
    background-image: url(../../../../assets/user-position/avatar-bg-2nd.png);
  }
}

.user-position {
  font-size: 11px;
  font-weight: bold;
  display: block;
}

.user-position-name {
  font-size: 12px;
  font-weight: bold;
  margin: 10px 0 5px;
  line-height: 1;
  text-transform: uppercase;
}

.top-perfomer {
  margin: 0 20px;
  max-width: 100px;
  min-width: 100px;

  .user-position {
    font-size: 12px;
  }

  .user-position-avatar {
    
    padding: 0 0px 20px;

    img {
      width: 62px;
      height: 62px;
      border-radius: 50%;
    }
  }

  .user-position-name {
    font-size: 12px;
  }
}

.user-clap {
  position: relative;
  display: inline-block;

  .counter-fixed{
     font-size: small;
     display: block;
  }
  // opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

.user-clap .user-clap-text {
  visibility: hidden;
  width: 180px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 14px;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: -13px;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.user-clap .user-clap-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.user-clap:hover .user-clap-text {
  visibility: visible;
  opacity: 1;
}

.user-prediction {
  // min-height: 82px;
  min-height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  button {
    display: flex;
    align-items: center;

    img {
      margin-right: 12px;
    }

    // .calc-icon-hover {
    //   display: none;
    // }

    // &:hover {
    //   color: var(--white);
    //   background-color: var(--theme-bg);

    //   .calc-icon {
    //     display: none;
    //   }

    //   .calc-icon-hover {
    //     display: block;
    //   }
    // }
  }
  .prediction-tooltip{
    color: var(--sidebar-label);
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
  }
}

.prediction-score {
  text-align: center;

  h6 {
    font-weight: bold;
    margin-bottom: 10px;

    span {
      color: var(--theme-bg);
    }
  }

  p {
    font-size: 16px;
    cursor: pointer;
    span{
      &:hover{
        padding: 10px 15px;
        background: var(--theme-bg-light) 0 0 no-repeat padding-box;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
}
    }
  }
}

.top-perfomers {
  max-height: 374px;
  overflow-y: auto;
  &.fullHeight{
    max-height: calc(100vh - 260px);
  }

}

.user-madle {
  margin: 0 34px 0 0;
}

.prediction-loader {
  position: fixed;
  inset: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(2, 2, 2, 0.7);

  &-box {
    max-width: 647px;
    width: 100%;
    // height: 458px;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 92px 0;
    text-align: center;
    margin: 0 20px;

    // img {
    //   width: 138px;
    //   height: 138px;
    // }

    .loading-text {
      margin-top: 50px;
    }
  }

}

.current-attempt {
  padding: 8px 10px;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;

  p {
    color: #413F3F;
    font-size: 14px;
    line-height: 1;
    margin: 0 10px;
  }

  &-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 31px;
    width: 100%;
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    background: var(--white);

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      text-align: center;
      font-size: 13px;
      cursor: pointer;
      padding: 5px 0;
      &:not(:last-child){
        border-bottom: 1px solid #e7e7e7;
      }
    } 
    
    li:hover {
      background-color: var(--theme-bg-light-medium);
      color: #fff;
    }
  }
}
.clap-btn {
  display: inline-block;
  Cursor: pointer;
  width: 40px;
  height: 40px;
  border: 1px solid #e03249;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50%;
    //border: 1px solid $primary-color;
    width: 40px;
    height: 40px;
  }
  &:hover{
    &::after{
      animation: shockwave 1s ease-in infinite;
    }
  }
}
.clap-btn {
  background: url('https://i.ibb.co/GVsbrFF/claps.png') no-repeat 0% 50%;
  background-size: 900%;
 }
.clap-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: steps(8);
}
.click-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 45px;
  left: 5px;
  background-color: var(--theme-bg);
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  font-size: small;
  padding: 5px;
}
.click-counter .counter {
  font-family: sans-serif;
  font-size: small;
  color: #fff;
}
.click-counter.first-active {
  animation: first-bump-in 1s forwards;
}
.click-counter.active {
  animation: bump-in 1s forwards;
}
.loader-bars {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  // margin: 75px;
  display: inline-block;
  vertical-align: middle;
}

.loader-star {
  position: absolute;
  top: calc(50% - 12px);
}
.loader-7 {
.line {
  width: 8px;
  position: absolute;
  border-radius: 5px;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--theme-bg)), tovar(--theme-bg-light));
  background: -webkit-linear-gradient(top,var(--theme-bg),var(--theme-bg-light));
  background: -o-linear-gradient(top, var(--theme-bg), var(--theme-bg-light));
  background: linear-gradient(to bottom, var(--theme-bg), var(--theme-bg-light));
}
} 

.loader-7 {
.line1 {
  left: 0;
  -webkit-animation: line-grow 0.5s ease alternate infinite;
  animation: line-grow 0.5s ease alternate infinite;
}
.line2 {
left: 20px;
-webkit-animation: line-grow 0.5s 0.2s ease alternate infinite;
animation: line-grow 0.5s 0.2s ease alternate infinite;
}
.line3 {
left: 40px;
-webkit-animation: line-grow 0.5s 0.4s ease alternate infinite;
animation: line-grow 0.5s 0.4s ease alternate infinite;
}
}

.mobile-leader-board{
  display: none;
}


@-webkit-keyframes fade-in-dd {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-dd {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes line-grow {
  0% {
      height: 0;
  }
  100% {
      height: 75%;
  }
}

@keyframes line-grow {
  0% {
      height: 0;
  }
  100% {
      height: 75%;
  }
}



@keyframes first-bump-in {
  0% {
    transform: translateY(-65px);
    opacity: 1;
  }
  50% {
    transform: translateY(-80px);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}
@keyframes bump-in {
  0% {
    transform: translateY(-80px) scale(0.9);
    opacity: 1;
  }
  50% {
    transform: translateY(-80px) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px) scale(1);
    opacity: 0;
  }
}
@keyframes shockwave {
  0% {
    transform: scale(1);
    box-shadow: 0 0 2px #e03249;
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
    box-shadow: 0 0 50px darken(#e03249, 20%), inset 0 0 10px #e03249;
  }
}
@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}
@media only screen and (min-width: 600px) {
  .quiz-detail {
    margin: 0px auto;
    padding: 0 50px;
  }

  .t-d-tags {
    max-width: 250px;
    margin: 0 10px;
  }
  .t-d {  
    padding: 0 40px;
  }
}

@media only screen and (max-width: 600px) {
  .guidelines-holder {
    margin: 65px auto;
  }

  .t-d {
    padding: 0 15px;
  }

  .t-d-tags {
    max-width: 100px;
    margin: 0 5px;
  }

  .quiz-paragraph {
    max-width: 300px;
    word-break: break-all;
  }

  .flex-direction-row-col {
    flex-direction: column;
  }

  .margin-right-60 {
    margin-right: 0px;
  }

  .upper-line {
    display: none !important;
  }

  .upper-line:hover {
    cursor: pointer;
  }

  .upper-div-outline {
    padding: 35px 30px;
    border-bottom: 1px solid var(--line-border);
  }

  .quiz-detail {
    margin: 20px auto;
    padding: 0 30px;
  }

  .container-btn-fixed-bottom{
    margin-bottom: 75px;
  }

  .btn-fixed-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    button{
      margin-top: 0 !important;
    }
  }
  .mobile-leader-board{
    display: block;
    padding: 5px 18px;
  }

  .practice-popup{
    padding: 10px;
    .practice-link{
      flex-direction: column;
      font-size: 14px;
      margin-top: 10px;
      a{
        font-size: 12px;
        margin-right: 0;
      }
      button{
        margin-top: 15px;
      }
    }
  }
  .practice-popup-header{
    h4{
      font-size: 14px;
    }
    .practice-popup-next img{
      width: 15px;
    }
  }
  .practice-popup-content{
    li{
      &:not(:last-child){
        margin-right: 5px;
      }
      &.whatsapp-icon{
        img{
          width: 42px;
        }
      }
      img{
        width: 30px;
        height: 30px;
        object-fit: cover;
        object-position: center;
      }
    }
    .invite-btns{
      flex-direction: column;
      a{
        font: normal normal 12px/14px Basis Grotesque Pro bold;
      }
      button{
        min-width: 230px;
        &:not(:last-child){
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {

  // .quiz-detail {
  //   margin: 20px auto;
  //   padding: 0 50px;
  // }
  .stats-board-right {
    display: none;
  }

  .quiz-detail-container {
    width: 100%;
  }

  .quiz-paragraph {
    max-width: 400px;
    word-break: break-all;
  }

  .break {
    flex-basis: 100%;
    height: 0;
    margin-bottom: 5px;
  }

  .flex-wrap__ {
    flex-wrap: wrap;
  }

  .parent-div {
    padding-right: 0px !important;
  }

  .button-div[data-v-9dcd660c] {
    padding: 30px 30px;
  }

  .quiz-detail-main {
    padding: 0 10px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .practice-challange video{
    width: 100%;
  }
}
.bread-crumbs{
  margin-top: 20px !important;
}

@media only screen and (max-width:1300px) and (min-width:1100px) {
  .box-outline {
    border: 1px solid var(--line-border);
    padding: 5px;
    width: 100%;
  }
}

@media only screen and (max-height:480px) and (min-height:300px) {
  .mt-div {
    margin-top: 165px;
  }
}

@media only screen and (max-width: 900px) and (min-width: 600px) {
  .on-left {
    transform: rotate(-90deg);
    position: relative;
    width: 200px;
    align-items: center;
    display: flex;
    right: 115px;
    top: 182px;
    align-self: flex-start;
  }
}

@media only screen and (max-width: 600px) {
  .on-left {
    transform: rotate(-90deg);
    position: relative;
    width: 200px;
    align-items: center;
    display: flex;
    right: 115px;
    top: 182px;
    align-self: flex-start;
  }
}

@media screen and (max-width : 480px) {
  .guidelines-holder {
    margin: 65px auto;
    margin-left: 7px;
    margin-right: 7px;
  }
}

.on-left {
  transform: rotate(-90deg);
  position: relative;
  width: 200px;
  align-items: center;
  display: flex;
  right: 110px;
  top: 12px;
  align-self: flex-start;
}

@media screen and (max-width:380px) {
  .prediction-score h6 {
    font-size: 14px;
  }

  .user-position-avatar {
    max-width: 50px;
    padding: 0 11px 11px;

    img {
      width: 30px;
      height: 30px;
    }
  }

  .top-perfomer {
    .user-position-avatar {
      max-width: 90px;
      padding: 0px 18px 18px;

      img {
        width: 45px;
        height: 45px;
      }
    }
  }
  .stats-board-right-row-unit{
    width: 140px;
  }
}
.practice-content {
  margin-top: 60px;
  text-align: center;

  &-title {
    margin: 30px 0;

    h2 {
      font-size: 32px;
      font-family: Basis Grotesque Pro Regular;
      line-height: 1;
      text-align: center;
      margin-bottom: 28px;
      text-transform: uppercase;
    }

    p {
      color: #606060;
      font-size: 22px;
      display: none;
    }
  }

  &-tooltip {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-top: -3px;
    vertical-align: top;

    p {
      width: 230px;
      position: absolute;
      top: 0;
      color: #606060;
      font-size: 16px;
      padding: 10px 12px;
      background: #FFFFFF;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      display: none;
      // text-transform: lowercase;
      z-index: 1;

      // &::first-letter {
      //   text-transform: capitalize;
      // }
    }

    &:hover p {
      display: block;
    }
  }
}

@media only screen and (max-width: 600px) {

  .practice-content {
    &-tooltip {
      position: static;
      
      img { 
        width: 16px;
      }

      p {
        width: 230px;
        position: absolute;
        top: auto;
        left: 50%;
        transform: translateX(-50%);

        &::first-letter {
          text-transform: capitalize;
        }
      }
    }

    &:hover p {
      display: block;
    }
  }
}