
.poppup-cp-container {
    z-index: 2147483657;
    display: block;
    position: fixed;
    inset: 0;
  }
  
  .email-poppup-cp-new{
    padding: 20px;
    /* max-height: 90%; */
    // overflow-y: auto;
    background: #fff;
    border-radius: 10px;
    transform: translateX(-50%)translateY(-50%);
    z-index: 2;
    position: absolute;
    left: 50%;
    /* height: 370px; */
    top: 50%;
  }
  
  .f-c {
    display: flex;
  }
  
  .closeBtn {
    position: absolute;
    right: 5px;
    top: 0px;
  }
  
  .d-col{
    flex-direction: column;
  }
  
  .d-row{
    flex-direction: row;
  }
  
  .btn-two{
    background-color: #E94058;
    width: 156px;
    padding: 3px 9px;
    border-radius: 5px;
    color: white;
    border: 2px solid #E94058;
  }
  .security-popup{
    &-image{
      margin: -90px 0 20px ;
    }
    &-detail{
      h4{
        font-size: 24px;
        color: #E03249;
      }
      p{
        font-size: 16px;
        margin: 12px 0 20px;
        span{
          font-weight: bold;
        }
      }
      button{
        color: #fff;
        padding: 10px 40px;
        font-size: 14px;
        text-transform: none;
        font-family: Basis Grotesque Pro Regular;
        background: linear-gradient(271.93deg, #FF3022 0.4%, #FF5222 66.93%);
        border-radius: 6px;
      }
      
    }
    &-appbtn{
      display: flex;
      justify-content: space-between;
      button{
        color: #000000;
        padding: 7px;
        background: #FFFFFF;
        border: 1px solid #000000;
        border-radius: 6px;
      }
    }
  }

  .rendered-form {
    .center {
      text-align: center;
    }
    .note { 
      color: grey;
    }
    .heading-color {
      color: #e03249;
    }
    div {
      margin-top: 10px;
    }
    h1{
      font-size: 20px;
      color: #e03249;
      line-height: 25px;
    }
    h2{
      font-size: 18px;
      line-height: 25px;
    }
    h3{
      font-size: 16px;
      line-height: 25px;
    }
    h4{
      font-size: 14px;
      line-height: 25px;
    }
    h5{
      font-size: 12px;
      line-height: 25px;
    }
    h6{
      font-size: 10px;
      line-height: 25px;
    }
  }
  @media only screen and (min-width: 530px){
    .email-poppup-cp-new {
      min-width: 490px;
      max-width: 490px;
    }
  }
  @media only screen and (max-width: 786px){
    .email-poppup-cp-new {
      width: 95%;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .flex-direction-row-col{
      flex-direction: column;
    }
    .break {
      flex-basis: 100%;
      height: 0;
      margin-bottom: 5px;
    }
  
    .flex-wrap{
      flex-wrap: wrap;
    }
  
    .ppmaxwidth{min-width: 300px;}
    .security-popup-appbtn{
      flex-direction: column;
      align-items: center;
      button{
        width: 100%;
        max-width: 230px;
        text-align: center;
        &:first-child{
          margin-bottom: 10px;
        }
      }
      
    }
  }
  @media (max-width: 320px) {
    .security-popup-image{
      margin: -65px 0 20px;
      img{
        width:80px
      }
    }
    .security-popup-detail{
      h4{
        font-size: 20px;
      }
      p{
        font-size: 12px;
      }
    }
    .security-popup-detail button{
      font-size: 12px;
    }
    .security-popup-appbtn button {
        font-size: 12px; 
    } 
  }
  