.btn-predictor{
    display: flex;
    align-items: center;
    text-decoration: inherit;
    &:hover{
      background: transparent;
    }
    p{
      color: #000;
    }
    span{
      color: #E03249;
      font-weight: bold;
    }
}

  // @media only screen and (min-width: 920px){
  //   .mdcat-predictor{
  //     position: fixed;
  //     top: -13px;
  //     z-index: 999;
  //     right: 332px;
  //   }
  // }