.right-inner-width {
  height: 100%;
}

.outlined:hover {
  color: var(--theme-bg);
}

.logout {
  width: 94%;
}

.width-100 {
  width: 100%;
}

.profile {
  position: relative;
}
.profile .img_p {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition-duration: 0.5s;
}
.profile .img_p:hover {
  cursor: pointer;
}

.email {
  word-break: break-all;
  max-width: 230px;
}

.bottom-div {
  justify-content: flex-start;
}

.blue-loader {
  border: 11px solid var(--border-white);
  border-top: 10px solid var(--theme-bg);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin: 2px -3px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.div-height {
  height: 400px;
  overflow: auto;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-10 {
  margin-top: 8px;
}

.padding-left-25 {
  padding-left: 25px;
}

.pointer-image {
  position: absolute;
  left: 10px;
  bottom: 0;
  top: 35px;
  height: 15px;
  right: 10px;
  z-index: 10;
  animation: one-second-animation 0.5s;
}

.profile-detail {
  min-width: 300px;
  max-height: 505px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background: var(--white);
  border-radius: 13px;
  top: 45px;
  box-shadow: 0 3px 6px var(--light-black);
  right: 0;
  animation: one-second-animation 0.5s;
  z-index: 1;
  overflow: auto;
}
.profile-detail h6 {
  font-size: 16px;
}
.profile-detail .img_ {
  width: 163px;
  height: 163px;
  margin: 13px 13px;
  border-radius: 50%;
}
.profile-detail p {
  font-size: 12px;
  margin: 5px;
}
.profile-detail a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signout {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  border-top: 1px solid var(--line-border);
  min-height: 40px;
}

.signout:hover {
  background-color: var(--line-border);
}

.dp {
  width: 100%;
  height: 215px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dp-bg {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: var(--theme-bg);
  height: 100%;
  z-index: -1;
}

.image-circle {
  width: 190px;
  height: 190px;
  margin: 0px 0px 0px 0px;
  border-radius: 50%;
  background-image: url("./../../../../assets/circle-around-dp.svg");
}

.logo-width {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.custom-file-upload {
  position: absolute;
  padding: 7px 11px;
  background: var(--white);
  border-radius: 50%;
  bottom: 32px;
  left: 193px;
  opacity: 0.8;
  width: 40px;
  height: 40px;
}
.custom-file-upload img {
  width: 18px;
}
.custom-file-upload:hover {
  opacity: 1;
  cursor: pointer;
}

.body-2 {
  font-family: Basis Grotesque Pro bold;
}

.dp-b-status {
  margin: 12px 25px;
}

.bottom-text {
  margin: 10px 0px 0px 0px;
  border-bottom: 1px solid var(--line-border);
}

.font-family-bold {
  font-family: "Basis Grotesque Pro Bold";
}

.noti-panel {
  position: relative;
  margin: 0 15px 0 10px;
}

.noti-icon {
  fill: #ffffff;
  font-size: 22px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: rgba(224, 50, 73, 0.8);
}
.noti-icon svg {
  width: 16px;
}

.noti-icon.new-noti {
  fill: #ffffff;
  position: relative;
}

.unread-count {
  position: absolute;
  content: "";
  top: -10px;
  right: -10px;
  width: 21px;
  height: 21px;
  color: #fff;
  background: #FF3622;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.noti-close {
  display: none;
}

.noti-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 15px;
  border-bottom: 1px solid #f0f0f0;
}

.noti-header h4 {
  margin: 0;
  font-size: 24px;
}

.noti-header a {
  color: var(--theme-bg);
  font-size: 16px;
}

.noti-dropdown {
  position: absolute;
  right: 0;
  width: 100%;
  min-width: 400px;
  max-width: 400px;
  max-height: 77.3vh;
  max-height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fff;
  border-radius: 5px !important;
  padding: 10px 0 0 !important;
  margin: 10px 0 0 !important;
  box-shadow: 3px 2px 6px 0px rgba(0, 0, 0, 0.3);
  scrollbar-color: rgba(0, 0, 0, 0.2) #ffffff;
  scrollbar-width: thin;
}

.noti-dropdown::-webkit-scrollbar {
  width: 8px;
}

.noti-dropdown::-webkit-scrollbar-track {
  background-color: #fff;
  /* border-radius: 100px; */
}

.noti-dropdown::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  /* border-radius: 100px; */
  scrollbar-color: rgba(0, 0, 0, 0.2);
}

.noti-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.noti-list li {
  padding: 5px 16px;
}

.noti-list li.read {
  background: #fff;
}

.noti-list li .noti-date {
  color: #686868;
  font-size: 15px;
  line-height: 1;
  margin: 0 0 16px;
  border-bottom: none;
  background: none;
}

.noti-list .noti-item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 8px 35px 8px 12px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.noti-list .noti-item:hover {
  background: rgba(224, 50, 73, 0.1);
}

.noti-list .noti-item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 12px;
  height: 12px;
  background: #e03249;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.noti-list .read .noti-item::after {
  background: transparent;
}

.noti-list .read .noti-title {
  color: #777;
}

.noti-list .read .noti-shrtdetail {
  color: #777;
}

.noti-thumb {
  margin-right: 10px;
}

.noti-thumb img {
  width: 56px;
  height: 56px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-width: 70px !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.noti-title {
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

.noti-shrtdetail {
  font-size: 14px;
  color: #494848;
  line-height: 1.3;
  margin: 0px 0px 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.noti-time {
  display: flex;
  align-items: center;
  line-height: 1;
}

.noti-time span {
  color: #ababab;
  font-size: 12px;
  margin-right: 15px;
  text-transform: uppercase;
}

.important .noti-important {
  display: block;
}

.noti-important {
  color: #ffc107;
  font-size: 16px;
  display: none;
}

.live-session {
  position: relative;
}
.live-session:hover .live-session-dd {
  display: block !important;
}
.live-session-btn {
  font-size: 14px;
  color: #E03249;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  background: #FCF2F3;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.live-session-dd {
  position: absolute;
  max-width: 350px;
  min-width: 350px;
  max-height: 283px;
  overflow-y: auto;
  padding: 0 16px;
  background: #FFF;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.live-session-item {
  display: flex;
  gap: 12px;
  padding: 16px 0;
  border-bottom: 1px solid #F0F0F0;
  cursor: pointer;
}
.live-session-avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.live-session-detail {
  overflow: hidden;
}
.live-session-detail p {
  font-size: 16px;
  font-weight: var(--font-bold);
}
.live-session-detail p span {
  color: #707070;
}

.live-session-user {
  background: #fff;
  display: block;
  position: relative;
}

.live-session-content {
  display: flex;
  align-items: center;
}

.live-session-user-list > li {
  display: inline-block;
}

.live-session-user-list {
  padding: 0;
  list-style-type: none;
}

.live-session-user-list {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
}

.live-session-user-list > li + li {
  margin-left: -0.5rem;
}

.live-session-user-list > li a {
  display: block;
  border: 0.125rem solid #fff;
  overflow: hidden;
  width: 1rem;
  height: 1rem;
  margin-bottom: -0.3125rem;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  border-radius: 2.25rem;
}

.live-session-user-list > li a img {
  display: block;
  max-width: 100%;
}

.live-session-user-list > li.name a {
  background: #C7C7CC;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
}

.live-session-user-text {
  color: #E03249;
  font-size: 12px;
  margin-left: 10px;
}

.live-session-dd-close {
  display: none;
}

@media screen and (max-width: 320px) {
  .noti-panel {
    margin: 10px 10px 0 0;
  }
  .dp {
    height: 195px;
  }
  .profile-detail {
    min-width: 285px;
  }
  .noti-list li {
    padding: 5px 10px;
  }
  .noti-date {
    font-size: 12px;
    margin: 0 0 10px;
  }
  .noti-thumb img {
    width: 40px;
    height: 40px;
  }
  .noti-title {
    font-size: 12px !important;
  }
  .noti-icon {
    width: 30px !important;
    height: 30px !important;
  }
  .noti-icon svg {
    width: 16px;
  }
}
@media only screen and (min-width: 1140px) {
  .poppup-cp-new-overlay {
    display: none;
  }
}
@media only screen and (max-height: 400px) {
  .profile-detail {
    max-height: 300px;
  }
}
@media only screen and (min-width: 600px) {
  .burger {
    width: 140px;
  }
}
@media only screen and (max-width: 600px) {
  .outlined {
    padding: 3px 6px !important;
  }
  .outlined img {
    margin-right: 0 !important;
  }
  .outlined span {
    display: none;
  }
  .burger {
    width: 120px;
  }
}
@media (max-width: 767px) {
  .noti-dropdown {
    position: fixed;
    min-width: 100%;
    width: 100vw;
    height: 92vh;
    max-height: 100%;
  }
  .noti-header h6 {
    flex: 1;
  }
  .noti-header .noti-close {
    margin-left: 25px;
  }
  .noti-close {
    display: block;
  }
  .noti-panel {
    margin: 0 10px 0 5px;
  }
  .noti-icon {
    width: 36px;
    height: 36px;
  }
  .live-session-btn {
    gap: 0;
    flex-direction: column;
    background: transparent;
  }
  .live-session-btn p {
    color: var(--white);
    font-size: 7px;
    font-weight: 800;
    padding: 2px 4px;
    background: var(--theme-bg);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .live-session-btn span {
    display: none;
  }
  .live-session-overlay {
    position: fixed;
    inset: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
  }
  .live-session-dd-close {
    display: block;
    padding: 14px 0;
    background: var(--white);
    border-bottom: 1px solid #F0F0F0;
  }
  .live-session-dd {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 383px;
    z-index: 2;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: all 1.5s linear;
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;
    transform: translateY(220px);
    -webkit-transform: translateY(220px);
    -moz-transform: translateY(220px);
    -ms-transform: translateY(220px);
    -o-transform: translateY(220px);
    -webkit-transition: all 1.5s linear;
    -moz-transition: all 1.5s linear;
    -ms-transition: all 1.5s linear;
    -o-transition: all 1.5s linear;
  }
  .live-session-dd::-webkit-scrollbar {
    display: none;
  }
  .live-session-dd.active {
    transition-property: all;
    transition-duration: 1.5s;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}/*# sourceMappingURL=app-header.css.map */